.container-dashboard{
	padding: 35px 48px 0px 48px;
	.perfil-dashboard{
		padding: 25px 0px 0px 0px;
		text-align: center;
		img{
			display: block;
			margin: auto;
			margin-bottom: 20px;
		}
		p{
			font-size: 18px;
			line-height: 10px;
			margin-bottom: 0px !important;
		}
		span{
			font-size: 12px;
			line-height: 14px;
			color: $color_green;
		}
		h4{
			font-size: 14px;
			font-family: $font_family_bold;
			margin-top: 38px;
		}
	}
	.graph-dashboard{
		img{
			width: 100%;
		}
		.title-graph-left{
			p{
				font-family: $font_family_bold;
			}
		}
		.title-graph-left, .title-graph-right{
			display: inline-block;
			font-size: 12px;
			letter-spacing: 0.2em;
			span{
				font-family: $font_family_bold;
				padding: 0px 15px 0px 15px;
			}
		}
		.title-graph-right{
			float: right;
		}
		.separator-g{
			padding: 0px 20px 0px 4px !important;
		}
	}
	.balance-transactions{
		padding: 30px 0px 0px 0px;
		margin-bottom: 50px;
		.title-table-dashboard, .dropdown-transactions-dashboard{
			display: inline-block;
		}
		.dropdown-transactions-dashboard{
			float: right;
			width: 212px;
			.dropdown-toggle::after {
				@extend %dropdown-toggle-after;
			    left: 90px;
			}
			.dropdown-menu {
			    @extend %dropdown-menu;
			}
			button {
			    @extend %button-dropdown;
			}
			.dropdown-item{
				@extend %dropdown-item;
			}
			.dropdown-item::before{
				@extend %dropdown-item-before;
			}
		}
	}
	.balances-dashboard{
		.balance-ethereum, .balance-dash, .balance-bitcoin{
			@extend %balance-crypto-styles;
		}
		.balance-ethereum::after, .balance-dash::after, .balance-bitcoin::after{
			@extend %background-crypto-after;
		}
		.balance-ethereum{
			@extend %background-ethereum;
		}
		.balance-ethereum::after{
			@extend %background-ethereum-after;
			
		}
		.balance-dash{
			@extend %background-dash;
		}
		.balance-dash::after{
			@extend %background-dash-after;
		}
		.balance-bitcoin{
			@extend %background-bitcoin;
		}
		.balance-bitcoin::after{
			@extend %background-bitcoin-after;
		}
		.title-balance{
			@extend %title-balance;
		}
		.amount-balance{
			@extend %amount-balance;
		}
		.custom-switch{
			@extend %custom-switch;
		}

		.custom-control-label::before {
		    @extend %custom-control-label-before;
		}

		.custom-switch .custom-control-label::after, .custom-switch .custom-control-input:checked~.custom-control-label::after{
			@extend %custom-switch-after;
		}
		.custom-control-input:checked~.custom-control-label::before {
		    @extend %custom-control-input-checked;
		}
		h3{
			text-align: center;
			margin-top: 6px;
    		margin-bottom: 25px;
		}
	}
	.balance-gray-ethereum, .balance-gray-dash, .balance-gray-bitcoin{
		@extend %background-gray-crypto;
	}
	.balance-gray-ethereum::after{
		@extend %background-gray-eth-after;
	}
	.balance-gray-dash::after{
		@extend %background-gray-dash-after;
	}
	.balance-gray-bitcoin::after{
		@extend %background-gray-dash-after;
	}
	.btn-general{
		@extend %button_v1;
		margin-top: 320px !important;
		a.btn-documentation{
			padding-left: 40px;
		}
		a.btn-documentation::before{
			content: url(../img/icon-documentation-mercury-gate.png);
		}
		a.btn-help{
			padding-left: 33px;
		}
		a.btn-help::before{
			content: url(../img/icon-help-support-mercury-gate.png);
			top: 6px;
		}
	}
}


