.container-general .email-template {
    margin-top: 6rem;
    .mg-table {
        line-height: 3;
        font-size: 12px;
        padding: 0 2rem;
        .mg-table-th {
            font-family: $font_family_bold;
            text-align: right;
        }
        .mg-table-td {
            font-family: $font_family_general;
            text-align: left;
        }
    }
    .form-centered-right {
        .top-content {
            .info-right {
                font-size: 9px;
                text-align: right;
                line-height: 2;
            }
        }
        .table-shop thead tr th {
            border-bottom: 1px solid #E1E1E1 !important;
        }
        .info-order {
            margin-top: 3rem;
            margin-bottom: 220px;
            font-family: $font_family_bold;
            font-size: 9px;
            .info-title {
                margin-bottom: 1rem;
                font-size: 12px;
            }
            .info-tag {
                text-transform: uppercase;
            }
            .info-content {
                text-align: right;
            }
        }
    }
    .content-email {
        background-color: #fff;
        box-shadow: 0 4px 2px rgba(137, 137, 137, 0.16);
        border-radius: 10px;
        height: 100%;
        pointer-events: auto;
        font-size: 12px;
        padding: 4.5rem 1rem 2.5rem;
        .e-check {
            margin-bottom: 0.8rem;
            margin-top: 0.5rem;
        }
        .e-title {
            font-family: $font_family_bold;
            font-size: 14px;
        }
        .e-title00 {
            font-family: $font_family_bold;
        }
        .e-address {
            margin: 3rem 0;
            font-size: 10px;
        }
        .e-message {
            margin-bottom: 30px;
        }
        .e-upper {
            text-transform: uppercase;
        }
        .e-description {
            padding: 0 2rem;
        }
        .e-info {
            font-family: $font_family_bold;
            font-size: 18px;
        }
        .btn-linkto {
            margin-top: 3rem;
            display: block;
            text-decoration: none;
            font-family: $font_family_bold;
            color: $color_general;
            font-size: 14px;
        }
        .e-input {
            color: #898989;
            background-color: #fff0;
            border-color: #fff0;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
            text-align: center;
            border-bottom: 1px solid $gray_light_3;
        }
        .e-input::placeholder {
            color: $gray_light_2;
        }
    }
}
.white-email-template,
.white-email-template.modal-dialog {
    max-width: 400px;
    .center-form {
        .content-email {
            padding: 1rem 1rem 2.5rem;
            background: #F6F7FB;
            box-shadow: 0 4px 2px rgba(137, 137, 137, 0.16);
            .mg-table {
                line-height: 2;
                font-size: 12px;
                padding: 0 2rem;
                margin-bottom: 1.5rem;
                .mg-table-td {
                    text-align: right;
                }
                .mg-table-th {
                    text-align: left;
                }
            }
        }
    }
}
