.container-hosted-catalog {
    padding: 48px 48px 0px 48px;
    margin-bottom: 30px !important;

    .left-description {
        ul {
            padding-left: 14px;

            li {
                font-size: 12px;
                list-style-type: none;
            }

            li::before {
                content: url('../img/icon-item-list-mercury-gate.png');
                position: absolute;
                left: 13px;

            }
        }
    }

    .table {
        thead th {
            text-align: left;
            color: #898989;
        }

        td {
            text-align: left;
            border-bottom: 0.5px solid #E3E4E8;
        }

        td:nth-child(3),
        td:nth-child(4),
        th:nth-child(4),
        th:nth-child(3) {
            text-align: center;
        }

        .action-edit,
        .action-remove {
            display: inline-block;
            margin-right: 6px;
        }

        .action-edit {
            background-image: url(../img/icon-edit-mercury-gate.png);
            width: 19px;
            height: 17px;
        }

        .action-remove {
            background-image: url(../img/icon-delete-mercury-gate.png);
            width: 18px;
            height: 21px;
            position: relative;
            top: 1px;
        }
    }

    .btn-general {
        margin-top: 180px !important;
        @extend %button_v1;
        border: 1px solid $gray_light_2;

        a.add-item {
            padding-left: 26px !important;
        }

        a.add-item::before {
            content: url(../img/icon-add-item-mercury-gate.png);
        }
    }

    .help_description {
        font-size: 14px;
    }

    .help_description p a {
        color: #898989;
        font-family: $font_family_bold;
    }

    .help_description p a.linkto-shop:before {
        content: url(../img/icon-shop-mercury-gate.png);
        top: 0.2rem;
        position: relative;
        padding-right: 0.15rem;
    }

    .help_description p a.linkto-risk:before {
        content: url(../img/icon-gear-mercury-gate.png);
        top: 0.2rem;
        position: relative;
        padding-right: 0.15rem;
    }
}

.modal-open .modal.show {
    background: rgba(0, 0, 0, 0.75);
}

.mg-modal {
    .modal-sm {
        max-width: 379px;
    }

    .modal-content {
        background: #F6F7FB;
        box-shadow: 0 4px 2px rgba(137, 137, 137, 0.16);
        border-radius: 10px;

        .modal-body {
            .description-mod {
                font-size: 14px;
                margin-top: 2rem;
            }

            .btn-keep,
            .btn-delete {
                width: 112px;
                height: 32px;
                font-size: 12px;
                letter-spacing: 0.2em;
                border-radius: 3px;
                text-align: center;
                padding-top: 6px;
                color: #898989;
                position: relative;
                text-transform: uppercase;
                border: 1px solid #E1E1E1;
                margin-top: 2rem;
            }

            .btn-keep {
                padding-top: 3px;
            }

            .btn-keep:before {
                content: url(../img/icon-shop-mercury-gate.png);
                position: relative;
                top: 3px;
                margin-right: 0.25rem;
            }
        }
    }
}

.center-form {
    background-color: #fff;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    pointer-events: auto;
    font-size: 12px;
    padding-right: 15px;
    padding-left: 15px;

    .footer-note {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 9px;
    }

    .form-centered-left {
        border-right: 1px solid $gray_light_2;
        padding: 2rem 2rem;

        .top-content {
            margin-top: 2rem;
        }

        .linkto {
            color: #898989;
            font-family: GothamRounded;
        }
    }

    .btn-mg .btn-save {
        display: block;
        width: 182px;
        height: 42px;
        font-size: 12px;
        letter-spacing: 0.2em;
        border-radius: 3px;
        text-align: center;
        margin: auto;
        padding-top: 12px;
        color: #898989;
        text-transform: uppercase;
        border: 1px solid #E1E1E1;
    }

    .form-group {
        margin-bottom: 0.35rem;

        input {
            background: #F6F7FB;
            height: 24px;
            box-shadow: none;
            border: none;
            padding: 0px 20px 0px 20px;
            font-size: 12px;
            color: #898989;
            margin-top: 0.25rem;
            border-radius: 4px;
        }

        label {
            font-family: $font_family_bold;
            text-align: right;
        }
    }

    .footer-info {
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    .form-centered-right {
        padding: 2rem 4rem 1rem 4rem;

        .items-box {
            margin-top: 1.5rem;

            .content-items-left {
                span {
                    display: block;
                    font-size: 9px;
                    line-height: 20px;
                }

                span:nth-child(1) {
                    font-family: $font_family_bold;
                }
            }

            .content-items-left .title-item,
            .content-items-right .title-item {
                font-size: 12px;
                font-family: $font_family_bold;
                margin-bottom: 1.25rem;
                display: block;
            }

            .content-items-right {
                font-size: 9px;
                line-height: 20px;

                .form-cb {
                    text-align: end;
                }
            }
        }

        .top-content {
            display: flex;
            justify-content: space-between;
            margin-top: 2rem;

            .title-shop {
                font-size: 14px;
            }

            .title-shop:before {
                content: url(../img/icon-shop-mercury-gate.png);
                position: relative;
                margin-right: 0.5rem;
                top: 4px;
            }
        }

        .tabs-crypto {
            display: flex;
            justify-content: end;

            a {
                margin-right: 0.45rem;
            }

            .tab-BTC {
                content: url(../img/logo-gray-btc-26x27-mercury-gate.png);
                max-height: 25px;
                max-width: 24px;
            }

            .tab-USD {
                content: url(../img/logo-gray-usd-26x27-mercury-gate.png);
                max-height: 24px;
                max-width: 25px;
            }

            .tab-eth {
                content: url(../img/logo-gray-eth-26x27-mercury-gate.png);
                max-height: 25px;
                max-width: 24px;
            }

            .tab-dash {
                content: url(../img/logo-gray-dash-26x27-mercury-gate.png);
                max-height: 25px;
                max-width: 24px;
            }

            .tab-BTC.active {
                content: url(../img/logo-color-btc-26x27-mercury-gate.png);
            }

            .tab-USD.active {
                content: url(../img/logo-color-usd-26x27-mercury-gate.png);
            }

            .tab-eth.active {
                content: url(../img/logo-color-eth-26x27-mercury-gate.png);
            }

            .tab-dash.active {
                content: url(../img/logo-color-dash-26x27-mercury-gate.png);
            }
        }

        .btn-rec {
            background: #3AD1BF;
            border-radius: 4px;
            color: #fff;
            font-family: $font_family_bold;
            font-size: 10px;
            line-height: 12px;
            text-align: right;
            text-transform: uppercase;
            padding: 0.25rem 0.5rem;
        }

        .item-list {
            font-size: 14px;
            font-family: $font_family_bold;
        }

        .table.table-shop {
            a.icon-trash {
                background-image: url(../img/icon-delete-mercury-gate.png);
                height: 20px;
                width: 20px;
                display: block;
                background-repeat: no-repeat;
            }

            thead th {
                text-align: left;
                color: #898989;
                font-family: $font_family_bold;
                text-transform: capitalize;
                font-size: 12px;
                font-weight: normal;
            }

            tbody .form-group input {
                max-width: 72px;
            }

            tbody tr td {
                font-family: $font_family_general;
                font-size: 9px;
                line-height: 2;
                text-align: left;
                text-transform: none;
                font-weight: normal;
                max-width: 200px;
            }
        }
    }
}

.hosted-add-item {
    .div-help {
        margin-top: 30px;

        a {
            color: $color_general;
            font-size: 12px;
            padding-left: 8px;
        }

        a::before {
            content: url(../img/icon-help-mercury-gate.png);
            position: relative;
            right: 8px;
            top: 1px;
        }
    }

    .box-form {
        .form-add-item {
            margin-top: 40px;

            input {
                margin-bottom: 30px;
            }

            .input-inline,
            .dropdown-inline {
                display: inline-block;
                margin-right: 20px;

                label {
                    font-size: 13px;
                    display: block;
                    font-family: $font_family_bold;
                    margin-left: 5px;
                }
            }

            input,
            .dropdown-toggle {
                background: $gray_light;
                border-radius: 10px;
                height: 40px;
                box-shadow: none;
                border: none;
                padding: 0px 20px 0px 20px;
                font-size: 14px;
                color: $color_general;
            }

            .input-medium {
                width: 285px;
            }

            .input-small {
                width: 180px;
            }

            .input-large {
                width: 480px;
            }

            input[type=date]::-webkit-inner-spin-button {
                display: none;
                -webkit-appearance: none;
            }

            .dropdown-toggle::after {
                border: none !important;
                content: "\f078";
                font-weight: 800;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: relative;
                top: 5px;
                left: 12px;
                color: $color_general;
            }

            .dropdown-menu {
                width: 180px;
                /*height: 92px;*/
                background-color: #fff;
                border: transparent;
                box-shadow: 0px 4px 4px rgba(137, 137, 137, 0.16);
                padding: 0px;

                .dropdown-item {
                    font-size: 10px;
                    text-transform: uppercase;
                    color: $color_general;
                }
            }

            .group-2 {
                .input-medium {
                    width: 268px;
                }
            }

            .group-1 {
                .input-inline {
                    a.edit-file {
                        background-image: url(../img/icon-editfile-mercury-gate.png);
                        background-repeat: no-repeat;
                        height: 25px;
                        width: 22px;
                        display: block;
                        position: absolute;
                        left: 213px;
                        top: 36%;
                    }
                }
            }

            .collect-buyer {
                margin-top: 30px;

                form {
                    width: 100%;
                    margin-top: 30px;
                }

                .custom-control {
                    margin-bottom: 5px;

                    .custom-control-label {
                        font-family: $font_family_bold;
                        font-size: 14px;
                    }
                }

                .custom-control-label::before {
                    position: absolute;
                    top: 1px;
                    border: $gray_light solid 1px;
                    background-color: $gray_light_2;
                    border-radius: 100px;
                }

                .custom-control-input:checked~.custom-control-label::before {
                    color: #fff;
                    border-color: $color_general;
                    background-color: $color_general;
                }

                .custom-control-label::after {
                    top: 2px;
                }

                .btn-save-changes {
                    @extend %button_v1;
                    float: right;
                    margin-right: 30px;
                    border: 1px solid $gray_light_2;
                    width: 234px;
                    margin-top: 0px !important;

                }
            }

            .button-code {
                margin-top: 40px;

                p {
                    margin-bottom: 30px;
                    margin-top: 15px;
                    font-size: 14px;
                    font-family: $font_family_bold;
                }

                label {
                    display: block;
                    font-size: 14px;
                    text-align: left;
                    margin-left: 10px;
                    margin-bottom: 6px;
                }

                .box-url-general,
                .small-btn-general,
                .medium-btn-general,
                .large-btn-general,
                .qr-code {
                    display: inline-block;

                    img {
                        display: block;
                        margin: auto;
                    }
                }

                .small-btn-general,
                .medium-btn-general,
                .large-btn-general,
                .qr-code {
                    margin-left: 12px;
                }

                .box-url-general {
                    label {
                        font-family: $font_family_bold;
                    }

                    .box-url {
                        border: 1px solid $gray_light_2;
                        border-radius: 10px;
                        width: 57px;
                        height: 57px;
                        margin: auto;

                        img {
                            margin-top: 13px;
                        }
                    }
                }

                .qr-code {
                    label {
                        font-family: $font_family_bold;
                    }
                }

                .qr-border {
                    border: 1px solid $gray_light_2;
                    border-radius: 10px;
                    width: 81px;
                    height: 81px;
                    margin: auto;

                    img {
                        margin-top: 10px;
                    }
                }

                .copy-url-html {
                    margin-top: 18px;

                    code {
                        color: $color_general;
                    }

                    p {
                        margin-bottom: 10px;
                    }
                }

                .code-1 {
                    border: 1px solid $gray_light_2;
                    border-radius: 10px;
                    padding: 15px;
                    font-size: 14px;
                }

                .code-1-general,
                .code-2-general,
                .code-3-general,
                .code-4-general,
                .code-5-general {
                    display: none;
                }

                .code-1-general.active,
                .code-2-general.active,
                .code-3-general.active,
                .code-4-general.active,
                .code-5-general.active {
                    display: block;

                    h5 {
                        font-family: $font_family_bold;
                        font-size: 14px;
                        margin-top: 25px;
                    }

                    .preview-btn {
                        margin-top: 10px;
                    }
                }

                .code-5-general {

                    .for-web,
                    .for-print {
                        display: inline-block;
                    }

                    .for-web {
                        margin-right: 100px;
                        position: relative;
                        top: -124px;
                    }
                }
            }
        }
    }

    /* The container */
    .custom-check-btn {
        display: block;
        position: relative;
        padding-left: 29px;
        margin-bottom: 12px;
        cursor: pointer;
        font-size: 22px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-family: $font_family_bold;
        font-size: 14px;

        .custom-check-btn input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        .check-btn {
            position: absolute;
            top: 2px;
            left: 0;
            height: 21px;
            width: 21px;
            background-color: #FFF;
            border-radius: 1rem;
            border: 1px solid $gray_light_2;
        }
    }

    .custom-check-btn:hover input~.check-btn {
        background-color: #ccc;
    }

    .custom-check-btn input:checked~.check-btn {
        background-color: #FFF;
        border: 1px solid #898989;
    }

    .check-btn:after {
        content: "";
        position: absolute;
        display: none;
    }

    .custom-check-btn input:checked~.check-btn:after {
        display: block;
        top: 5px;
        left: 5px;
        width: 9px;
        height: 9px;
        border-radius: 1rem;
        background: #E1E1E1;
    }

    .custom-check-btn .check-btn:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .btn-general.btn-test-url {
        width: 228px;
        position: absolute;
        bottom: 0;
        background-image: url(/img/icon-test-url-mercury-gate.png);
        background-repeat: no-repeat;
        background-position: 10px center;
    }

    .btn-general.btn-test-url00 {
        width: 228px;
        margin-top: 20px !important;
        justify-content: center;
    }

}
