//mixins

    // Font Face
    // =============================================================================
    @mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
        $src: null;
        $extmods: ( eot: "?", svg: "#" + str-replace($name, " ", "_") );
        $formats: ( otf: "opentype", ttf: "truetype" );
        @each $ext in $exts {
            $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
            $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
            $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
        }
        @font-face {
            font-family: quote($name);
            font-style: $style;
            font-weight: $weight;
            src: $src;
        }
    }

@mixin placeholder{
::-webkit-input-placeholder {@content}
:-moz-placeholder           {@content}
::-moz-placeholder          {@content}
:-ms-input-placeholder      {@content}  
}



// Responsive

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 320px;
$screen-sm-max: 767px;

// Small tablets (portrait view)
$screen-md-min: 768px;
$screen-md-max: 991px;

// Tablets and small desktops
$screen-lg-min: 992px;
$screen-lg-max: 1099px;

// Special
$screen-lgg-min: 1100px;
$screen-lgg-max: 1199px;

// Large tablets and desktops
$screen-xl-min: 1200px;
$screen-xl-max: 1280px;

$screen-xll-min: 1281px;
$screen-xll-max: 1365px;

// Special container 1440 +
$screen-xxll-min: 1440px;
$screen-xxll-max: 3000px;

$screen-xxxlll-min: 1900px;
$screen-xxxlll-max: 3000px;



//  Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) and (max-width: #{$screen-md-max})  {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) and (max-width: #{$screen-lg-max})  {
       @content;
   }
}

@mixin lgg {
   @media (min-width: #{$screen-lgg-min}) and (max-width: #{$screen-lgg-max})  {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) and (max-width: #{$screen-xl-max})  {
       @content;
   }
}

// Extra large devices
@mixin xll {
   @media (min-width: #{$screen-xll-min}) and (max-width: #{$screen-xll-max})  {
       @content;
   }
}

// Extra large devices
@mixin xxll {
   @media (min-width: #{$screen-xxll-min}) and (max-width: #{$screen-xxll-max})  {
       @content;
   }
}

// Extra large devices
@mixin xxxlll {
   @media (min-width: #{$screen-xxxlll-min}) and (max-width: #{$screen-xxxlll-max})  {
       @content;
   }
}

// Custom devices
@mixin rwd($screen) {
   @media (max-width: $screen+'px') {
       @content;
   }
}

