.container-payments-tools{
	padding: 48px 48px 0px 48px;
    margin-bottom: 30px !important;
    .title-right{
        margin-bottom: 50px;
    }
    .title-form{
        margin-top: 50px;
        margin-bottom: 40px;
    }
	.input-inline, .dropdown-inline{
		display: inline-block;
        margin-right: 20px;
        label{
            font-size: 13px;
            display: block;
            font-family: $font_family_bold;
            margin-left: 5px;
        }
	}
	
	.form input, input, .dropdown-toggle{
		background: $gray_light;
		border-radius: 10px;
		height: 40px;
		box-shadow: none;
		border: none;
		padding: 0px 20px 0px 20px;
		font-size: 14px;
		color: $color_general;
    }
	
	.input-medium{
		width: 308px;
	}
	.input-small{
		width: 120px;
	}
	.input-large{
		width: 480px;
	}

	input[type=date]::-webkit-inner-spin-button {
		display: none;
		-webkit-appearance: none;
    }
    .dropdown-toggle::after {
        border: none !important;
        content: "\f078";
        font-weight: 800;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        position: relative;
        top: 3px;
        left: 16px;
        color: $color_general;
    }
    .dropdown-menu{
        min-width: 120px;
        /*height: 92px;*/
        background-color: #fff;
        border: transparent;
        box-shadow: 0px 4px 4px rgba(137, 137, 137, 0.16);
        padding: 0px;
        .dropdown-item{
            font-size: 10px;
            text-transform: uppercase;
            color: $color_general;
        }
    }
	.btn-general{
	    margin-top: 582px !important;
		@extend %button_v1;
		a.btn-documentation{
			padding-left: 40px !important;
		}
		a.btn-documentation::before{
			content: url(../img/icon-documentation-mercury-gate.png);
		}
		a.btn-help{
			padding-left: 33px !important;
		}
		a.btn-help::before{
			content: url(../img/icon-help-support-mercury-gate.png);
			top: 6px;
		}
		a.btn-documentation, a.btn-help{
			margin:initial;
			margin-bottom: 12px; 
		}
	}
	%box-btn-pt{
		background: #FFFFFF;
		border: 1px solid $gray_light_2;
		box-sizing: border-box;
		border-radius: 10px;
		width: 310px;
		height: 101px;
		color: $color_general;
		padding: 15px 10px 15px 14px;
	    background-repeat: no-repeat;
	    margin-bottom: 42px;
	    h5{
			font-size: 12px;
			text-transform: uppercase;
			font-family: $font_family_bold;
		}
		p{
			font-size: 9px;
			text-transform: capitalize;
			width: 218px;
		}
	}
	.btn-payments-tools{
		h3{
			margin-bottom: 35px;
		}
		.box-btn-pt{
			@extend %box-btn-pt;
		}
		.box-btn-pap{
			@extend %box-btn-pt;
		}
		.box-btn-pt.btn-1{
			background-image: url(../img/icon-point-of-sale-app-mercury-gate.png);
			background-size: 75px 68px;
			background-position: 220px 14px;
		}
		.box-btn-pt.btn-2{
			background-image: url(../img/icon-payments-buttons-mercury-gate.png);
			background-size: 58px 74px;
			background-position: 235px 14px;
		}
		.box-btn-pt.btn-3{
			background-image: url(../img/icon-tools-quick-checkout-mercury-gate.png);
			background-size: 72px 72px;
    		background-position: 222px 14px;
		}
		.box-btn-pt.btn-4{
			background-image: url(../img/icon-hosted-catalog-mercury-gate.png);
			background-size: 62px 52px;
    		background-position: 232px 22px;
		}
		.box-btn-pt.btn-5{
			background-image: url(../img/icon-payments-email-billing-mercury-gate.png);
			background-size: 63px 68px;
    		background-position: 232px 14px;
		}
		.box-btn-pt.btn-6{
			background-image: url(../img/icon-manage-api-mercury-gate.png);
			background-size: 62px 65px;
    		background-position: 232px 14px;
		}
		.box-btn-pt.btn-7{
			background-image: url(../img/icon-legacy-api-mercury-gate.png);
		    background-size: 62px 62px;
		    background-position: 231px 16px;
		}
		.box-btn-pap.btn-1{
			background-image: url(../img/icon-new-paring-code-mercury-gate.png);
		    background-size: 46px 79px;
		    background-position: 245px 10px;
		}
	}
	.btn-integration{
		margin-top: 50px;
	}
	.paring-codes{
		.box-paring-codes{
			background: #FFFFFF;
			border: 1px solid #E1E1E1;
			box-sizing: border-box;
			border-radius: 10px;
			width: 101px;
			height: 101px;
			text-transform: uppercase;
			font-size: 12px;
			text-align: center;
			padding-top: 38px;
			font-family: $font_family_bold;
			display: inline-block;
			margin-right: 13px;
    		margin-bottom: 13px;

		}
	}
	.install-app{
		margin-top: 110px;
		.download-apple, .download-google{
			width: 155px;
			height: 50px;
			display: inline-block;
			margin-right: 10px;
			margin-top: 20px;
		}
		.download-apple{
			background: url(../img/icon-app-mac-mercury-gate.png) no-repeat;
			background-size: 100%;
		}
		.download-google{
			background: url(../img/icon-app-google-mercury-gate.png) no-repeat;
			background-size: 100%;
		}
	}
	.create-btn-checkout{
		.form-btn-checkout{
            margin-top: 40px;
            .btn-general{
                margin-top: 30px !important;
            }
			label{
				font-size: 14px;
				display: block;
				font-family: $font_family_bold;
				margin-left: 5px;
			}
			.button-size{
				margin-top: 40px;
				button{
					border: 1px solid $gray_light_2;
					box-sizing: border-box;
					border-radius: 4px;
					background: #fff;
					margin-right: 18px;
					margin-top: 10px;
					font-size: 14px;
					color: $color_general;
				}
				button:focus{
					background: $gray_light;
					outline: gray !important;
				}
				.btn-146x57{
					width: 143px;
					height: 57px;
				}
				.btn-168x65{
					width: 168px;
					height: 65px;
				}
				.btn-210x82{
					width: 210px;
					height: 82px;
				}
			}
			.payment-notification{
				margin-top: 40px;
				h3{
					margin-bottom: 40px;
				}
			}
		}
		.generate-code{
			margin-top: 65px;
			h3{
				margin-bottom: 30px;
			}
			p{
				font-size: 12px;
				margin-bottom: 5px;
				font-family: $font_family_bold;
				margin-left: 20px;
			}
			.box-generate-code{
				background: #272822;
				border-radius: 10px;
				width: 651px;
				height: 184px;
				padding: 15px;
				code{
					color: #A6E22E;
					font-size: 10px;
				}
			}
			.preview-button{
				margin-top: 55px;
				h3{
					margin-top: 30px;
					margin-bottom: 0px;
				}
			}
			.copy-code{
				background-image: url(../img/icon-copy-code-mercury-gate.png);
    			width: 24px;
    			height: 30px;
    			margin-top: 20px;
			}
			.box-code-1, .box-code-2, .box-code-3, .btn-preview-1, .btn-preview-2, .btn-preview-3{
				display: none;
			}
			.active{
				display: block !important;
			}
		}
    }
}


.new-bill{
    padding: 35px 48px 0px 48px;
    margin-bottom: 40px !important;
    .table-email-billing{
        .title-table-payments{
            display: inline-block;
            margin-right: 30px;
        }
        .dropdown-transactions-payments{
            @extend %dropdown-filter;
            .opt-sent::before{
                content: url(../img/icon-filter-send-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: 24px;
            }
            .opt-draft::before{
                content: url(../img/icon-filter-draft-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: 24px;
            }
            .opt-approved::before{
                content: url(../img/icon-filter-approved-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: 24px;
            }
            .opt-pending::before{
                content: url(../img/icon-filter-pending-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: 24px;
            }
            .menu-custom, .menu-custom-status{
                height: 189px !important;
                .opt-email-b::before{
                    content: url(../img/icon-email-billing-mercury-gate.png);
                    position: relative;
                    top: 3px;
                    right: 10px;
                }
                .opt-quick-c::before{
                    content: url(../img/icon-quick-checkout-mercury-gate.png);
                    position: relative;
                    top: 3px;
                    right: 10px;
                }
                .opt-point-s::before{
                    content: url(../img/icon-point-sale-mercury-gate.png);
                    position: relative;
                    top: 3px;
                    right: 10px;
                }
                .opt-donation::before{
                    content: url(../img/icon-donation-mercury-gate.png);
                    position: relative;
                    top: 1px;
                    right: 10px;
                }
                .opt-tips::before{
                    content: url(../img/icon-tips-mercury-gate.png);
                    position: relative;
                    top: 3px;
                    right: 10px;
                }
                .dropdown-item {
                    padding: 10px 0px 19px 30px !important;
                }
            }
            .menu-custom-status{
                height: 152px !important;
                .opt-pending::before{
                    content: url(../img/icon-pending-mercury-gate.png);
                    position: relative;
                    top: 1px;
                    right: 10px;
                }
                .opt-approved::before{
                    content: url(../img/icon-approved-mercury-gate.png);
                    position: relative;
                    top: 3px;
                    right: 10px;
                }
                .opt-declined::before{
                    content: url(../img/icon-declined-mercury-gate.png);
                    position: relative;
                    top: 3px;
                    right: 10px;
                }
            }
            .dropdown-toggle::after {
                @extend %dropdown-toggle-after;
                left: 120px;
                top: 8px;
                position: absolute;
            }
            .dropdown-menu {
                @extend %dropdown-menu;
                width: 157px;
                height: auto;
                padding-top: 0px;
                .dropdown-submenu>a:after{
                    display: none !important;
                }
            }
            button {
                @extend %button-dropdown;
                width: 158px !important;
            }
            .dropdown-item{
                @extend %dropdown-item;
                padding: 13px 0px 0px 45px !important;
                line-height: 12px;
                color: $color_general;
                a{
                    font-size: 10px;
                    line-height: 12px;
                    color: $color_general !important;
                }
            }
            .dropdown-item::before{
                @extend %dropdown-item-before;
            }
        }
        .table-responsive {
            margin-top: 10px;
        }
        %title-p{
            font-size: 10px;
            color: $color_green;
            text-transform: uppercase;
            font-family: $font_family_bold;
            margin-bottom: 0px;
        }
        .auto-convert{
            display: inline-block;
            text-align: center;
            position: relative;
            top: 11px;
            .title-p{
                @extend %title-p;
            }
            .sub-title-p{
                float: left;
                margin-top: 1px;
            }
            .convert-currency{
                left: 5px;
                position: relative;
                top: -5px;
            }
            .sub-title-p, .custom-control, .convert-currency{
                display: inline-block;
            }
            .sub-title-p, .convert-currency{
                font-size: 10px;
            }
            .custom-control-label::before {
                height: 10px;
                top: 0.53rem;
                @extend %custom-control-label-before;
            }
            .custom-switch{
                float: right;
                position: relative;
                top: -4px;
                left: 6px;
            }
            .custom-switch .custom-control-label::after {
                top: calc(.25rem + 2px);
                left: calc(-2.25rem + 3px);
                width: calc(1rem - 2px);
                height: calc(1rem - 2px);
            }
            .custom-switch .custom-control-label::before {
                left: -2.0rem;
                width: 1.54rem;
                pointer-events: all;
                border-radius: .5rem;
            }
            .custom-control-input:checked~.custom-control-label::before{
                @extend %custom-control-input-checked;
                border-color: $color_general;
            }
            .custom-switch .custom-control-input:checked~.custom-control-label::after{
                @extend %custom-switch-after;
            }
        }
        .filter-general{
            position: relative;
            z-index: 400;
            .date-in, .date-out{
                display: inline-block;
                text-align: center;
                position: relative;
                top: 2px;
                margin-left: 15px;
                border-right: 1px solid #E1E1E1;
                padding-right: 15px;
                .title-p{
                    @extend %title-p;
                }
                .sub-title-p{
                    font-size: 10px;
                    margin-bottom: 0px;
                }
            }
            .date-in{
                margin-left: 15px;
            }
            .date-out{
                border-right: none;
            }
            .pagination-table{
                display: none;
                text-align: center;
                position: relative;
                top: -12px;
                left: 29px;
                .title-p{
                    @extend %title-p;
                }
            }
        }
        .pagination{
            width: 130px;
            display: inline-block !important;
            position: absolute;
            top: 7px;
            z-index: 1000;
            right: 150px;
            li{
                display: inline-block;
                font-family: $font_family_bold;
                font-size: 10px;
            }
            .previous{
                margin-right: 4px;
                width: 26px;
                height: 28px;
                position: relative;
                top: -4px;
                right: 63px;
                a{
                    background: $gray_light;
                    border-color: $gray_light;
                }
                .fa-angle-left{
                    position: relative;
                    right: 4px;
                    color: $color_general;
                    top: -1px;
                }
            }
            .next{
                margin-left: 4px;
                width: 26px;
                height: 28px;
                background: $gray_light;
                position: relative;
                top: -4px;
                a{
                    background: $gray_light;
                    border-color: $gray_light;
                }
                .fa-angle-right{
                    position: relative;
                    right: 4px;
                    color: $color_green;
                    top: -1px;
                }
            }
            .page-link {
                color: $color_menu;
                background-color: transparent;
                border: 1px solid transparent;
                position: relative;
                padding-top: 12px;
            }
            .page-link:focus{
                box-shadow: none !important;
            }
            .page-item.active .page-link {
                color: $color_general;
                background-color: transparent;
                border-color: transparent;
                position: relative;
            }
        }
        .previous::after{
            content: "View page";
            position: absolute;
            font-size: 9px;
            color: $color_green;
            text-transform: uppercase;
            margin-bottom: 0px;
            top: 10px;
            left: 31px;
        }
        .dataTables_filter {
            text-align: right;
            display: inline-block !important;
            position: absolute;
            top: 7px;
            z-index: 1000;
            right: 20px;
            @include placeholder{
                color: #fff;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                font-size: 11px;
            }
            input{
                width: 120px !important;
                background: $color_green;
                color: #fff !important;
                border-radius: 0.2rem;
                border-top-right-radius: 15px;
                height: 31px;

            }
            input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
            input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
            /* Disable browser close icon for Chrome */
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-button,
            input[type="search"]::-webkit-search-results-decoration { display: none; }
        }
        .dataTables_filter::after{
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            content: "\f002";
            color: #fff;
            right: 20px;
            top: 5px;
            right: 14px;
            position: absolute;

        }
        .dataTables_filter::-ms-clear{
            display: none !important;
        }
        .btn-general a, .btn-general a{
            margin: initial !important;
        }
        .dropdown-submenu {
            position: relative;
        }
        table{
            td{
                position: relative;
                text-align: left;
                a{
                    color: $color_general;
                }
            }
            thead th{
                text-align: left;
            }
            .opt-sent::before{
                content: url(../img/icon-filter-send-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: -4px;
            }
            .opt-draft::before{
                content: url(../img/icon-filter-draft-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: -4px;
            }
            .opt-approved::before{
                content: url(../img/icon-filter-approved-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: -4px;
            }
            .opt-pending::before{
                content: url(../img/icon-filter-pending-mercury-gate.png);
                width: 10px;
                height: 10px;
                position: absolute;
                top: 14px;
                left: -4px;
            }
        }
    }
    .left-description {
        margin-top: 21px;
        h3{
			position: relative;
			a{
				padding-left: 15px;
			}
		}
        h4{
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .title-currency{
            margin-top: 50px;
            p{
                display: inline;
                position: relative;
                left: 10px;
                top: -10px;
            }
            .currency-bitcoin,
            .currency-ethereum,
            .currency-dash {
                font-size: 11px;
                text-transform: uppercase;
            }
            .currency-bitcoin::before {
                content: url(../img/logo-bitcoin-33x33-mercury-gate.png)
            }

            .currency-ethereum::before {
                content: url(../img/logo-ethereum-33x33-mercury-gate.png)
            }            
            .currency-dash:before{
                content: url(../img/logo-dash-31x30-mercury-gate.png)
            }
        }
        .order-total, .total-value{
            margin-top: 32px;
            p{
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        .total-value{
            span{
                font-size:12px;
                font-family: $font_family_general;
            }
            .paid-eb{
                p{
                    font-size: 13px;
                    padding-left: 10px;
                }
                p::before{
                    content: url(../img/icon-paid-mercury-gate.png);
                    position: relative;
                    right: 10px;
                    top: 4px;
                }
            }
        }
        .custom-control-label::before {
            height: 10px;
            top: 0.53rem;
            @extend %custom-control-label-before;
        }
        .custom-switch{
            position: relative;
            top: -4px;
        }
        .custom-switch .custom-control-label::after {
            top: calc(.25rem + 2px);
            left: calc(-2.25rem + 3px);
            width: calc(1rem - 2px);
            height: calc(1rem - 2px);
        }
        .custom-switch .custom-control-label::before {
            left: -2.0rem;
            width: 1.54rem;
            pointer-events: all;
            border-radius: .5rem;
        }
        .custom-control-input:checked~.custom-control-label::before{
            @extend %custom-control-input-checked;
            border-color: $color_general;
        }
        .custom-switch .custom-control-input:checked~.custom-control-label::after{
            @extend %custom-switch-after;
        }
    }
    .btn-general{
	    margin-top: 270px !important;
		@extend %button_v1;
		a.btn-draft-bill{
			padding-left: 40px;
		}
		a.btn-draft-bill::before{
            content: url(../img/icon-new-bill-mercury-gate.png);
            top: 6px;
        }
        a.btn-send-bill{
			padding-left: 40px;
		}
		a.btn-send-bill::before{
            content: url(../img/icon-send-bill-mercury-gate.png);
            top: 9px;
        }
        a.btn-resend-bill{
			padding-left: 40px;
		}
		a.btn-resend-bill::before{
            content: url(../img/icon-resend-mercury-gate.png);
            top: 9px;
        }
        a.btn-duplicate-bill{
			padding-left: 40px;
		}
		a.btn-duplicate-bill::before{
            content: url(../img/icon-copy-code-mercury-gate.png);
            top: 5px;
		}
    }
    .buyer-information{
        margin-top: 20px;
        h3{
            margin-bottom: 40px;
        }
        .dropdown-currency, .include-buyer, .dropdown-country, .dropdown-city, .dropdown-state{
            display: inline-block;
        }
        .include-buyer{
            label{
                font-family: $font_family_general;
            }
            label, .custom-control{
                display: inline-block;
            }
            .custom-control{
                margin-left: 40px;
            }
            .custom-control-label{
                font-family: $font_family_bold;
            }
            .custom-control-label::before, .custom-control-label::after {
                top: .20rem;
            }
            .custom-control-input:checked~.custom-control-label::before {
                color: #fff;
                border-color: $color_green;
                background-color: $color_green;
            }
        }
        .dropdown-toggle::after {
            border: none !important;
            content: "\f078";
            font-weight: 800;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            position: relative;
            top: 3px;
            left: 16px;
            color: $color_general;
        }
        .dropdown-menu{
            min-width: 268px;
            /*height: 92px;*/
            background-color: #fff;
            border: transparent;
            box-shadow: 0px 4px 4px rgba(137, 137, 137, 0.16);
            padding: 0px;
            .dropdown-item{
                font-size: 10px;
                text-transform: uppercase;
                color: $color_general;
            }
        }
        .bill-info{
            margin-top: 65px;
            h3{
                margin-top: 40px;
            }
        }
        .item-new-bill{
            margin-top: 30px;
        }
        #addBuyer , .addBuyerEdit{
            margin-top: 40px;
            .dropdown-toggle::after{
                left: 30px;
            }
            .dropdown-country{
                margin-left:35px;
            }
        }
        .addBuyerInfo{
            margin-top: 40px;
            /*.dropdown-toggle::after {
                left: 104px;
            }*/
        }
        .btn-add-item{
            .addItem{
                background: transparent;
                border:none;
                color: $color_general;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $font_family_bold;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
	}
	
}

.point-sale-app{
    .btn-general {
        margin-top: 146px !important;
    }
}

.new-bill{ 
    .btn-general {
		@extend %button_v1;
        margin-top: 500px !important;
        a.btn-new-bill::before{
            content: url(../img/icon-new-bill-mercury-gate.png);
            top: 6px;
        }
        a{
            border: 1px solid $gray_light_2;
            margin-bottom: 10px;
        }
    }
    .btn-new-b{
        margin-top: 270px !important;
    }
}

.bill-details{
    input{
        background: transparent;
        padding: 0px 20px 0px 0px;
        pointer-events: none;
    }
}

.bill-details, .edit-details{
    .btn-new-b {
        margin-top: 40px !important;
    }
    label{
        margin-left: 0px !important;
    }
    .input-large {
        width: 466px;
    }
    .input-medium {
        width: 221px;
    }
    a.btn-edit-bill::before {
        content: url(../img/icon-edit-bill-mercury-gate.png);
        top: 9px;
    }
    a.btn-delete-bill::before {
        content: url(../img/icon-delete-mercury-gate-20x20.png);
        top: 9px;
    }
    a.btn-save-bill::before {
        content: url(../img/icon-save-mercury-gate.png);
        top: 9px;
    }
    .dropdown-inline{
        margin-right: 0px;
    }
    .success-resent.show, .duplicate-bill.show{
        display: block !important;
        margin-top: 30px;
        padding-left: 38px;
        position: relative;    
        p::before{
            content: url(../img/icon-paid-mercury-gate.png);
            position: absolute;
            top: 8px;
            left: -3px;
        }
        p{
            font-size: 12px;
            font-family: $font_family_general;
            text-transform: initial;
        }
        
    }
    .modal.show .modal-dialog {
		width: 399px;
		max-width: 399px;
	}
	.modal-content{
		text-align: center;
		color: #898989;
		font-size: 14px;
		padding: 45px 15px 45px 15px;
		border-radius: 10px;
        margin-top: 130px;
        p{
            font-size: 14px;
            font-family: $font_family_general;
            line-height: 20px;
        }
		h5{
			text-transform: uppercase;
			font-family: $font_family_bold;
			font-size: 15px;
			margin-bottom: 18px;
        }
        h6{
            font-size: 14px;
            font-family: $font_family_bold;
            margin-top: 28px;
        }
		@include placeholder{
			color: #ECF1F5;
			font-family: $font_family_bold;
		}
		input{
			border: none;
			border-bottom:  1px solid $color_general;
			color: $color_general;
            text-align: center;
            border-radius: 0px;
            width: 214px;
            pointer-events: auto !important;
            margin-top: 10px;
            background: transparent;
		}
		.modal-footer{
			border: none;
		}
		.btn-footer{
			width: 290px;
            margin: auto;
            button{
                border: none;
                display: block;
                background: transparent;
                width: 112px;
                height: 32px;
                font-family: $font_family_bold;
                text-transform: uppercase;
                color: $color_general;
                margin: auto;
                margin-top: 5px;
            }
        }
        button.close{
            position: absolute;
            top: -20px;
            right: 20px;
            border: 1px solid gray;
            border-radius: 100px;
            width: 25px;
            height: 25px;
            font-weight: 500;
        }
        img{
            margin-bottom: 20px;

        }
    }
}

.edit-details{
    .bill-info{
        .dropdown-toggle::after {
            left: 64px !important;
        }
    }
}

.quick-check-out{
    .form-quick-check-out{
        width: 885px;
        .dropdown-toggle{
            text-align: left;
        }
        .dropdown-toggle::after{
            left: 103px;
        }
        .dropdown-menu {
            min-width: 265px;
        }
        .input-medium {
            width: 268px;
        }
        .input-large {
            width: 416px;
        }
        .btn-save-changes{
            margin-top: 80px !important;
            float: right;
            margin-right: 30px;
            border: 1px solid $gray_light_2;
            @extend %button_v1;
        }
    }
    .left-description{
        span{
            font-size: 12px;
            font-family: $font_family_general;
        }
        .btn-quick-checkout-general{
            margin-top: 50px !important;
            border: 1px solid $gray_light_2;
            @extend %button_v1;
            a.btn-quick-checkout{
                padding-left: 30px;
            }
            a.btn-quick-checkout::before{
                content: url(../img/icon-qr-code-mercury-gate.png);
            }
        }
        .btn-general{
            margin-top: 582px !important;
		    @extend %button_v1;
            a.btn-quick-checkout{
                padding-left: 40px;
            }
            a.btn-quick-checkout::before{
                content: url(../img/icon-qr-code-mercury-gate.png);
            }
        }
        .view-tip-report{
            margin-top: 350px;
            .btn-view-tip{
                margin-top: 20px !important;
                border: 1px solid $gray_light_2;
                @extend %button_v1;
                a{
                    padding-left: 20px;
                }
                a::before{
                    content: url(../img/icon-tip-report-mercury-gate.png);
                    position: absolute;
                    top: 12px;
                    left: 12px;
                }
            }
        }
    }
    .input-inline{
        position: relative;
    }
    .icon-help{
        background: transparent;
        border: none;
        position: relative;
        left: 82px;
        top: 22px;
    }
    .icon-help::before{
        content: url(../img/icon-help-13x13-mercury-gate.png);
        width: 13px;
        height: 13px;
    }
    
}

.tip-report{
    .title-date{
        padding: 0px;
    }
    .title-table, .date-table{
        display: inline-block;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        font-family: $font_family_bold;
    }
    .date-table{
        float: right;
    }
    table {
        font-size: 12px;
        thead th {
            text-align: center;
            color: $color_general;
        }
        td{
            border-bottom: 0.5px solid $color_menu;
            height: 25px;
            padding-top: 20px;
        }
        .invoice{
            color: $color_link;
            text-transform: initial;
            a{
                color: $color_link;
            }
        }
    }
}

.container-create-invoice{
    width: 410px;
    margin: auto;
    margin-top: 150px;
    text-align: center;
    padding: 25px;
    p{
        font-size: 14px;
        color: #fff;
        margin-top: 12px;
    }
    .logos-currency{
        .logo-bitcoin, .logo-ethereum, .logo-dash{
            display: inline-block;
            margin-right: 10px;
        }
        .logo-bitcoin{
            background-image: url(../img/logo-bitcoin-33x33-mercury-gate.png);
            width: 33px;
            height: 33px;
        }
        .logo-ethereum{
            background-image: url(../img/logo-ethereum-33x33-mercury-gate.png);
            width: 33px;
            height: 33px;
        }
        .logo-dash{
            background-image: url(../img/logo-dash-33x33-mercury-gate.png);
            width: 33px;
            height: 33px;
        }
    }
    h4{
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        margin-top: 20px;
        font-family: $font_family_bold;
    }
    .order-number{
        position: relative;
        input, button{
            display: inline-block;
            border-radius: 10px;
        }
        input{
            background: #fff;
            width: 275px;
            height: 40px;
            border:none;
            padding-left: 20px;
            font-size: 14px;
        }
        button{
            height: 40px;
            width: 65px;
            border: none;
            background: #C4C4C4;
            position: absolute;
            right: 11px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        button::before{
            font-size: 22px;
		    font-family: "Font Awesome 5 Free";
		    font-weight: 600;
            content: "\f061";
            position: absolute;
            color: #fff;
            top: 5px;
            left: 22px;
        }
    }
    .logo-mercury{
        margin-top: 40px;
        img{
            display: block;
            margin: auto;
        }
    }
    .checkout_box{
        width: 250px;
        font-family: $font_family_bold;
        position: relative;
        margin: auto;
        button{
            border: 1px solid $gray_light_2;
            box-shadow: 0px 2px 10px rgba(137, 137, 137, 0.2);
            border-radius: 10px;
            background: transparent;
            width: 73px;
            height: 65px;
            font-size: 20px;
            color: $gray_light_2;
            margin-bottom: 3px;           
        }
        .btn-checkout{
            width:227px;
            font-size: 20px;
        }
        .total-amount{
            font-size: 24px;
            color: #fff;
            margin-bottom: 15px;
            .input-checkout {
                background: transparent;
                border: 0;
                padding: 0rem 0rem 0 1.5rem;
                width: 226px;
                text-align: center;
                color: #fff;
            }

        }
        .btn-back{
            color: #fff;
            position: absolute;
            top: 8px;
            left: 16px;
            .fas{
                font-weight: 600;
                font-size: 20px;
            }
        }
        .btn-custom{
            border: 1px solid #E1E1E1;
            box-shadow: 0px 2px 10px rgba(137, 137, 137, 0.2);
            border-radius: 10px;
            background: transparent;
            height: 65px;
            font-size: 20px;
            color: #E1E1E1;
            margin-bottom: 3px;
            &.lg{
                width: 224px;
            }
            &.md{
                width: 111px;
            }
        }
        &.custom-tip{
            .btn-back{
                top: 0px;
            }
            
        }
    }
    button.btn-outline-mg {
        font-family: $font_family_bold;
            border: 1px solid #E1E1E1;
            box-sizing: border-box;
            background: transparent;
            color: #fff;
            border-radius: 0.25rem;
            width: 112px;
            height: 32px;
            margin-left: 0.65rem;
            margin-right: 0.65rem;
            margin-top: 2rem;
            text-transform: uppercase;
            font-size: 12px;
    }
}

    
.sent-email-billing{
    .left-description {
        margin-top: 21px;
        h4{
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }
        .title-currency{
            margin-top: 50px;
            p{
                display: inline;
                position: relative;
                left: 10px;
                top: -10px;
            }
            .currency-dash{
                font-size: 11px;
                text-transform: uppercase;
            }
            .currency-dash:before{
                content: url(../img/logo-dash-31x30-mercury-gate.png)
            }
        }
        .order-total, .total-value{
            margin-top: 32px;
            p{
                text-transform: uppercase;
                font-size: 14px;
            }
        }
        .total-value{
            span{
                font-size:12px;
                font-family: $font_family_general;
            }
            .paid-eb{
                p{
                    font-size: 13px;
                    padding-left: 10px;
                }
                p::before{
                    content: url(../img/icon-paid-mercury-gate.png);
                    position: relative;
                    right: 10px;
                    top: 4px;
                }
            }
        }
        .custom-control-label::before {
            height: 10px;
            top: 0.53rem;
            @extend %custom-control-label-before;
        }
        .custom-switch{
            position: relative;
            top: -4px;
        }
        .custom-switch .custom-control-label::after {
            top: calc(.25rem + 2px);
            left: calc(-2.25rem + 3px);
            width: calc(1rem - 2px);
            height: calc(1rem - 2px);
        }
        .custom-switch .custom-control-label::before {
            left: -2.0rem;
            width: 1.54rem;
            pointer-events: all;
            border-radius: .5rem;
        }
        .custom-control-input:checked~.custom-control-label::before{
            @extend %custom-control-input-checked;
            border-color: $color_general;
        }
        .custom-switch .custom-control-input:checked~.custom-control-label::after{
            @extend %custom-switch-after;
        }
    }
    .input-small {
        width: 142px !important;
    }
    .input-large {
        width: 470px !important;
    }
    input{
        margin-bottom: 22px;
    }
    .btn-general {
        margin-top: 50px !important;
        @extend %button_v1;
        a{
            border: 1px solid $gray_light_2;
            margin-bottom: 10px;
        }
		a.btn-draft-bill{
			padding-left: 40px;
		}
		a.btn-draft-bill::before{
            content: url(../img/icon-new-bill-mercury-gate.png);
            top: 6px;
        }
        a.btn-send-bill{
			padding-left: 40px;
		}
		a.btn-send-bill::before{
            content: url(../img/icon-send-bill-mercury-gate.png);
            top: 9px;
        }
        a.btn-resend-bill{
			padding-left: 40px;
		}
		a.btn-resend-bill::before{
            content: url(../img/icon-resend-mercury-gate.png);
            top: 9px;
        }
    }
    .buyer-information{
        h3{
            margin-bottom: 40px !important;
            margin-top: 20px;
        }
    }
    input{
        background: transparent;
        pointer-events: none;
        padding: 0px 20px 0px 0px;
    }
    label{
        margin-left: 0px !important;
    }
    a.btn-delete-bill::before {
        content: url(../img/icon-delete-mercury-gate-20x20.png);
        top: 9px;
    }
    a.btn-duplicate-bill::before{
        content: url(../img/icon-copy-code-mercury-gate.png);
        top: 5px;
    }
    .success-resent.show,.duplicate-bill.show{
        display: block !important;
        margin-top: 30px;
        padding-left: 38px;
        position: relative;    
        p::before{
            content: url(../img/icon-paid-mercury-gate.png);
            position: absolute;
            top: 8px;
            left: -3px;
        }
        p{
            font-size: 12px;
            font-family: $font_family_general;
            text-transform: initial;
        }
        
    }
    .modal.show .modal-dialog {
		width: 399px;
		max-width: 399px;
	}
	.modal-content{
		text-align: center;
		color: #898989;
		font-size: 14px;
		padding: 45px 15px 45px 15px;
		border-radius: 10px;
        margin-top: 130px;
        p{
            font-size: 14px;
            font-family: $font_family_general;
            line-height: 20px;
        }
		h5{
			text-transform: uppercase;
			font-family: $font_family_bold;
			font-size: 15px;
			margin-bottom: 18px;
        }
        h6{
            font-size: 14px;
            font-family: $font_family_bold;
            margin-top: 28px;
        }
		@include placeholder{
			color: #ECF1F5;
			font-family: $font_family_bold;
		}
		input{
			border: none;
			border-bottom:  1px solid $color_general;
			color: $color_general;
            text-align: center;
            border-radius: 0px;
            width: 214px;
            pointer-events: auto !important;
            margin-top: 10px;
            background: transparent;
		}
		.modal-footer{
			border: none;
		}
		.btn-footer{
			width: 290px;
            margin: auto;
            button{
                border: none;
                display: block;
                background: transparent;
                width: 112px;
                height: 32px;
                font-family: $font_family_bold;
                text-transform: uppercase;
                color: $color_general;
                margin: auto;
                margin-top: 5px;
            }
        }
        button.close{
            position: absolute;
            top: -20px;
            right: 20px;
            border: 1px solid gray;
            border-radius: 100px;
            width: 25px;
            height: 25px;
            font-weight: 500;
        }
        img{
            margin-bottom: 20px;

        }
    }
}
.aproved-bill{
    .btn-general {
        margin-top: 260px !important;
    }
}
.container-payments-tools.container-manage-api{
    .description{
        width: 218px;
        display: block;
    }
    .left-content{
            font-size: 12px;
        .title-cl{
            font-family: $font_family_bold;
        }
    }
    .form-right p.light-title {

        font-size: 14px !important;
    }
    .btn-mg.find{
          @extend %button_v1;
          margin-top: 1rem;
          border: 1px solid #E1E1E1;
          border-radius: 4px;
           width: 198px;
          a.btn-find{
              width: 198px;
          }
    }
    .btn-mg{
        .btn-token, .btn-slim{
            border: 1px solid #E1E1E1;
            border-radius: 4px;
            font-family: $font_family_bold;
            margin-top: 0rem;
        }
        a.btn-token{
            width: 139px;
            height: 34px;
            padding-top: 7px;
        }
          @extend %button_v1;
          a.btn-slim{
            padding: 6px 16px 8px 16px;
            height: 32px;
            width: 100%;
          }
          a.btn-slim.plus{
             padding-left: 36px;
          }
          a.btn-slim.plus::before{
             content: url(../img/mg-plus.png);
             top: 8px;
             left: 16px;
          }
          a.btn-slim.help{
             padding-left: 40px;
          }
          a.btn-slim.help::before{
             content: url(../img/mg-help.png);
             top: 8px;
          }
    }
    .card-add-new{
        font-size: 12px;
        .card-line{
            height: 100%;
            min-height: 36px;
            .card-new-head{
            align-self: center;
            text-align: end;
            }
            .card-new-body{
                align-self: center;
            }
            .card-new-body input{
                height: 32px;
            }
            .card-new-body .container-radio{
                font-size: 14px;
                font-family: $font_family_bold;
            }
        }
    }
    .card.card-mg-tools{
        border-radius: .7rem;
        font-size: 12px;
        line-height: 3;
        .card-mg-tools-body{ 
            padding: 1rem;
                .mg-card-tools-id{
                line-height: 1;
                padding-bottom: 10px; 
            } 
            .card-mg-ch{
            text-align: right;
            }
            .card-mg-cb input{
            height: 32px;
            }
        }
       
        .mg-btn-group{
            font-size: 12px;
            color: #898989;
            border-top: 1px solid;
            border-color: #E1E1E1;
            text-align: center;
            .mg-btn-group-edit{
                border-right: 1px solid;
                border-color: #E1E1E1;
                height: 46px;
                cursor: pointer;
            }
            .mg-btn-group-save{
                border-right: 1px solid;
                border-color: #E1E1E1;
                height: 46px;
                cursor: pointer;
            }
            .mg-btn-group-remove{
                height: 46px;
                cursor: pointer;
            }
            .btn-edit , .btn-save, .btn-remove{
                color: #898989;
                top: 6px;
                position: relative;
            }
            .btn-edit::before{
                content: url(../img/icon-edit-mercury-cash.png);
                top: 5px;
                position: relative;
                left: -7px;
            }
            .btn-save::before{
                content: url(../img/icon-save-mercury-cash.png);
                top: 5px;
                position: relative;
                left: -7px;
            }
            .btn-remove::before{
                content: url(../img/icon-remove-mercury-cash.png);
                top: 5px;
                position: relative;
                left: -7px;
            }
            .mg-btn-group-edit.active{
                background-color: #E1E1E1;
                border-radius: 0 0 0 0.62rem;
            }
            .mg-btn-group-save.disabled,
            .mg-btn-group-remove.disabled {
                display: none;
            }
        }
    }
    .mg-tools-pagination{
        margin: 3rem 0 0rem 0px;
        font-size: 10px;
        text-transform: uppercase;
        display: flex;
        font-family: $font_family_bold;
        .btn-previous{
            border-right: 1px solid #e1e1e1;
            padding-right: 1rem;
            padding-top: 4px;
            color: #3AD1BF;
        }
        .btn-next{
            padding-top: 4px;
            padding-left: 12px;
            color: #3AD1BF;
        }
    }
}


.choose-currency{
    margin-top: 50px;
    .logo-mercury-gate{
        img{
            display: block;
            margin:auto;
        }
    }
    .box-general{
        width: 379px;
        background: $gray_light;
        margin: auto;
        border-radius: 10px;
        margin-top: 35px;
        padding: 45px 45px 45px 45px;
        box-shadow: 0px 4px 2px rgba(137, 137, 137, 0.16);
        text-align: center;
        z-index: 700;
        input{
            border-bottom: 1px solid #898989;
            border-radius: 0px;
            margin: auto;
            display: block;
            margin-top: 70px;
            font-size: 12px;
            color: $color_green;
        }
        .view-privacy{
            font-size: 10px;
            margin-top: 20px;
            a{
                color: $color_link;
                margin-top: 15px;
                display: block;
            }
        }
        @include placeholder{
            color: $color_green;
        }
        a.btn-submit{
            text-align: center;
            font-size: 18px;
            font-family: $font_family_bold;
            background: transparent;
            border: none;
            color: $color_general;
            margin: auto;
            display: block;
            margin-top: 26px;
        }
        img{
            display: block;
            margin: auto;
            margin-bottom: 30px;
        }
        p{
            font-size: 12px;
            text-align: center;
            text-transform: capitalize;
        }
        h4{
            font-size: 24px;
            font-family: $font_family_bold;
            display: inline-block;
            margin-left: 15px;
            margin-right: 15px;
        }
        ul{
            border: 1px solid $gray_light_2;
            width: 228px;
            padding-left: 0px;
            margin: auto;
            margin-top: 30px;
            border-radius: 10px;
            li{
                list-style: none;
                border-bottom: 1px solid $gray_light_2;
                height: 72px;
                padding: 25px 0px 0px 38px;
                font-size: 14px;
                font-family: $font_family_bold;
                position: relative;
                a{
                    color: $color_general;
                }
            }
            li.logo-ethereum::before{
                content: url(../img/logo-ethereum-26x25-mercury-gate.png);
                width: 26px;
                height: 25px;
                position: absolute;
                left: 48px;
                top: 23px;
            }
            li.logo-bitcoin::before{
                content: url(../img/logo-bitcoin-26x25-mercury-gate.png);
                width: 26px;
                height: 25px;
                position: absolute;
                left: 48px;
                top: 23px;
            }
            li.logo-dash{
                border-bottom: none;
            }
            li.logo-dash::before{
                content: url(../img/logo-dash-26x25-mercury-gate.png);
                width: 26px;
                height: 25px;
                position: absolute;
                left: 48px;
                top: 23px;
            }
        }
        .url-copy{
            background-image: url(../img/icon-copy-code-mercury-gate.png);
            width: 24px;
            height: 30px;
            position: relative;
            top: 6px;
            display: inline-block;
        }
        .icon-information{
            background-image: url(../img/icon-information-mercury-gate.png);
            width: 26px;
            height: 26px;
            position: relative;
            top: 6px;
            display: inline-block;
        }
        .box-qr{
            background: #fff;
            margin: auto;
            text-align: center;
            width: 259px;
            height: 259px;
            padding-top: 10px;
            margin-top: 10px;
            margin-bottom: 18px;
            img{
                display: block;
                width: 238px;
                height: 238px;
            }
        }
        .p-small{
            font-size: 10px;
        }
    }
    .need-help{
        font-size: 12px;
        color: $color_link;
        font-family: $font_family_bold;
        text-align: center;
        margin-top: 28px;
    }
    .pay-wallet{
        background: transparent;
        border: 1px solid $gray_light_2;
        width: 234px;
        height: 42px;
        font-size: 18px;
        font-family: $font_family_bold;
        color: $color_general;
        margin: auto;
        display: block;
        margin-top: 30px;
        text-align: center;
        padding-top: 6px;
    }
    .copied-to-clipboard, .information-ad, .awaiting-payment, .trouble_paying{
        display: none;
        width: 379px;
        background: $gray_light;
        margin: auto;
        border-radius: 10px;
        margin-top: 35px;
        padding: 45px 45px 45px 45px;
        box-shadow: 0px 4px 2px rgba(137, 137, 137, 0.16);
        text-align: center;
        transition: 1s;
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
        z-index: 800;
        img{
            display: block;
            margin: auto;
        }
        h4{
            font-size: 18px;
            font-family: $font_family_bold;
            margin-top: 28px;
            text-transform: uppercase;
        }
        h5{
            font-size: 14px;
            font-family: $font_family_bold;
            text-transform: uppercase;
            margin-bottom: 32px;
        }
        .close-msg{
            font-size: 10px;
            margin-top: 40px;
            a{
                color: $color_general;
            }
        }
        .paid-details{
            font-size: 12px;
            margin-top: 10px;
            position: relative;
            .title-paid, .amount-paid{
                display: inline-block;
            }
            .title-paid{
                font-family: $font_family_bold;
                text-transform: capitalize;
                text-align: left;
                width: 100px;
                margin-right: 8px;

            }
            .amount-paid{
                text-transform: uppercase;
                text-align: right;
                width: 100px;
                margin-left: 8px;

            }
            .icon-help{
                position: absolute;
                left: 126px;
                top: 4px;
            }
        }
        .copy-payments{
            text-align: left;
            padding: 46px 0px 0px 48px;
            position: relative;
            a{
                color: $color_link;
                font-family: $font_family_bold;
                font-size: 12px;
            }
            a::before{
                content: url(../img/icon-copy-blue-mercury-gate.png);
                width: 26px;
                height: 30px;
                top: 40px;
                right: 48px;
                position: absolute;
            }
        }
    }
    .copied-to-clipboard.show, .information-ad.show{
        display: block;
    }
    .awaiting-payment{
        h5::before{
            content: url(../img/icon-time-mercury-gate.png);
            position: relative;
            top: 4px;
            right: 12px;
        }
        p{
            font-size: 12px;
        }
        a{
            font-size: 18px;
            font-family: $font_family_bold;
            color: $color_link;
            margin-top: 32px;
            display: block;
        }
    }
    .awaiting-payment.hide, .trouble_paying.hide{
        display: none;
    }
    .trouble_paying{
        p{
            font-size: 12px;
        }
        ul{
            padding-left: 0px;
            li{
            display: inline-block;
            padding: 0px 10px 0px 10px;
            }
        }
        a{
            font-size: 12px;
            font-family: $font_family_bold;
            color: $color_link;
            margin-top: 32px;
            display: block;
            text-transform: capitalize;
        }
    }
    .refund{
        h4{
            font-size: 18px;
            font-family: $font_family_bold;
            margin-top: 15px;
            text-transform: uppercase;
        }
        p{
            font-size: 12px;
        }
        span{
            font-size: 12px;
            display: block;
            margin-top: 38px;
        }
        img{
            display: block;
            margin: auto;
            margin-bottom: 20px;
        }
        h5{
            font-size: 14px;
            font-family: $font_family_bold;
            text-transform: uppercase;
            margin-bottom: 32px;
        }
    }
    .btn-done{
        font-size: 18px;
        font-family: "GothamRounded";
        text-align: center;
        text-transform: uppercase;
        margin: auto;
        display: block;
        margin-top: 30px;
        color: $color_general;
    }
}