.container-payments{
	padding: 35px 30px 0px 30px;
	margin-bottom: 30px !important;
	h3{
		margin-top: 21px;
	}
	.pagination, .dataTables_filter{
		display: block !important;
	}
	.payments-transactions{
		margin-top: 36px;
		.balance-ethereum, .balance-dash, .balance-bitcoin{
			@extend %balance-crypto-styles;
			margin:initial;
			margin-bottom: 28px;
		}
		.balance-ethereum::after, .balance-dash::after, .balance-bitcoin::after{
			@extend %background-crypto-after;
		}
		.balance-ethereum{
			@extend %background-ethereum;
		}
		.balance-ethereum::after{
			@extend %background-ethereum-after;
		}
		.balance-dash{
			@extend %background-dash;
		}
		.balance-dash::after{
			@extend %background-dash-after;
		}
		.balance-bitcoin{
			@extend %background-bitcoin;
		}
		.balance-bitcoin::after{
			@extend %background-bitcoin-after;
		}
		.title-balance{
			@extend %title-balance;
		}
		.amount-balance{
			@extend %amount-balance;
		}
		.custom-switch{
			@extend %custom-switch;
		}

		.custom-control-label::before {
		    @extend %custom-control-label-before;
		}

		.custom-switch .custom-control-label::after, .custom-switch .custom-control-input:checked~.custom-control-label::after{
			@extend %custom-switch-after;
		}
		.custom-control-input:checked~.custom-control-label::before {
		    @extend %custom-control-input-checked;
		}
		.balance-gray-ethereum, .balance-gray-dash, .balance-gray-bitcoin{
			@extend %background-gray-crypto;
		}
		.balance-gray-ethereum::after{
			@extend %background-gray-eth-after;
		}
		.balance-gray-dash::after{
			@extend %background-gray-dash-after;
		}
		.balance-gray-bitcoin::after{
			@extend %background-gray-bit-after;
		}
	}
	.btn-general{
		@extend %button_v1;
		a.btn-documentation{
			padding-left: 40px;
		}
		a.btn-documentation::before{
			content: url(../img/icon-documentation-mercury-gate.png);
		}
		a.btn-help{
			padding-left: 33px;
		}
		a.btn-help::before{
			content: url(../img/icon-help-support-mercury-gate.png);
			top: 6px;
		}
		a.btn-documentation, a.btn-help{
			margin:initial;
			margin-bottom: 12px; 
		}
	}
	.left-description{
		h4{
			font-size: 12px;
			text-transform: uppercase;
			margin-bottom: 18px;
		}
		h3{
			position: relative;
			a{
				padding-left: 15px;
			}
		}
		.title-currency{
			margin-top: 50px;
            p{
                display: inline;
                position: relative;
                left: 10px;
                top: -10px;
            }
            .currency-bitcoin,
            .currency-ethereum,
            .currency-dash {
                font-size: 11px;
				text-transform: uppercase;
				margin-top: 20px;
            }
            .currency-bitcoin::before {
                content: url(../img/logo-bitcoin-33x33-mercury-gate.png)
            }

            .currency-ethereum::before {
                content: url(../img/logo-ethereum-33x33-mercury-gate.png)
            }            
            .currency-dash:before{
                content: url(../img/logo-dash-31x30-mercury-gate.png)
            }
		}
		.amount-currency, .value-usd{
			margin-top: 50px;
			p{
				text-transform: uppercase;
				font-size: 16px;
			}
		}
		.rate, .auto-convert, .refund-amount, .refundable-total, .customer-email{
			margin-top: 50px;
			p{
				font-size: 12px;
				font-family: $font_family_general;
				margin-bottom: 0px;
			}
		}
		.refundable-total{
			p{
				font-size: 16px;
				font-family: $font_family_bold;
			}
		}
		.auto-convert p{
			margin-bottom: 15px;
		}
		.btn-general{
			@extend %button_v1;
			margin-top: 100px !important;
			border: 1px solid $gray_light_2;
			a.btn-refund::before{
				content: url(../img/icon-refund-mercury-gate.png);
				top: 12px;
			}
		}
	}
	.invoice-details{
		h5{
			font-size: 14px;
			font-family: $font_family_bold;
		}
		h3{
			margin-bottom: 40px;
		}
		input{
			padding-left: 10px;
			font-size: 14px;
			pointer-events: none;
			border: none;
		}
		.input-inline{
			display: inline-block;
			margin-right: 20px;
			label{
				font-size: 14px;
				display: block;
				font-family: $font_family_bold;
				margin-bottom: 24px;
			}
		}
		.text-status{
			input{
				text-transform: uppercase;
			}
		}
		.status-pending, .status-approved, .icon-pas, .icon-approved{
			display: inline-block;
			position: relative;
    		top: 5px;
		}
		.status-pending{
			background-image: url(../img/icon-pending-mercury-gate-19x19.png);
			width: 21px;
			height: 21px;
		}
		.status-approved{
			background-image: url(../img/icon-approved-mercury-gate-19x19.png);
			width: 21px;
			height: 21px;
		}
		.icon-pas{
			background-image: url(../img/icon-pas-22x21-mercury-gate.png);
			width: 22px;
			height: 21px;
		}
		.icon-approved{
			background-image: url(../img/icon-approved-19x19-mercury-gate.png);
			width: 19px;
			height: 19px;
		}
		.group-2{
			margin-top: 40px;
			input{
				padding-left: 0px;
			}
			.input-1{
				width: 215px;
			}
			.input-2{
				width: 208px;
			}
			.input-3{
				width: 208px;
			}
			.input-4{
				width: 298px;
			}
			.color-hash{
				input{
					color: $color_green;
				}
			}
		}
		.product-comments{
			width: 635px;
			margin-top: 45px;
			p{
				font-size: 14px;
				margin-top: 20px;
			}
				
		}
		.status-payment-general{
			margin-top: 100px;
			.status-payment{
				font-size: 14px;
				height: 200px;
				padding: 20px 0px 0px 0px;
				margin-top: 25px;
				span{
					font-family: $font_family_bold;
				}
				.status-1,
				.status-2 {
					height: 55px;
					padding-left: 120px;
					margin-top: 50px;
					background-repeat: no-repeat;
				}
				.status-1 {
					margin-top: 0px;
					background-image: url(/img/icon-payment-received.png);
				}
				.status-2 {
					background-image: url(/img/icon-invoice-created.png);
				}
				.line {
					position: relative;
					right: 123px;
					bottom: 2px;
					width: 31px;
					height: 50px;
					border-right: 1px solid #E1E1E1;
				}
			}
		}
	}
	.refund-details{
		.radio-email{
			margin-top: 50px;
		}
		.radio-refund{
			margin-top: 78px;
		}
		.custom-control{
			margin-bottom: 5px;
		}
		.custom-control-input:checked~.custom-control-label::before {
			color: #fff;
			border-color: $color_general;
			background-color: $color_general;
		}
		.custom-control-label{
			font-size: 14px;
			padding-left: 12px;
			padding-top: 2px;		
		}
		#addOption, #addEmail{
			margin-top: 38px;
		}
		input{
			font-size: 14px;
			padding-left: 15px;
			width: 312px;
			height: 40px;
			background: $gray_light;
			border-radius: 10px;
			border: none;
			margin-left: 30px;
			color: $color_general;
		}
	}
	.refund-details-confirmation{
		h3{
			margin-bottom: 40px;
		}
		label{
			display: block;
			font-family: $font_family_bold;
			font-size: 14px;
		}
		.input-inline{
			display: inline-block;
		}
		input{
			font-size: 14px;
			width: 312px;
			height: 40px;
			background: transparent;
			border-radius: 10px;
			border: none;
			color: $color_general;
		}
		.description-refund{
			font-size: 14px;
			margin-top: 30px;
			input{
				background: $gray_light;
				padding-left: 15px;
				margin-top: 15px;
			}
		}
	}
}

.payments-refund{
	.left-description{
		.btn-general{
			margin-top: 200px !important;
			a{
				width: 100% !important;
			}
		}
	}
}

.payments-refund-confirmation{

	.left-description{
		.btn-general{
			margin-top: 450px !important;
			a{
				width: 100% !important;
			}
		}
	}
	.modal.show .modal-dialog {
		width: 399px;
		max-width: 399px;
	}
	.modal-content{
		text-align: center;
		color: #898989;
		font-size: 14px;
		padding: 45px 0px 45px 0px;
		border-radius: 10px;
		margin-top: 130px;
		h5{
			text-transform: uppercase;
			font-family: $font_family_bold;
			font-size: 15px;
			margin-bottom: 18px;
		}
		button{
			border: 1px solid $gray_light_2;
			border-radius: 3px;
			display: inline-block;
			background: transparent;
			width: 112px;
			height: 32px;
			font-family: $font_family_bold;
			text-transform: uppercase;
			color: $color_general;
			margin: 18px 8px 0px 8px;
		}
		@include placeholder{
			color: #ECF1F5;
			font-family: $font_family_bold;
		}
		input{
			border: none;
			border-bottom:  1px solid #ECF1F5;
			color: $color_general;
			text-align: center;
		}
		.modal-footer{
			border: none;
		}
		.btn-footer{
			width: 290px;
			margin: auto;
		}
	}
}

.table-payments-transactions{
	a, a:hover{
		color: $color_general;
	}
	.title-table-payments{
		display: inline-block;
		margin-right: 30px;
	}
	.hide{
		display: none !important;
	}
	.dropdown-transactions-payments{
		float: none;
		width: 150px;
		display: inline-block;
		position: relative;
    	top: -4px;
    	margin-left: 15px;
    	.menu-custom, .menu-custom-status{
			height: 189px !important;
			.opt-email-b::before{
				content: url(../img/icon-email-billing-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.opt-quick-c::before{
				content: url(../img/icon-quick-checkout-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.opt-point-s::before{
				content: url(../img/icon-point-sale-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.opt-donation::before{
				content: url(../img/icon-donation-mercury-gate.png);
				position: relative;
    			top: 1px;
    			right: 10px;
			}
			.opt-tips::before{
				content: url(../img/icon-tips-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.dropdown-item {
    			padding: 10px 0px 19px 30px !important;
    		}
    	}
    	.menu-custom-status{
    		.opt-pending::before{
				content: url(../img/icon-pending-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.opt-approved::before{
				content: url(../img/icon-approved-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.opt-declined::before{
				content: url(../img/icon-declined-mercury-gate.png);
				position: relative;
    			top: 3px;
    			right: 10px;
			}
			.opt-refunded::before{
				content: url(../img/icon-refunded-mercury-gate.png);
				position: relative;
    			top: 2px;
    			right: 10px;
			}
			.opt-unresolved::before{
				content: url(../img/icon-unresolved-mercury-gate.png);
				position: relative;
    			top: 2px;
    			right: 10px;
			}
    	}
		.dropdown-toggle::after {
			@extend %dropdown-toggle-after;
		    left: 45px;
		}
		.dropdown-menu {
		    @extend %dropdown-menu;
		    width: 150px;
		    padding-top: 0px;
		    .dropdown-submenu>a:after{
		    	display: none !important;
		    }
		}
		button {
		    @extend %button-dropdown;
		    width: 158px !important;
		}
		.dropdown-item{
			@extend %dropdown-item;
			padding: 14px 0px 0px 25px !important;
			line-height: 12px;
    		color: $color_general;
    		a{
				font-size: 10px;
				line-height: 12px;
				color: $color_general !important;
			}
		}
		.dropdown-item::before{
			@extend %dropdown-item-before;
		}
	}
	.table-responsive {
    	margin-top: 10px;
	}
	%title-p{
		font-size: 10px;
		color: $color_green;
		text-transform: uppercase;
		font-family: $font_family_bold;
		margin-bottom: 0px;
	}
	.auto-convert{
		display: inline-block;
		text-align: center;
		position: relative;
		top: -11px;
		.title-p{
			@extend %title-p;
		}
		.sub-title-p{
			float: left;
			margin-top: 1px;
		}
		.convert-currency{
			left: 5px;
    		position: relative;
    		top: -5px;
		}
		.sub-title-p, .custom-control, .convert-currency{
			display: inline-block;
		}
		.sub-title-p, .convert-currency{
			font-size: 10px;
		}
		.custom-control-label::before {
			height: 10px;
			top: 0.53rem;
			@extend %custom-control-label-before;
		}
		.custom-switch{
			float: right;
    		position: relative;
    		top: -4px;
    		left: 6px;
		}
		.custom-switch .custom-control-label::after {
		    top: calc(.25rem + 2px);
		    left: calc(-2.25rem + 3px);
		    width: calc(1rem - 2px);
		    height: calc(1rem - 2px);
		}
		.custom-switch .custom-control-label::before {
		    left: -2.0rem;
    		width: 1.54rem;
		    pointer-events: all;
		    border-radius: .5rem;
		}
		.custom-control-input:checked~.custom-control-label::before{
			@extend %custom-control-input-checked;
			border-color: $color_general;
		}
		.custom-switch .custom-control-input:checked~.custom-control-label::after{
			@extend %custom-switch-after;
		}
	}
	.filter-general{
		position: relative;
		z-index: 400;
		.box-hide{
			display: inline-block;
		}
		.date-in, .date-out{
			display: inline-block;
		    text-align: center;
		    position: relative;
		    top: 2px;
		    margin-left: 15px;
		    border-right: 1px solid #E1E1E1;
		    padding-right: 15px;
			.title-p{
				@extend %title-p;
			}
			.sub-title-p{
				font-size: 10px;
				margin-bottom: 0px;
			}
		}
		.date-in{
			margin-left: 15px;
		}
		.date-out{
			border-right: none;
		}
		.pagination-table{
			display: none;
			text-align: center;
			position: relative;
    		top: -12px;
    		left: 29px;
			.title-p{
				@extend %title-p;
			}
		}
	}
	.pagination.hide{
		display: none !important;
	}
	.pagination{
		width: 130px;
	    display: inline-block !important;
	    position: absolute;
	    top: 7px;
	    z-index: 1000;
	    right: 150px;
		li{
			display: inline-block;
			font-family: $font_family_bold;
			font-size: 10px;
		}
		.previous{
			margin-right: 4px;
			width: 26px;
			height: 28px;
			position: relative;
    		top: -4px;
    		right: 63px;
			a{
				background: $gray_light;
				border-color: $gray_light;
			}
			.fa-angle-left{
				position: relative;
	    		right: 4px;
	    		color: $color_general;
	    		top: -1px;
			}
		}
		.next{
			margin-left: 4px;
			width: 26px;
			height: 28px;
			background: $gray_light;
			position: relative;
    		top: -4px;
			a{
				background: $gray_light;
				border-color: $gray_light;
			}
			.fa-angle-right{
				position: relative;
	    		right: 4px;
	    		color: $color_green;
	    		top: -1px;
			}
		}
		.page-link {
		    color: $color_menu;
		    background-color: transparent;
		    border: 1px solid transparent;
		    position: relative;
		    padding-top: 12px;
		}
		.page-link:focus{
			box-shadow: none !important;
		}
		.page-item.active .page-link {
		    color: $color_general;
		    background-color: transparent;
		    border-color: transparent;
		    position: relative;
		}
	}
	.previous::after{
		content: "View page";
		position: absolute;
		font-size: 9px;
	    color: $color_green;
	    text-transform: uppercase;
	    margin-bottom: 0px;
	    top: 10px;
    	left: 31px;
	}
	.dataTables_filter {
	    text-align: right;
	    display: inline-block !important;
	    position: absolute;
	    top: 7px;
	    z-index: 1000;
	    right: 20px;
	    @include placeholder{
    		color: #fff;
    		text-transform: uppercase;
    		letter-spacing: 0.2em;
    		font-size: 11px;
		}
	    input{
	    	width: 120px !important;
	    	background: $color_green;
			color: #fff !important;
			border-top-right-radius: 15px;
    		border-color: $color_green;
		}
		.input-large{
			width: 750px !important;
		}
	    input[type="search"]::-ms-clear {  display: none; width : 0; height: 0; }
		input[type="search"]::-ms-reveal {  display: none; width : 0; height: 0; }
		/* Disable browser close icon for Chrome */
		input[type="search"]::-webkit-search-decoration,
		input[type="search"]::-webkit-search-cancel-button,
		input[type="search"]::-webkit-search-results-button,
		input[type="search"]::-webkit-search-results-decoration { display: none; }
	}
	.dataTables_filter::after{
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		content: "\f002";
		color: #fff;
	    right: 20px;
	    top: 5px;
	    right: 14px;
    	position: absolute;

	}
	.dataTables_filter::-ms-clear{
		display: none !important;
	}
	.btn-general a, .btn-general a{
		margin: initial !important;
	}
	.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

  table {
    td {
      position: relative;
      text-align: left;
    }
  }
}

.hide-table{
	.table-payments-transactions{
		tbody{
			display: none !important;
		}
	}	
}

.new-user-payments{
	.table-payments-transactions{
		tbody{
			display: none !important;
		}
	}
	.img-new-user-payments{
	    width: 330px;
	    margin: auto;
		margin-top: 80px;
		p{
			font-size: 12px;
			line-height: 14px;
			text-align: center;
			color: $color_menu;
			text-transform: uppercase;
		}
		img{
			display: block;
			margin: auto;
			margin-bottom: 15px;
		}
	}
}