.container-settings {
    padding: 35px 48px 0;
    margin-bottom: 30px;

    h3 {
        margin-top: 21px;
    }

    .card-outline {
        padding: 1rem;
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 10px;
        height: 130px;
        cursor: pointer;

        .card-out-title {
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #898989;
            font-family: "GothamRounded";
            margin-bottom: 0;
        }

        .card-out-body {
            padding: 0.15rem;

            .card-out-table {
                margin-top: 0.15rem;
                overflow: hidden;
                height: 100%;

                table {
                    font-size: 9px;
                    text-transform: none;
                    position: absolute;
                    bottom: 0;

                    tbody tr td {
                        padding: 0.1rem;
                        text-align: left !important;
                    }

                    tbody tr td:nth-child(1) {
                        width: 100%;
                        font-family: "GothamRounded";

                        a {
                            width: 100%;
                            position: absolute;
                        }
                    }
                }
            }

            .card-out-img {
                align-self: center;
            }
        }
    }

    .btn-mg-save.fixed-btn {
        margin-top: 422px;
    }

    .btn-general {
        @extend %button_v1;
        margin-top: 600px;

        a.btn-documentation {
            padding-left: 40px;
        }

        a.btn-documentation::before {
            content: url("../img/icon-documentation-mercury-gate.png");
        }

        a.btn-help {
            padding-left: 33px;
        }

        a.btn-help::before {
            content: url("../img/icon-help-support-mercury-gate.png");
            top: 6px;
        }

        a.btn-documentation,
        a.btn-help {
            margin: 1rem initial 12px;
        }
    }

    .btn-mg {
        @extend %button_v1;
        margin-top: 1rem;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        width: 234px;
        a.btn-verified {
            cursor: default;
        }

        a.btn-verified::before {
            content: url("../img/icon-verified-mercury-gate.png");
            left: 34px;
            top: 9px;
        }

        .btn-invite {
            padding-left: 22px;
        }

        a.btn-invite::before {
            content: url("../img/icon-invite-mercury-cash.png");
            left: 40px;
            top: 7px;
        }

        .btn-send-invite {
            padding-left: 22px;
        }

        a.btn-send-invite::before {
            content: url("../img/icon-send-bill-mercury-gate.png");
            left: 40px;
            top: 7px;
        }

        a.btn-settlements {
            letter-spacing: 0em;
        }
    }

    .btn-mg-save {
        @extend %button_v1;
        margin-top: 100px;
        border: 1px solid #E1E1E1;
        border-radius: 4px;
        width: 234px;
        .btn-save {
            text-align: left;
            padding-left: 3.5rem;
        }

        a.btn-save::before {
            content: url("../img/icon-save-mercury-gate.png");
            left: 22px;
            top: 7px;
        }
    }

    .btn-fixed-bottom {
        margin-top: 330px;
    }
}

.form-right {
    input, p.form-control-static {
        background-color: #f6f7fb;
        border-color: #f6f7fb;
        border-radius: 10px;
        color: #898989;
        font-size: 14px;
        height: 44px;
    }

    input::placeholder {
        /* Firefox, Chrome, Opera */
        color: #898989;
        font-size: 14px;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #898989;
        font-size: 14px;
    }

    input::-ms-input-placeholder {
        /* Microsoft Edge */
        color: #898989;
        font-size: 14px;
    }
    input:focus {
        background-color: #f6f7fb;
        border-color: #f6f7fb;
        border-radius: 10px;
        color: #898989;
       box-shadow: none;
    }

    label {
        font-size: 14px !important;
        letter-spacing: 0.1em;
        font-family: "GothamRounded";
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        margin-left: 0.5rem;
    }

    .mt-mg-cs {
        margin-top: 2.312rem;
    }

    .label00 {
        font-size: 14px;
    }

    .title-cr {
        font-size: 14px !important;
        letter-spacing: 0.1em;
        font-family: "GothamRounded";
        text-transform: capitalize !important;
        margin-bottom: 1.8rem;
        font-weight: 500;
        line-height: 1.2;
        display: block;
        width: 100%;
    }

    img.icon-cripto {
        position: absolute;
        bottom: 10px;
        right: 24px;
        height: 25px;
        width: 26px;
        &.settings-currency{
            position: relative;
            top: -4px;
            right: 0px;
            height: 25px;
            width: 26px;
            margin-right: 0.35rem;
        }
    }
}

.link-mg {
    color: #119bd2;
    font-family: $font_family_bold;
}

.simple-text {
    text-transform: capitalize;
    font-family: "GothamRoundedBook" !important;
}

.img-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.content-left {

    .title-cl,
    .value-cl {
        font-size: 14px !important;
        letter-spacing: 0;
        font-family: "GothamRounded";
        text-transform: capitalize !important;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
    }

    .value-cl {
        margin-top: 1rem;
        font-size: 18px !important;
    }

    .description-cl {
        font-size: 12px !important;
        font-family: "GothamRounded";
        margin-bottom: 0.5rem;
        line-height: 18px;
        display: block;
        width: 65%;
        margin-top: 2rem;

        .light-description {
            display: block;
            font-family: "GothamRoundedBook";
        }
    }
}

.container-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    letter-spacing: 2px;
}

/////////  ANIMATION  /////////

.checkbox-switch:checked~.switch {
    background-color: #909090;
    border: 1px solid #909090;
}

.checkbox-switch:checked~.switch:after {
    transform: translateX(-10px);
    height: 10px;
    width: 10px;
    top: -1px;
}

/////////   SWITCH   //////////
.checkbox-switch {
    display: none;
}

.switch {
    width: 22px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #909090;
    border-radius: 15px;
    transform: translate(0%, 0%);
    margin-left: 0.5rem;
    cursor: pointer;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: -2px;
        left: 9px;
        height: 12px;
        width: 12px;
        background-color: #f7f7f7;
        border-radius: 100%;
        transform: translateX(0);
        transition: all 0.2s;
        border: 1px solid #909090;
    }
}

.container-checkbox {
    display: flex;
    height: 100%;
    justify-content: left;
    margin-left: 0.35rem;
    height: 44px;

    .span-legend {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        font-family: "GothamRoundedBook";
        font-size: 14px;
        line-height: 20px;
        color: #898989;
    }
    &.check-convert{
        height: 30px;
    }
}

.select2-container--default {
    .select-search {
        border-color: rgb(246, 247, 251) !important;
        border-radius: 10px !important;
        color: rgb(137, 137, 137) !important;
        font-size: 14px !important;
    }

    .select2-dropdown {
        background-color: #fff;
        border: transparent;
        box-shadow: 0 4px 4px rgba(137, 137, 137, 0.16);
        padding-bottom: 6px;

        .select2-results ul {
            line-height: 18px;
            color: #898989;
            font-family: "GothamRounded";
            font-size: 12px;
        }
    }

    .select2-selection--single {
        background-color: #f6f7fb !important;
        border-color: #f6f7fb !important;
        border-radius: 10px !important;
        color: #898989;
        font-size: 14px;
        height: 44px !important;
    }

    .select2-selection__rendered {
        height: 44px;
        line-height: 44px !important;
        color: #898989 !important;
    }

    .select2-selection__arrow {
        top: 10px !important;
    }

    .select2-selection__arrow b {
        border-color: #898989 !important;
        border-style: solid !important;
        height: 12px !important;
        margin-left: -9px !important;
        margin-top: -2px !important;
        position: absolute !important;
        top: 25% !important;
        transform: rotate(-135deg) !important;
        -webkit-transform: rotate(-135deg) !important;
        border-width: 1px 0px 0px 1px !important;
        width: 12px !important;
        left: 0% !important;
    }
}

.custom-list {
    font-size: 14px;
    line-height: 32px;
    padding-left: 1rem;

    li {
        list-style-type: none;
    }

    li:before {
        content: '';
        display: inline-block;
        width: 3px;
        height: 3px;
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        border-radius: 7.5px;
        background-color: #898989;
        margin-right: 0.35rem;
        margin-bottom: 0.15rem;
    }
}

/* Hide the browser's default radio button */
label.container-radio {
    font-family: "GothamRoundedBook";
    display: block;
    position: relative;
    padding-left: 26px;
    margin-bottom: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 22px;
    letter-spacing: 0;

    input {
        opacity: 0;
        position: absolute;
        opacity: 0;
    }

    .title-radio {
        font-family: "GothamRounded";
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 14px;
        width: 14px;
        background-color: #fff;
        border-radius: 50%;
        margin-top: 0.3rem;
        border: 1px solid #898989;
    }

    :hover input~.checkmark {
        background-color: #ccc;
    }

    :checked~.checkmark {
        background-color: #ffffff;
        border: 1px solid #898989;
    }

    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
    }

    input:checked~.checkmark:after {
        display: block;
    }

    .checkmark:after {
        top: 3px;
        left: 3px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #E1E1E1;
    }
}

.content-user-left {
    .description-cl {
        width: 80%;
    }
}

.quantity {
    position: relative;

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }
}

.quantity input {
    width: 100%;
    height: 44px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    position: relative;
    right: 0;

    span {
        position: absolute;
        top: 10px;
        right: 6px;
        font-size: 14px;
    }

    .quantity-button.quantity-up {
        position: absolute;
        height: 10px;
        top: 13px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
        right: 26px;
    }

    .quantity-button.quantity-down {
        position: absolute;
        height: 10px;
        top: 19px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        right: 26px;
    }

    .quantity-button {
        position: relative;
        cursor: pointer;
        width: 10px;
        text-align: center;
        color: #898989;
        font-size: 13px;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        border: solid #898989;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
    }
}

.form-table00 {
    .form-table00-head {
        min-width: 736px;

        label {
            margin-bottom: 1rem;
            margin-left: 0rem;
        }
    }

    .form-table00-body.form-right {
        min-width: 736px;
        margin-bottom: 0.5rem;
        font-size: 14px;
        margin-top: 1.5rem;

        input {
            min-width: 140px;
        }

        div.quantity input {
            min-width: 100px;
        }

        div.position-relative input {
            min-width: 100px;
        }
            .settings-address {
                font-size: 14px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                display: block;
            }
    }

}

.select2-container--default.select2-container--open {
    .select2-selection--single {
        .select2-selection__arrow b {
            border-width: 0px 1px 1px 0px !important;
        }
    }
}

.dropdown-mg {
    padding: .5rem 0;
    button.dropdown-toggle {
        width: 100%;
        background-color: #F6F7FB;
        border-color: #F6F7FB;
        border-radius: 10px;
        color: #898989;
        font-size: 14px;
        height: 44px;
        text-align: left;
    }

    .dropdown-menu {
        width: 100%;
        border: transparent;
        box-shadow: 0px 4px 4px rgba(137, 137, 137, 0.16);
        font-size: 14px;
        border-radius: 0px 0px 12px 12px;
        padding: 0px;

        .dropdown-item {
            color: #898989;
            padding: 0.66rem 1.5rem !important;
        }
        .dropdown-item:hover {
            font-family: "GothamRounded";
            background-color: #F6F7FB;
        }
    }

    button.dropdown-toggle::after {
        right: 22px;
        top: 20px;
        border-color: #898989 !important;
        border-style: solid !important;
        height: 12px !important;
        position: absolute !important;
        transform: rotate(-135deg) !important;
        -webkit-transform: rotate(-135deg) !important;
        border-width: 1px 0px 0px 1px !important;
        width: 12px !important;
    }
}

.dropdown-mg.show {
    padding: .5rem 0;

    button.dropdown-toggle::after {
        top: 26px;
        transform: rotate(45deg) !important;
        -webkit-transform: rotate(45deg) !important;
    }

    button.dropdown-toggle {
        border-radius: 10px 10px 0px 0px;
    }
}

.container-user-settings{
    padding: 48px 48px 0px 48px;
    margin-bottom: 30px !important;
    %box-btn-pt{
		background: #FFFFFF;
		border: 1px solid $gray_light_2;
		box-sizing: border-box;
		border-radius: 10px;
		width: 310px;
		height: 101px;
		color: $color_general;
		padding: 15px 10px 15px 14px;
	    background-repeat: no-repeat;
	    margin-bottom: 42px;
	    h5{
			font-size: 12px;
			text-transform: uppercase;
			font-family: $font_family_bold;
		}
		p{
			font-size: 9px;
			text-transform: initial;
			width: 218px;
		}
	}
    .btn-user-settings{
		h3{
            margin-bottom: 50px;
            margin-top: 24px;
		}
		.box-btn{
            @extend %box-btn-pt;
            width: 337px;
            a{
                color: $color_general;
            }
		}
		.box-btn.btn-1{
			background-image: url(../img/icon-basic-profile-mercury-gate.png);
			background-size: 63px 65px;
			background-position: 255px 17px;
		}
		.box-btn.btn-2{
			background-image: url(../img/icon-security-profile-mercury-gate.png);
			background-size: 58px 68px;
            background-position: 232px 14px;
            p{
                margin-top: 15px;
            }
		}
		.box-btn.btn-3{
			background-image: url(../img/icon-password-mercury-gate.png);
			background-size: 86px 33px;
            background-position: 228px 35px;
            p{
                margin-top: 16px;
            }
		}
		.box-btn.btn-4{
			background-image: url(../img/icon-night-mode.png);
			background-size: 68px 68px;
            background-position: 244px 14px;
            p{
                margin-bottom: 8px;
            }
        }
        .info-basic{
            margin-top: 25px;
            ul{
                display: inline-block;
                padding-left: 0px;
            }
            .ul-1{
                font-family: $font_family_bold;
            }
            .ul-2{
                margin-left: 60px;
            }
            li{
                font-size: 9px;
                list-style: none;
            }
        }
        label{
            display: block;
            font-size: 14px;
            font-family: $font_family_bold;
            margin-left: 5px;
        }
        input{
            background: $gray_light;
            border-radius: 10px;
            height: 40px;
            box-shadow: none;
            border: none;
            padding: 0px 20px 0px 20px;
            font-size: 14px;
            color: $color_general;
            width: 356px;
            margin-bottom: 28px;
        }
    }
    .btn-general{
        @extend %button_v1;
        margin-top: 582px !important;
        a{
            color: $color_general !important;
        }
		a.btn-documentation{
			padding-left: 40px !important;
		}
		a.btn-documentation::before{
			content: url(../img/icon-documentation-mercury-gate.png);
		}
		a.btn-help{
			padding-left: 33px !important;
		}
		a.btn-help::before{
			content: url(../img/icon-help-support-mercury-gate.png);
			top: 6px;
        }
        a.btn-save{
            border: 1px solid $gray_light_2;
		}
		a.btn-save::before{
			content: url(../img/icon-save-mercury-gate.png);
			top: 7px;
        }
        a.btn-enable{
            border: 1px solid $gray_light_2;
        }
        a.btn-change{
            border: 1px solid $gray_light_2;
            padding-left: 28px;
		}
		a.btn-change::before{
			content: url(../img/icon-save-mercury-gate.png);
            top: 7px;
            left: 10px;
        }
    }
    .left-description {
        margin-top: 21px;
        h3{
			position: relative;
			a{
				padding-left: 15px;
			}
        }
        h4{
            font-size: 14px;
            font-family: $font_family_bold;
            margin-bottom: 35px;
        }
        a{
            color: $color_link;
        }
    }
    .code-qr{
        margin-top: 68px;
        margin-bottom: 70px;
        img{
            width: 175px;
            height: 175px;
        }
    }
    .token-enable{
        h4{
            font-size: 14px;
            font-family: $font_family_bold;
            margin-left: 5px;
            margin-bottom: 10px;
        }
    }
    .modal.show .modal-dialog {
		width: 399px;
		max-width: 399px;
	}
	.modal-content{
		text-align: center;
		color: #898989;
		font-size: 14px;
		padding: 45px 15px 45px 15px;
		border-radius: 10px;
        margin-top: 130px;
        p{
            font-size: 14px;
            font-family: $font_family_general;
            line-height: 20px;
        }
		h5{
			text-transform: uppercase;
			font-family: $font_family_bold;
			font-size: 15px;
            margin-bottom: 18px;
            margin-top: 24px;
        }
        h6{
            font-size: 14px;
            font-family: $font_family_bold;
            margin-top: 28px;
        }
		@include placeholder{
			color: #ECF1F5;
			font-family: $font_family_bold;
		}
		input{
			border: none;
			border-bottom:  1px solid $gray_light_2;
			color: $color_general;
            text-align: center;
            border-radius: 0px;
            width: 214px;
            pointer-events: auto !important;
            margin-top: 10px;
            background: transparent;
		}
		.modal-footer{
			border: none;
		}
		.btn-footer{
			width: 290px;
            margin: auto;
           a{
                border: 1px solid $gray_light_2;
                display: inline-block;
                width: 112px;
                height: 32px;
                font-family: $font_family_bold;
                text-transform: uppercase;
                color: $color_general;
                margin: auto;
                margin-top: 44px;
                padding-top: 5px;
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        button.close{
            position: absolute;
            top: -20px;
            right: 20px;
            border: 1px solid gray;
            border-radius: 100px;
            width: 25px;
            height: 25px;
            font-weight: 500;
        }
        img{
            margin-bottom: 20px;

        }
    }
    #changePass{
        .nav-hide{
            display: none;
        }
        .icon-password{
            background: url(../img/icon-password-modal-mercury-gate.png);
            width: 46px;
            height: 17px;
            margin: auto;
        }
    }
    .custom-switch{
        padding-left: 148px;
        margin-top: 0px;
        span{
            font-size: 9px;
            font-family: $font_family_bold;
            display: inline-block;
            position: absolute;
            left: 0px;
            top: 1px;
        }
        .custom-control-label::before {
            width: 23px;
            height: 10px;
            background-color: $color_general;
            border: $color_general;
        }
        .custom-control-label::after {
            top: calc(.18rem + 2px);
            left: calc(-2.3rem + 2px);
            width: calc(0.8rem - 4px);
            height: calc(0.8rem - 4px);
            background-color: #fff
        }
        .custom-control-input:checked~.custom-control-label::after {
            background-color: $color_general;
        }
        input:checked~.custom-control-label::before {
            color: #fff;
            border-color: $color_general;
            background-color: #fff;
            border: 1px solid $color_general;
        }
    }
    .turn-now, .turn-shedule{
        margin-bottom: 50px;
        h4, .custom-switch{
            display: inline-block;
        }
        .custom-switch{
            float: right;
            padding-left: 0px;
            margin-top: 0px;
            width: 60px;
            text-align: right;
            margin-left: 0px;
            position: relative;
            top: 6px;
            right: -12px;
        }
    }
    .options-shedule.show{
        margin-top: 68px;
        display: block;
        .custom-radio{
            margin-top: 20px;
            .custom-control{
                margin-bottom: 5px;
            }
            .custom-control-input:checked~.custom-control-label::before {
                color: #fff;
                border-color: $gray_light_2;
                background-color: $gray_light_2;
            }
            .custom-control-label{
                font-size: 14px;
                padding-left: 12px;
                padding-top: 2px;		
            }
            input{
                font-size: 14px;
                padding-left: 15px;
                width: 312px;
                height: 40px;
                background: $gray_light;
                border-radius: 10px;
                border: none;
                margin-left: 30px;
                color: $color_general;
            }
            .custom-control-label::before, .custom-control-label::after {
                top: .32rem;
            }
        }
        #options-custom{
            margin-top: 40px;
            margin-left: 40px;
            display: block;
            input{
                width: 107px;
            }
            label{
                display: inline-block;
                margin-right: 15px;
                width: 88px;
            }
        }
    }
    .options-shedule{
        display: none;
    }

} 

.container-user-settings.user-security{
    .btn-general{
        margin-top: 400px !important;
    }
}
