// Fonts

$font_path_general: '../fonts/gotham-rounded/GothamRounded-Book';
$font_path_bold: '../fonts/gotham-rounded/GothamRounded-medium';
$font_family_general: 'GothamRoundedBook';
$font_family_bold: 'GothamRounded';


// Colors

$color_general: #898989;
$color_menu: #E3E4E8;
$color_green: #3AD1BF;
$gray_light: #F6F7FB;
$gray_light_2: #E1E1E1;
$gray_light_3: #ECF1F5;
$color_pink: #FF4040;
$color_link: #119BD2; 


// Crypto Colors

$usd_color: #8364FA;
$bitcoin_color:  #FF875E;
$ethereum_color: #3483C4;
$dash_color:  #119BD2;

// Crypto Colors Gradient

$usd_gradient_color: linear-gradient(90.32deg, #EE70E9 1.69%, #8363F9 81.78%);
$bitcoin_gradient_color: linear-gradient(260.83deg, #FF875E 13.23%, #FE67AD 246.39%);
$ethereum_gradient_color: linear-gradient(90.32deg, #8E70EE 0.99%, #2E84C1 81.07%);
$dash_gradient_color: linear-gradient(90.32deg, #3AD1BF 1.34%, #119BD2 81.42%);
$earn_gradient_color: linear-gradient(162.2deg, #FF875E 6.47%, #FE67AD 107.91%);
$earn_gradient_color_2: linear-gradient(219.29deg, #3AD1BF 0%, #119BD2 100.95%);
$green_gradient_color: linear-gradient(271.32deg, #119BD2 -114.67%, #3AD1BF 248.51%);;