@include font-face(GothamRoundedBook, $font_path_general);
@include font-face(GothamRounded, $font_path_bold, 500);

body{
	font-family: $font_family_general !important;
	color: $color_general !important;
}

.body-color{
	background: $green_gradient_color;
}

h3{
	font-size: 12px !important;
	letter-spacing: 0.1em;
	font-family: $font_family_bold;
	text-transform: uppercase !important;
	a {
		color: $color_general !important;
	}
}

a{
	text-decoration: none !important;
}

table{
	width: 100% !important;
}

.balance-transactions ::-webkit-scrollbar-track{
	background-color: #FFF;
}
.balance-transactions ::-webkit-scrollbar{
	width: 7px;
	height: 4px;
	background-color:  #FFF;
}
.balance-transactions ::-webkit-scrollbar-thumb{
	background-color:  $color_green;
}

.topbar-mg{
	background: $green_gradient_color;
	padding: 12px 0px 0px 0px;
	color: #fff;
	height: 72px;
	.container-fluid{
		padding-right: 30px !important;
		padding-left: 30px !important;
	}
	.navbar{
		background-color: transparent !important;
		padding-right: 0px;
		.nav-link {
    		color: #fff !important;
    		letter-spacing: 0.2em;
    		font-size: 14px;
		}
		.drop-general {
		    padding: 0px !important;
		    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		    border: none;
		    border-radius: 10px;
		    margin-top: 10px;
		    left: -90px;
		    height: 263px;
		    width: 191px;
		    z-index: 50000;
		    position: absolute !important;
		    .dropdown-item {
			    padding: 8px 0px 0px 28px;
			    font-size: 10px;
			    border-bottom: 0.5px solid #E1E2E6;
			    color: #898989;
			    height: 53px;
			}
			.title-dropdown {
			    font-size: 10px;
			    font-family: $font_family_general;
			    line-height: 12px;
			    position: relative;
			    top: -17px;
			    left: 35px;
			    display: inline-block;
			}
			.bg-title-dropdown {
			    background: #3AD1BF;
			    text-align: center;
			    color: #fff !important;
			    border-radius: 10px 10px 0px 0px;
			    padding: 10px 0px 10px 0px !important;
			    font-size: 14px !important;
			    text-transform: uppercase;
			    letter-spacing: 0.1em;
			}
			.bg-title-dropdown:hover{
				background: $color_green !important;
			}
			.bg-title-dropdown{
				padding-top: 17px !important;
			}
			.icon-gif, .icon-new-payments {
				position: relative;
    			top: 5px;
			}
			.icon-gif{
				background: url(../img/icon-gif-mercury-gate.png);
				width: 28px;
	    		height: 22px;
			}
			.icon-new-payments{
				background: url(../img/icon-new-payment-mercury-gate.png);
				width: 22px;
	    		height: 24px;
			}
			.icon-profile{
				background: url(../img/icon-edit-profile-mercury-gate.png);
				width: 22px;
				height: 24px;
				position: relative;
    			top: 4px;
			}
			.icon-logout{
				background: url(../img/icon-logout-mercury-gate.png);
				width: 25px;
				height: 25px;
				position: relative;
    			top: 4px;
			}
			.dropdown-item:nth-child(5){
				border-bottom: none !important;
			}
		}
		.drop-general::before {
		    font-size: 35px;
		    font-family: "Font Awesome 5 Free";
		    font-weight: 900;
		    content: "\f0d8";
		    position: absolute;
		    color: #3AD1BF;
		    top: -31px;
	    	left: 112px;
		}
		.drop-lang{
		    height: 211px !important;
		    width: 148px !important;
		    left: -73px;
		    .dropdown-item{
	    		font-size: 10px;
	    		color: #898989;
		    }
		    .dropdown-item:nth-child(4){
				border-bottom: none !important;
			}
		}
	    .dropdown-item::before:nth-child(1){
	    	content: "hola" !important;
	    }
	    .icon-flag-en{
			background: url(../img/flag-english-mercury-gate.png);
			width: 26px;
    		height: 26px;
    		position: relative;
    		top: 3px;
		}
		.icon-flag-es{
			background: url(../img/flag-spanish-mercury-gate.png);
			width: 26px;
    		height: 26px;
    		position: relative;
    		top: 3px;
		}
		.icon-flag-est{
			background: url(../img/flag-estonian-mercury-gate.png);
			width: 26px;
    		height: 26px;
    		position: relative;
    		top: 3px;
		}		
	}
	.number-notifications {
	    background: red;
	    color: #fff;
	    font-size: 8px;
	    border-radius: 100px;
	    width: 12px;
	    height: 12px;
	    box-shadow: 0px 3px 4px rgba(255, 117, 141, 0.3);
	    padding: 0px 0px 0px 3px;
	    position: absolute;
	    top: 12px;
	    left: 20px;
	}
	.options-settings{
		.nav-item{
			margin-left: 45px;
		}
	}
	.drop-settings::after{
		display: none;
	}
	.d-notifications{
		left: -128px !important;
	}
	.d-notifications::before{
		left: 136px !important;
	}
	.drop-profile-a{
		margin-top: -4px;	
	}
	.drop-profile-a::after{
		display: none;
	}
	.drop-profile{
		height: 159px !important;
		left: -133px !important;
		.dropdown-item:nth-child(2){
			border-bottom: none !important;
		}
	}
	.drop-profile::before{
		left: 146px !important;
	}
		
}

header{
	padding: 0px 60px 0px 45px;
	border-bottom: 1px solid $color_menu;
	.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link,
	.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
		color: $color_general !important;
	}
	.nav-link {
	    font-size: 12px;
	    line-height: 14px;
	    letter-spacing: 0.2em;
	    text-transform: uppercase;
    	color: $color_general !important;
    	display: inline;
    	margin-left: 10px;
    	font-family: $font_family_bold;
	}
	.bg-light {
    	background-color: transparent !important;
    	padding-bottom: 0px;
	}
	.nav-icons{
		background-size: 100%;
		background-repeat: no-repeat;
	    position: relative;
	    left: 0px;
	    top: 8px;
	    display: inline-block;
	}
	.nav-dashboard{
		background-image: url(../img/icon-dashboard-menu-mercury-gate.png);
		width: 28px;
	    height: 28px;
	}
	.nav-payments{
		background: url(../img/icon-payments-menu-mercury-gate.png);
		width: 28px;
	    height: 27px;
	}
	.nav-payments-tools{
		background-image: url(../img/icon-payments-tools-menu-mercury-gate.png);
		width: 25px;
	    height: 30px;
	}
	.nav-settings{
		background-image: url(../img/icon-settings-menu-mercury-gate.png);
		width: 34px;
	    height: 34px;

	}
	.nav-item {
	    margin-right: 15px;
	    padding: 10px 20px 15px 20px;
	    width: 238px;
	    text-align: center;
	}
	.nav-item.active{
		border-bottom: 2px solid $color_general;
	}
	.navbar li:nth-child(5){
		border-right: none !important;
	}
	.nav-margin{
		position: relative;
		top: -3px;
	}


}

%balance-crypto-styles{
	position: relative;
	display: block;
	border-radius: 10px;
	margin:auto;
	margin-bottom: 28px;
	font-family: "GothamRounded";
	color: #fff;
	padding: 5px 0px 0px 10px;
	text-align: left;
	width: 234px;
	height: 101px;
}

%background-crypto-after{
	right: 7px;
    position: absolute;
}

%background-ethereum{
	background: $ethereum_gradient_color;
}

%background-ethereum-after::after{
	content: url(../img/icon-ethereum-balance-mercury-gate.png);
}

%background-dash{
	background: $dash_gradient_color;
}

%background-dash-after::after{
	content: url(../img/icon-dash-balance-mercury-gate.png);
}

%background-bitcoin{
	background: $bitcoin_gradient_color;
}

%background-bitcoin-after::after{
	content: url(../img/icon-bitcoin-balance-mercury-gate.png);
}

%title-balance{
	p{
		font-size: 12px;
		text-transform: uppercase;
		position: absolute;
    	margin-top: 35px;
	}
}

%amount-balance{
	p{
		font-size: 18px;
		position: absolute;
		margin-top: 58px;
	}
}

%custom-switch{
	position: absolute;
}
%custom-control-label-before {
    background-color: $color_general;
    border: gray solid 1px;
}
%custom-switch-after{
	background-color: #C4C4C4;
}
%custom-control-input-checked {
    border-color: #fff;
    background-color: #Fff;
}

table{
	font-size: 10px;
	color: $color_general !important;
	text-transform: uppercase;
	img{
		display: block;
		margin:auto;
	}
	td{
		text-align: center;
		border-top: none !important;
	}
	thead th{
		text-align: center;
		color: $color_green;
		border-bottom: none !important;
		border-top: none !important;
	}
	.without-photo{
		span{
			background: $color_pink;
			border-radius: 50px;
			width: 30px;
			height: 30px;
			display: block;
			margin: auto;
			padding: 7px 0px 0px 0px;
			color: #fff;
		}
	}
	.status-approved::after {
    	content: url(../img/icon-approved-mercury-gate-10x10.png);
    	top: 1px;
		left: 8px;
		position: relative;
	}
	.status-pending::after {
    	content: url(../img/icon-pending-mercury-gate-10x10.png);
    	top: 1px;
	    left: 8px;
	    position: relative;
	}
	
			
}
.dataTables_length, .pagination, #dataRecentTransactions_length{
		display: none !important;
	}
.dataTables_filter, .dataTables_info, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before{
	display: none !important;
}
.table-responsive{
	margin-top: 25px;
}
table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
	padding-right: 18px !important;
}

%background-gray-crypto{
	background: $gray_light !important;
	.amount-balance p, .title-balance p{
	color: $color_general !important;
	}
}
%background-gray-eth-after{
	content: url(../img/icon-gray-ethereum-balance-mercury-gate.png) !important;
}
%background-gray-dash-after{
	content: url(../img/icon-gray-dash-balance-mercury-gate.png) !important;
}
%background-gray-bit-after{
	content: url(../img/icon-gray-bitcoin-balance-mercury-gate.png) !important;
}
%dropdown-toggle-after {
	color: $color_green;
	top: 4px;
	position: relative;
	font-size: 16px;
}
%dropdown-menu {
    width: 206px;
    background-color: #fff;
    border: transparent;
    box-shadow: 0px 4px 4px rgba(137, 137, 137, 0.16);
	padding-bottom: 16px;
	padding: 0px 0px 0px 0px;
    margin: 0px;
}
%button-dropdown {
    background: $gray_light;
    border: none;
    width: 206px;
    height: 31px;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #898989;
    text-align: left;
    padding: 0px 12px 0px 12px;
    border-radius: 6px;
    font-family: $font_family_bold;
}
%dropdown-item{
	font-size: 10px;
	text-transform: uppercase;
	height: 38px;
	color: $color_general;
	font-family: $font_family_bold;
	padding: 13px 0px 0px 25px;
	position: relative;
	border: 0.5px solid $gray_light;
}
%dropdown-item-before{
	position: absolute;
    top: 8px;
    left: 28px;
}

%button_v1{
	margin-top: 90px;
	a{
		display: block;
	    width: 234px;
	    height: 42px;
	    font-size: 12px;
	    letter-spacing: 0.2em;
	    margin: auto;
	    border-radius: 3px;
	    text-align: center;
	    padding-top: 12px;
	    color: $color_general;
	    position: relative;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	a::before{
		position: absolute;
    	left: 24px;
    	top: 9px;
	}
}

// Table - Filter special

%dropdown-filter{
	float: none;
	width: 150px;
	display: inline-block;
	position: relative;
	top: -4px;
	margin-left: 15px;
}

.left-description{
	width: 218px;
	font-family: $font_family_bold;
	h3{
		margin-bottom: 30px;
	}
	p{
		font-size: 12px;
		text-align: justify;

	}
	a{
		color: $color_green;
	}
	.btn-general{
		margin-top: 144px !important;
		a{
			color: $color_general;
		}
	}
}

.container-success{
	margin-top: 80px;
	.logo-mercury-gate{
		img{
			display: block;
			margin: auto;
		}
	}
	.box-success{
		background: $gray_light;
		box-shadow: 0px 4px 2px rgba(137, 137, 137, 0.16);
		border-radius: 10px;
		text-align: center;
		width: 379px;
		margin: auto;
		margin-top: 30px;
		padding: 25px 25px 25px 25px;
	}
	.icon-success{
		margin: auto;
		margin-top: 20px;
		background-image: url(../img/icon-success.png);
		background-size: 28px 24px;
		width: 28px;
    	height: 24px;
	}
	.icon-success-2{
		margin: auto;
		margin-top: 20px;
		background-image: url(../img/icon-paid-mercury-gate.png);
		background-size: 28px 24px;
		width: 28px;
    	height: 24px;
	}
	.icon-success-3{
		margin: auto;
		margin-top: 20px;
		background-image: url(../img/icon-success.png);
		background-size: 28px 24px;
		width: 28px;
    	height: 24px;
	}
	.icon-invoice-expired{
		margin: auto;
		margin-top: 20px;
		background-image: url(../img/icon-invoice-expired.png);
		background-size: 19px 24px;
		width: 19px;
    	height: 24px;
	}
	h4{
		font-size: 14px;
		font-family: $font_family_bold;
		margin-top: 25px;
		text-transform: uppercase;
	}
	p{
		font-size: 12px;
		margin-top: 20px;
		span{
			font-family: $font_family_bold;
			display: block;
    		margin-top: 5px;
		}
	}
	a{
		font-size: 18px;
		font-family: $font_family_bold;
		margin-top: 40px;
		display: block;
		color: $color_general;
	}
}

.tooltip-inner {
	color: $color_general !important;
	text-align: center;
	background-color: #fff !important;
	border-radius: 4px !important;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-size: 11px;
	padding: 10px !important;
	position: relative;
	left: 6px;
    top: -25px;

}

.tooltip .arrow::before {
    content: none !important;
}

.container-login{
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 1030px;
	height: 601px;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	border-radius: 10px 0px 0px 10px;
	.bg-login{
		background: url(../img/background-login-mercury-gate.png)no-repeat;
		height: 601px;
		background-size: cover;
	}
	.logo-mercury-gate{
		padding-top: 185px;
		img{
			display: block;
			margin:auto;
		}
	}
	.logos-currency{
		margin-top: 18px;
		ul{
		    width: 300px;
			margin: auto;
			padding-left: 0px;
			text-align: center;
			li{
				display: inline-block;
				color: #fff;
				font-size: 10px;
				background-size: 100%;
				text-transform: capitalize;
				line-height: normal;
			}
		}
		.logo-bitcoin{
			background-image: url(../img/logo-bitcoin-33x33-mercury-gate.png);
			width: 23px;
			height: 23px;
			margin-right: 2px;
		}
		.logo-ethereum{
			background-image: url(../img/logo-ethereum-33x33-mercury-gate.png);
			width: 23px;
			height: 23px;
			margin-right: 2px;
		}
		.logo-dash{
			background-image: url(../img/logo-dash-33x33-mercury-gate.png);
			width: 23px;
			height: 23px;
			margin-right: 2px;
			
		}
	}
	.info-login{
		padding: 78px 50px 0px 10px;
		.fields-login, .fields-forget{
			margin-top: 30px;
		}
		.fields-2fa{
			margin-top: 50px;
			@include placeholder{
				color: $gray_light_2;
				font-family: $font_family_bold;
				font-size: 14px;
				letter-spacing: 0.6em;
			}
			input{
				letter-spacing: 0.6em;
			}
		}
		h4{
			font-size: 14px;
			font-family: $font_family_bold;
			margin-bottom: 7px;
		}
		input{
			display: block;
			margin-bottom: 24px;
			border: none;
			border-bottom: 1px solid #ECF1F5;
			height: 40px;
			width: 328px;
			font-size: 14px;
			color: $color_general;
		}
		@include placeholder{
			color: $gray_light_2;
			font-family: $font_family_bold;
			font-size: 12px;
			letter-spacing: 0.05em;
		}
		h5{
			font-size: 12px;
			font-family: $font_family_bold;
			margin-top: 38px;
			a{
				color: $color_general;
			}
		}
		h6{
			font-size: 10px;
			font-family: $font_family_bold;
		}
		.btn-login, .btn-verify, .btn-reset, .btn-cancel, .btn-back{
			border: 1px solid $gray_light_2;
			text-transform: uppercase;
			color: $color_general;
			font-family: $font_family_bold;
			display: block;
			text-align: center;
			height: 46px;
			width: 150px;
			padding-top: 10px;
			margin-top: 58px;
			border-radius: 5px;
			letter-spacing: 0.2em;
			margin-bottom: 50px;
		}
		p{
			font-size: 12px;
			a{
				font-family: $font_family_bold;
				color: $color_general;
			}
		}
		.logo-mercury-gate-color{
			margin-top: 24px;
		}
		.btn-2fa, .btn-forget-pass{
			margin-bottom: 32px;
			a{
				display: inline-block;
			}
		}
		.btn-cancel{
			margin-left: 30px;
			border: none;
		}
		.recaptcha-login{
			height: 73px;
			box-shadow: 0px 2px 3px rgba(137, 137, 137, 0.16);
			width: 328px;
			margin-top: 35px;
		}
		.btn-forget-pass{
			margin-bottom: 7px;
		}
		.description-reset{
			margin-top: 50px;
			letter-spacing: 0.05em;
			position: relative;
			p{
				font-size: 10px;
			}
			span{
				font-size: 10px;
				font-family: $font_family_bold;
				padding-left: 40px;
			}
			span::before{
				content: url(../img/icon-reset-mercury-gate.png);
				display: block;
				position: absolute;
			}
			.m-top{
				margin-top: 15px;
			}
		}
		.btn-back{
			margin-bottom: 56px;
		}
	}

}

.switchMC{
	width: 138px;
	height: 37px;
	border: 0;
	border: 1px solid #e1e1e1;
	background-color: transparent;
	box-sizing: border-box;
	border-radius: 5px;
	display: flex;
	align-items: center;
	line-height: 1;
	padding-bottom: 0.15rem;
	font-family: $font_family_bold;
	font-style: normal;
	font-size: 12px;
	text-align: left;
	color: #fff;
	
}
.iconMCWhite{
	height: 35px;
	width: 45px;
	background-image: url(../img/icon-mc-white.svg);
	display: block;
	background-repeat: no-repeat;
	background-position: 30% 63%;
	padding-right: 1.15rem;
}