@import 'mixins';
@import 'variables';

@include sm {
	.logo-mercury-gate{
		img{
			display: block;
			margin: auto;
		}
	}
	.topbar-mg{
		.navbar{
			display: none;
		}
		.nav-item{
			width: 100%;
		}
	}
	header{
		padding: 0px 15px 0px 15px;
		.navbar-setting{
			.navbar-toggler{
				display: none;
			}
		}
	}
	.navbar-toggler{
		margin: auto;
		margin-top: 18px;
		margin-bottom: 18px;
	}
	.graph-dashboard{
		margin-top: 40px;
		.title-graph-left, .title-graph-right{
			display: block !important;
			text-align: center;
			span{
				padding: 0px !important;
			}
		}
		.title-graph-right{
			float: none !important;
		}
		.separator-g {
    		padding: 0px 0px 0px 0px !important;
    		display: none;
		}
	}
	.balance-transactions{
		h3{
			text-align: center;
    		margin-bottom: 25px;
		}
		.title-table-dashboard{
			display: block !important;
		}
	}
	.container-dashboard{
		.btn-general {
			margin-top: 10px !important;
		}
	}
	
	.container-payments{
		h3{
			text-align: center;
		}
		.title-table-payments{
			margin-right: 0px;
			h3{
				text-align: center;
				margin-bottom: 30px;
			}
		}
		.table-payments-transactions{
			.title-table-payments, .auto-convert, .dropdown-transactions-payments,
			.date-in, .date-out, .dataTables_filter, .pagination{
				display: block !important;
			}
		}
		.box-hide {
			display: block !important;
		}
		.auto-convert{
			width: 90px;
    		margin: auto;
		}
		.dropdown-transactions-payments {
		    top: -5px;
		    margin-left: 0px;
			margin: auto;
			margin-top: 25px;
		}
		.date-in, .date-out {
		    top: 0px;
		    margin-left: 15px;
		    padding-right: 0px;
		    margin-top: 8px;
		}
		.date-in{
			border-right: none !important;
		}
		.pagination-table {
		    top: 0px;
		    left: 0px !important;
		    margin-top: 8px;
		}
		.pagination {
		    position: relative;
		    top: 0px !important;
		    right: 0px;
		    margin: auto !important;
		    .previous{
		    	right: 0px;
			}
			.previous::after{
				content: none;
			}
		}
		.dataTables_filter {
		    position: relative;
		    top: 0px;
		    right: 0px;
			margin-top: 14px;
			 .input-large {
				width: 100% !important;
			}
		}
		.dataTables_filter::after {
			right: 76px;
		}
		.payments-transactions, .btn-general{
			.balance-ethereum, .balance-dash, .balance-bitcoin, a.btn-documentation, a.btn-help {
			    margin: auto;
			    margin-bottom: 10px;
			}
		}
		
	}
	.new-user-payments {
		.img-new-user-payments{
			width: 100%;
		}	
	}

	.container-payments-tools{
		padding: 48px 18px 0px 18px;
		.btn-general {
			margin-top: 30px !important;
			margin-bottom: 35px;
			a{
				margin: auto !important;
				margin-bottom: 10px !important;
			}
		}
		.btn-payments-tools{
			.box-btn-pt{
				width: 235px;
				height: 114px;
				margin: auto;
				margin-bottom: 20px;
				p{
					width: 148px;
				}
			}
			.box-btn-pt.btn-1 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-2 {
				background-size: 32px 40px;
				background-position: 180px 38px;
			}
			.box-btn-pt.btn-3 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-4 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-5 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-6 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-7 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			h3{
				text-align: center;
			}
			.box-btn-pap{
				width: 235px;
				margin: auto;
    			margin-bottom: 25px;
				p{
					width: 150px;
				}
			}
			.box-btn-pap.btn-1 {
				background-size: 25px 41px;
				background-position: 183px 38px;
			}
		}
		.box-paring-codes{
			display: block !important;
			margin: auto !important;
			margin-bottom: 15px !important;
		}
		.install-app{
			text-align: center;
		}
		.left-description {
			margin: auto;
		}
		.input-inline, .dropdown-inline, .dropdown-toggle{
			display: block;
			margin: auto;
			margin-bottom: 20px;
		}

		.input-medium, .input-large {
			margin: auto;
			display: block;
		}
		.dropdown-menu {
			min-width: 277px;
		}
		.dropdown-toggle::after{
			left: 84px;
		}
	}
	.payments-buttons{
		.btn-general{
			margin-top: 20px !important;
		}
		h3{
			text-align: center;
		}
		.left-description{
			width: 100%;
			margin-bottom: 48px;
		}
		.create-btn-checkout{
			margin-top: 20px;
			.input-medium, .input-small, .input-large {
				width: 280px;
			}
			.button-size {
				button{
					display: block;
					margin: auto !important;
					margin-top: 18px !important;
				}
			}
			label{
				text-align: center;
				margin-top: 20px;
			}
			.box-generate-code {
				width: 100% !important;
				height: auto !important;
				margin-bottom: 20px;
			}
			.preview-button{
				img{
					display: block;
					margin: auto;
				}
				.copy-code{
					margin: auto;
					margin-top: 20px;
				}
			}

		}
	}
	.new-bill {
		.left-description{
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				text-align: center;
			}
			margin: auto;
		}
		.filter-general{
			margin-top: 30px;
		}
		.btn-general{
			margin-top: 30px !important;
			a.btn-draft-bill {
				padding-left: 40px;
				margin-bottom: 15px !important;
			}
		}
		.title-table-payments{
			margin-right: 0px !important;
			text-align: center;
			h3{
				text-align: center;
			}
		}
		.title-table-payments, .auto-convert, .dropdown-transactions-payments,
		.date-in, .date-out, .dataTables_filter, .pagination{
			display: block !important;
		}
		.auto-convert{
			width: 90px;
			margin: auto;
		}
		.dropdown-transactions-payments {
			top: -5px;
			margin-left: 0px !important;
			margin: auto !important;
		}
		.date-in, .date-out {
			top: 0px;
			margin-left: 15px;
			padding-right: 0px;
			margin-top: 8px;
		}
		.date-in{
			border-right: none !important;
		}
		.pagination-table {
			top: 0px;
			left: 0px !important;
			margin-top: 8px;
		}
		.pagination {
			position: relative !important;
			top: 0px !important;
			right: 0px !important;
			margin: auto !important;
			.previous{
				right: 0px !important;
			}
			.previous::after{
				content: none !important;
			}
		}
		.dataTables_filter {
			position: relative !important;
			top: 0px !important;
			right: 0px !important;
			margin-top: 14px !important;
			text-align: center !important;
		}
		#dataPaymentsTransactions_wrapper{
			text-align: center;
		}
		.table-email-billing{
			.table-responsive {
				margin-top: 35px !important;
				overflow-y: scroll;
				height: 280px;
				width: 100%;
			}
		}
		.buyer-information{
			text-align: center;
			 #addBuyer .dropdown-toggle::after {
				left: 52px;
			}
			.addBuyerInfo{
				.dropdown-toggle::after {
					left: 85px !important;
				}
			}
			input{
				text-align: center;
				padding: 0px 0px 0px 0px;
			}
			.input-large {
				width: 265px;
			}
			.input-medium, .input-small {
				width: 265px;
			}
			.dropdown-toggle::after{
				left: 84px;
			}
			input, .dropdown-toggle{
				margin-left: 0px !important;
				margin:auto !important;
			}
			.input-inline, .dropdown-inline{
				text-align: center;
			}
			.include-buyer{
				margin: auto !important;
				text-align: center;
				display: block;
				margin-top: 35px !important;
			}
			.bill-info{
				text-align: center;
			}
		}
	}

	.quick-check-out{
		.form-quick-check-out{
			width: 100% !important;
			text-align: center;
			.btn-save-changes {
				float: none;
				margin-right: 0px;
				width: 200px;
				margin: auto;
			}
			input{
				margin-bottom: 30px !important;
			}
			.input-large {
				width: 270px;
			}
		}
		.input-inline{
			width: 300px;
		}
		.icon-help::before {
			position: relative;
			left: 74px;
			top: 24px;
		}
		.left-description{
			.view-tip-report {
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
		.btn-save-changes{
			a{
				width: 100% !important;
			}
		}
	}
	.container-create-invoice {
		width: 100% !important;
		.order-number input, .order-number button{
			display: block;
			margin: auto;
		}
		.order-number button{
			margin: auto;
			border-top-left-radius: 10px;
			border-bottom-left-radius: 10px;
			margin-bottom: 35px;
			right: 0px;
			position: relative;
			margin-top: 1rem;
		}
	}

	.tip-report{
		.date-table{
			float: none;
			margin-top: 10px;
		}
		.title-table, .date-table{
			display: block;
			text-align: center;
		}
		.title-date {
			padding: 0px;
		}
	}

	.container-success{
		.box-success{
			width: 90%;
		}
	}

	.sent-email-billing{
		.input-large, .input-medium, .input-small {
			width: 280px !important;
		}
	}

	.container-settings {
        .card-outline {
            height: 100%;
        } 
        .form-right{
            .mt-mg-cs{
                margin-top: 1rem;
            } 
        }
        .content-left {
            .description-cl {
            width: 100%;
            margin-top: 1.5rem;
            }
        }
        .btn-fixed-bottom {
            margin-top: 30px;
        }
        .custom-list {
            padding-left: 0rem;
        }
        .btn-mg-save.fixed-btn {
            margin-top: 35px;
        }
    }  
    label.container-radio {
        margin-bottom: 0px;
	}
	
	.container-hosted-catalog{
		.left-description {
			width: 100% !important;
		}
		.btn-general {
			width: 220px;
			margin: auto;
			margin-top: 40px !important;
			margin-bottom: 40px;

		}
		.box-form{
			margin-top: 40px;
			.form-add-item{
				.input-medium, .input-small {
					width: 245px !important;
				}
				.dropdown-inline{
					margin-bottom: 25px;
				}
				.collect-buyer{
					.btn-save-changes {
						float: none !important;
						margin-right: 30px;
						border: 1px solid #E1E1E1;
						width: 234px;
						margin-top: 20px !important;
					}
				}
			}
		}
		.button-code{
			label{
				text-align: center !important;
			}
			.box-url-general, .small-btn-general, .medium-btn-general, .large-btn-general, .qr-code{
				margin-left: 0px !important;
				display: block !important;
				margin-bottom: 15px !important; 
			}
			.for-web, .for-print {
				top: 0px !important;
				img{
					width: 100% !important;
				}
			}
		}
	}
	
	.container-settings{
		.btn-general{
			margin-top: 20px !important;
		}
		.card-out-table {
			table {
				position: relative !important;
				tbody tr td:nth-child(1) {
					a {
						position: relative !important;
					}
				}
			}
		}
	}

	.payments-details{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				width: 248px;
				margin: auto;
			}
			h3 a::before {
				left: 38px;
			}
			.btn-general {
				margin-top: 40px !important;
				margin-bottom: 40px;
			}
		}
		.input-inline{
			margin-bottom: 35px;
		}
		.product-comments {
			width: 100% !important;
		}
	}
	.payments-refund{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				width: 248px;
				margin: auto;
			}
			h3 a::before {
				left: 38px;
			}
			.btn-general {
				width: 280px;
				margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
			}
		}
		.refund-details{
			input{
				width: 240px;
			}
		}
	}
	.payments-refund-confirmation{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				width: 248px;
				margin: auto;
				margin-bottom: 35px;
			}
			h3 a::before {
				left: 38px;
			}
			.btn-general {
				width: 280px;
				margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
			}
		}
		.refund-details-confirmation input {
			font-size: 14px;
			width: 270px;
		}
		.modal.show .modal-dialog {
			width: 90%;
			max-width: 90%;
		}
	}
	.choose-currency{
		.box-general{
			width: 288px;
			h4{
				font-size: 21px;
				margin-top: 15px;
			}
			ul{
				width: 100%;
				li{
					padding: 25px 0px 0px 42px;
				}
				li::before{
					left: 35px !important;
				}
			}
			.box-qr{
				width: 100%;
				height: auto;
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
		.copied-to-clipboard, .information-ad, .awaiting-payment, .trouble_paying{
			width: 288px;
		}
		.copy-payments a::before{
			content: none !important;
		}
	}
	   
	.container-payments-tools.container-manage-api {
		.description {
			width: 100%;
		}
		.btn-mg {
			width: 100%;
			a.btn-slim {
				width: 198px;
			}
		}
		   .card-add-new {
		   	.card-line {
				   height: 100%;
				   margin-top: 1.10rem;
			.card-new-head {
				   text-align: left;
				   }
			.card-new-body{
				margin-top: 0.5rem;
				padding-left: 2rem;
				}
			}
		}
	}
	.container-payments-tools.container-manage-api {
		.mg-tools-pagination{
		margin: 3rem 0 0rem 0px;
		font-size: 10px;
		text-transform: uppercase;
		display: flex;
		font-family: "GothamRounded";
		justify-content: center;
		}
	}
	.choose-currency{
		.box-general{
			width: 288px;
			h4{
				font-size: 21px;
				margin-top: 15px;
			}
			ul{
				width: 100%;
				li{
					padding: 25px 0px 0px 42px;
				}
				li::before{
					left: 35px !important;
				}
			}
			.box-qr{
				width: 100%;
				height: auto;
				img {
					display: block;
					width: 100%;
					height: auto;
				}
			}
		}
		.copied-to-clipboard, .information-ad, .awaiting-payment, .trouble_paying{
			width: 288px;
		}
		.copy-payments a::before{
			content: none !important;
		}
	}
	.bill-details .modal.show .modal-dialog, .edit-details .modal.show .modal-dialog {
		width: 95%;
	}
	.tooltip-inner {
		color: #898989 !important;
		text-align: center;
		background-color: #fff !important;
		border-radius: 4px !important;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		font-size: 11px;
		padding: 10px !important;
		position: relative;
		left: 57px;
		top: -10px;
	}
	.container-login {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 90%;
		border-radius: 10px;
		height: auto;
		.logo-mercury-gate {
			padding-top: 65px;
		}
		.info-login {
			padding: 78px 40px 0px 40px;
			margin-bottom: 40px;
		}
		input{
			width: 100% !important;
		}
		.bg-login{
			height: auto;
			padding-bottom: 50px;
		}
		.btn-2fa, .btn-forget-pass{
			a{
				display: block !important;
				margin: auto;
				margin-bottom: 30px !important;
			}
			.btn-cancel{
				margin-top: 0px;
			}
		}
		.recaptcha-login{
			width: 100% !important;
		}
	}
	.center-form {
		.form-centered-right {
			padding: 2rem 0.5rem 1rem;
			 .top-content {
			 	margin-top: 0rem;
			 }
		}
		.form-centered-left {
			border-right: 0px solid #E1E1E1;
			border-bottom: 2px solid #E1E1E1;
			padding: 2rem 0.5rem;
			.mg-table {
				.mg-table-th {
					text-align: left;
				}
			}
		}
	}		
	.email-template .form-centered-right .info-order {
		margin-top: 1rem;
		margin-bottom: 50px;
	}
	.white-email-template.modal-dialog {
		.center-form .content-email .mg-table .mg-table-td{
			text-align: left;
		}
	}
	.container-general .email-template .content-email {
		.e-address{
			margin: 2rem 0rem;			
		}
		.e-description {
			padding: 0rem 1rem;
		}
	}
	.container-user-settings, .container-user-settings.user-security{
		.left-description{
			margin: auto;
		}
		.btn-general {
			margin-top: 12px !important;
		}
		.btn-user-settings{
			h3{
				text-align: center;
			}
			.box-btn {
				width: 230px;
				background-image: none;
				margin: auto;
				margin-bottom: 20px;
			}
			input{
				width: 245px;
				margin: auto;
				display: block;
				margin-bottom: 20px;
			}
			label{
				margin-left: 0px;
    			text-align: center;
			}
		}
		.code-qr{
			img{
				display: block;
				margin: auto;
			}
		}
		.token-enable{
			h4{
				text-align: center;
			}
		}
		.modal.show .modal-dialog {
			width: 95%;
			max-width: 399px;
		}
		.modal-content{
			.btn-footer {
				width: 100%;
				margin: auto;
			}
		}
	}
}

@include md{
	.topbar-mg{
		.navbar{
			display: none;
		}
		.nav-item{
			width: 100%;
		}
	}
	header{
		.navbar-setting{
			.navbar-toggler{
				display: none;
			}
		}
		.navbar-toggler {
			margin: auto;
			margin-top: 15px;
			margin-bottom: 15px;
		}
		.nav-item {
    		width: 100%;
		}
	}
	.balances-dashboard, .payments-transactions{
		.balance-ethereum, .balance-dash, .balance-bitcoin{
			width: 134px !important;
    		height: 90px !important;
		}
		.balance-ethereum::after, .balance-dash::after, .balance-bitcoin::after{
			display: none;
		}
		.amount-balance p {
		    margin-top: 52px !important;
		}
	}
	.graph-dashboard{
		.title-graph-left, .title-graph-right{
			display: block !important;
			text-align: center;
			span{
				padding: 0px !important;
			}
		}
		.title-graph-right{
			float: none !important;
		}
	}
	
	.container-dashboard{
		.btn-general {
			margin-top: 290px !important;
			a{
				width: 100% !important;
				padding-left: 0px !important;
			}
			a.btn-documentation::before, a.btn-help::before {
				content: none;
			}
		}
	}

	.container-payments{
		.btn-general {
			margin-top: 252px !important;
			a{
				width: 100% !important;
				padding-left: 0px !important;
			}
			a.btn-documentation::before, a.btn-help::before {
				content: none;
			}
			a.btn-help, a.btn-documentation{
				margin-bottom: 0px !important;
			}
		}
		.table-payments-transactions{
			.box-hide, .title-table-payments {
				display: block !important;
			}
			.auto-convert {
				top: -5px;
			}
			.pagination, .dataTables_filter{
				top: 100px;
			}
			.dataTables_filter .input-large {
				width: 514px !important;
			}
		}
	}

    .table-payments-transactions{
	    .pagination {
		    top: 58px;
		    right: 158px;
		    width: 80px;
		    .previous {
			    top: -4px;
			    right: 0px;
			}
		}
		.dataTables_filter{
			top: 57px;
		}
		.pagination-table{
			display: none !important;
		}
		.previous::after{
			content: none;
		}
		.date-in, .date-out{
			top: 8px !important;
		}
		.date-in{
			border-right: none !important;
			padding-right: 0px !important;
		}
		.auto-convert {
		    position: relative;
		    top: 11px;
		}
		.dropdown-transactions-payments {
    		top: 2px;
		}
		.table-responsive {
    		margin-top: 52px;
		}
	}
	.container-payments-tools {
		.btn-general{
			margin-top: 10px !important ;
			a{
				width: 245px !important;
				margin: auto !important;
			}
		}
		.btn-payments-tools{
			margin-top: 30px;
			h3{
				text-align: center;
				margin-top: 0px;
			}
			.box-btn-pt{
				margin: auto;
				margin-bottom: 20px;
			}
		}
	}
	.new-user-payments{
		.table-payments-transactions{
			.table-responsive{
				height: auto !important;
			}
		}
	}
	.left-description {
		width: 100%;
		h3{
			margin-top: 30px;
		}
	}
	.point-sale-app{
		.btn-payments-tools{
			h3{
				text-align: left;
			}
		}
		.btn-general {
			margin-top: 307px !important;
		}
	}
	.paring-codes .box-paring-codes {
		width: 68px;
		height: 68px;
		font-size: 9px;
		padding-top: 28px;
	}
	.container-payments-tools .install-app {
		margin-top: 55px;
	}

	.payments-buttons{
		.create-btn-checkout{
			margin-top: 30px;
			input{
				margin-bottom: 20px;
			}
			.btn-general {
				margin-top: 20px !important;
			}
			.generate-code{
				p{
					text-align: center;
					margin-left: 0px;
				}
				h3{
					text-align: center;
				}
				.preview-button{
					img{
						display: block;
						margin: auto;
					}
				}
				.copy-code{
					margin: auto;
					margin-top: 20px;
				}
			}
			.box-generate-code{
				margin: auto;
				margin-bottom: 30px;
			}
		}
	}
	.new-bill{
		.table-email-billing .dataTables_filter {
			display: none !important;
		}
		.pagination {
			top: 27px !important;
			right: 10px !important;
			width: 80px !important;
			.previous{
				right: 0px !important;
			}
			.previous::after {
				content: none !important;
			}
		}
		.table-email-billing{
			.table-responsive {
				margin-top: 35px !important;
				overflow-y: scroll;
				height: 280px;
				width: 100%;
			}
		}
		.btn-general {
			margin-top: 317px !important;
			a{
				width: 146px !important;
				padding-left: 0px !important;
				margin-bottom: 10px !important;
			}
			a.btn-new-bill::before, a.btn-draft-bill::before, a.btn-send-bill::before{
				content: none;
			}
			.btn-draft-bill{
				margin-bottom: 15px !important;
			}
			a::before{
				content: none !important;
			}
		}
		.title-table-payments {
			display: block !important;
			margin-right: 0px;
			text-align: center;
		}
		.buyer-information{
			margin-top: 20px;
			input{
				margin-bottom: 18px;
			}
		}
	}
	.quick-check-out{
		.form-quick-check-out{
			width: 100% !important;
			text-align: center;
			.btn-save-changes {
				float: none;
				margin-right: 0px;
				width: 235px;
				margin: auto;
				margin-top: 20px !important;
			}
			input{
				margin-bottom: 30px !important;
			}
			.input-large {
				width: 215px;
			}
			.input-medium {
				width: 210px;
			}
			.dropdown-toggle::after {
				left: 38px;
			}
		}
		.left-description{
			.view-tip-report {
				margin-top: 30px;
				margin-bottom: 30px;
			}
			.btn-quick-checkout-general, .view-tip-report{
				a{
					width: 100% !important;
					font-size: 10px !important; 
					padding-left: 0px !important;
				}
			}
			.btn-quick-checkout::before, .btn-view-tip a::before{
				content: none !important;
			}
		}
	}
	.sent-email-billing{
		.btn-general {
			margin-top: 70px !important;
		}
		.btn-general a {
			width: 100% !important;
			padding-left: 0px !important;
			margin-bottom: 10px !important;
		}
		.btn-general a::before{
			content: none !important;
		}
	}
	 .container-settings {
        .card-outline {
            height: 100%;
        }
        .btn-fixed-bottom {
            margin-top: 30px;
        }
        .btn-mg-save.fixed-btn {
            margin-top: 35px;
        }
    }
    .btn-mg {
        a.btn-settlements {
            margin-top: 100px;
            letter-spacing: 0em;
        }
    }
    .form-right {
        img.icon-cripto {
          right: 8px;  
        }
	}
	.container-hosted-catalog{
		.btn-general {
			a::before {
				left: 6px;
				content: none !important;
			}
			a.add-item{
				width: 100%;
				color: #898989;
				font-size: 11px;
				padding-left: 2px !important;
			}
		}
		.box-form{
			.form-add-item{
				.collect-buyer{
					.btn-save-changes {
						float: none;
						margin-right: 0px;
						margin-top: 30px !important;
					}
				}
			}
		}
		.copy-url{
			.input-inline, .dropdown-inline{
				display: block !important;
			}
			.input-small, .group-2 .input-medium {
				width: 285px !important;
			}
			.dropdown-inline{
				margin-bottom: 25px;
			}
			.large-btn-general{
				margin-top: 25px;
			}
		}
	}
	.container-settings{
		.btn-general{
			margin-top: 20px !important;
			a.btn-documentation::before, a.btn-help::before{
				content: none;
			}
			a{
				width: 100% !important;
				padding-left: 0px !important;
				font-size: 11px;
			}
		}
		.card-out-table {
			table {
				position: relative !important;
				tbody tr td:nth-child(1) {
					a {
						position: relative !important;
					}
				}
			}
		}
	}
	.payments-details{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				width: 248px;
				margin: auto;
			}
			h3 a::before {
				left: 38px;
			}
			.btn-general {
				width: 200px;
    			margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
			}
		}
		.input-inline{
			margin-bottom: 35px;
		}
		.product-comments {
			width: 100% !important;
		}
	}
	.payments-refund{
		.left-description{
			width: 100%;
			.btn-general {
				margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
				a{
					font-size: 9px;
				}
			}
		}
		.refund-details{
			input{
				width: 240px;
			}
		}
	}
		.payments-refund-confirmation{
			.left-description{
				width: 100%;
				text-align: center;
				p{
					text-align: center;
				}

				.btn-general {
					margin: auto;
					margin-top: 86px !important;
					margin-bottom: 40px;
					a{
						font-size: 11px;
					}
				}
			}
			.refund-details-confirmation{
				padding-left: 40px;
				h3{
					margin-top: 30px;
				}
				input{
					font-size: 14px;
					width: 270px;
				}
			.container-payments-tools.container-manage-api {
				.description {
					width: 100%;
				}
				.btn-mg{
					
					a.btn-slim{
					width: 198px;
					}
				}
			}
		}
	}
	.aproved-bill{
		.btn-general {
			margin-top: 225px !important;
		}
	}
	.container-login {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 90%;
		border-radius: 10px;
		height: auto;
		.logo-mercury-gate {
			padding-top: 65px;
		}
		.info-login {
			padding: 78px 40px 0px 40px;
			margin-bottom: 40px;
		}
		input{
			width: 100% !important;
		}
		.bg-login{
			height: auto;
			padding-bottom: 50px;
		}
	}
	.email-template .form-centered-right .info-order {
		margin-top: 1rem;
		margin-bottom: 50px;
	}
	.container-user-settings{
		.btn-general {
			margin-top: 462px !important;
			a.btn-save {
				border: 1px solid #E1E1E1;
				width: 100% !important;
			}
		}
		.btn-user-settings{
			h3{
				text-align: center;
			}
			.box-btn {
				width: 230px;
				background-image: none;
				margin: auto;
				margin-bottom: 20px;
			}
		}
	}
}

@include lg{
	.topbar-mg .navbar{
		padding-top: 19px;
	}
	header{
		.logo-mercury-gate {
    		margin-top: 24px;
    		img{
				width: 112px;
			}
		}
		.nav-item {
    		margin-right: 0px !important;
    		width: 150px !important;
    		border-right: none;
    		padding: 10px 0px 15px 0px;
		}
		.nav-link {
    		margin-left: 0px;
    		font-size: 10px;
		}
		.nav-icons{
			display: none;
		}

	}
	.navbar-setting{
		margin-top: -14px;
		.nav-item{
			width: auto !important;
		}
	}
	.balances-dashboard, .payments-transactions{
		.balance-ethereum, .balance-dash, .balance-bitcoin{
			width: 134px !important;
    		height: 90px !important;
		}
		.balance-ethereum::after, .balance-dash::after, .balance-bitcoin::after{
			display: none;
		}
		.amount-balance p {
		    margin-top: 52px !important;
		}
	}
	.container-dashboard{
		.btn-general {
			margin-top: 290px !important;
			a{
				width: 100% !important;
				padding-left: 0px !important;
			}
			a.btn-documentation::before, a.btn-help::before {
				content: none;
			}
		}
	}
    .table-payments-transactions, .table-email-billing{
	    .pagination {
		    top: 58px !important;
		    right: 158px !important;
		    width: 80px !important;
		    .previous {
			    top: -4px;
			    right: 0px;
			}
		}
		.dataTables_filter{
			top: 57px !important;
		}
		.pagination-table{
			display: none !important;
		}

		.date-in{
			border-right: none !important;
			padding-right: 0px !important;
		}
		.auto-convert {
		    position: relative;
		    top: 11px;
		}
		.dropdown-transactions-payments {
    		top: 2px;
		}
		.table-responsive {
    		margin-top: 52px;
		}
		.previous::after{
			content: none;
		}
		.table-responsive {
			margin-top: 65px !important;
			overflow-y: scroll;
			height: 300px;
		}
	}
	.container-payments-tools {
		.btn-general{
			margin-top: 0px !important;
			a{
				width: 230px !important;
				margin: auto !important;
				margin-bottom: 15px !important;
			}
		}
		.btn-payments-tools{
			h3{
				text-align: center;
				margin-top: 0px;
			}
		}
		.box-btn-pt{
			margin: auto;
			margin-bottom: 30px !important;
		}
	}
	.new-user-payments{
		.table-payments-transactions{
			.table-responsive{
				height: auto !important;
			}
		}
	}
	.left-description {
		width: 100%;
	}
	.point-sale-app{
		.btn-payments-tools{
			h3{
				text-align: left;
			}
		}
		.btn-general{
			margin-top: 78px !important;
			a{
				width: 196px !important;
				margin: auto !important;
				margin-bottom: 15px !important;
				padding-left: 5px !important;
			}
			a.btn-documentation, a.btn-help{
				padding-left: 5px !important;
			}
			a.btn-documentation::before, a.btn-help::before{
				content: none;
			}
		}
	}
	.paring-codes .box-paring-codes {
		width: 68px;
		height: 68px;
		font-size: 9px;
		padding-top: 28px;
	}
	.container-payments-tools .install-app {
		margin-top: 55px;
	}
	.payments-buttons{
		.create-btn-checkout{
			margin-top: 30px;
			input{
				margin-bottom: 20px;
			}
			.btn-general {
				margin-top: 20px !important;
			}
			.generate-code{
				p{
					text-align: center;
					margin-left: 0px;
				}
				h3{
					text-align: center;
				}
				.preview-button{
					img{
						display: block;
						margin: auto;
					}
				}
				.copy-code{
					margin: auto;
					margin-top: 20px;
				}
			}
			.box-generate-code{
				margin: auto;
				margin-bottom: 30px;
			}
			.input-large {
				width: 385px;
			}
			.input-medium {
				width: 268px;
			}			
		}
	}
	.new-bill{
		.table-email-billing .dataTables_filter {
			display: none !important;
		}
		.pagination {
			top: 40px !important;
			right: 10px !important;
			width: 80px !important;
			.previous{
				right: 0px !important;
			}
			.previous::after {
				content: none !important;
			}
		}
		.table-email-billing{
			.table-responsive {
				margin-top: 35px !important;
				overflow-y: scroll;
				height: 280px;
				width: 100%;
			}
		}
		.btn-general {
			margin-top: 317px !important;
			a{
				width: 146px !important;
				padding-left: 20px !important;
			}
			a.btn-new-bill::before {
				top: 6px;
				left: 9px;
			}
		}
		.btn-new-b{
			a{
				width: 192px !important;
			}
			a.btn-draft-bill::before {
				content: url(../img/icon-new-bill-mercury-gate.png);
				top: 6px;
				left: 8px;
			}
		}
		.title-table-payments {
			display: block !important;
			margin-right: 0px;
			text-align: center;
			h3{
				margin-bottom: 20px;
			}
		}
		.buyer-information{
			margin-top: 20px;
			input{
				margin-bottom: 18px;
			}
		}
	}
	.quick-check-out{
		.form-quick-check-out{
			width: 100% !important;
			text-align: center;
			.btn-save-changes {
				float: none;
				margin-right: 0px;
				width: 235px;
				margin: auto;
				margin-top: 20px !important;
			}
			input{
				margin-bottom: 30px !important;
			}
			.input-large {
				width: 215px;
			}
			.input-medium {
				width: 210px;
			}
			.dropdown-toggle::after {
				left: 38px;
			}
		}
		.left-description{
			.view-tip-report {
				margin-top: 30px;
				margin-bottom: 30px;
			}
			.btn-quick-checkout-general, .view-tip-report{
				a{
					width: 100% !important;
					font-size: 10px !important; 
					padding-left: 0px !important;
				}
			}
			.btn-quick-checkout::before, .btn-view-tip a::before{
				content: none !important;
			}
		}
	}
	.sent-email-billing{
		.btn-general{
			margin-top: 40px !important;
		}
		.btn-general a {
			width: 100% !important;
			padding-left: 0px !important;
			margin-bottom: 0px !important;
		}
		.btn-general a::before{
			content: none !important;
		}
	}
	.container-hosted-catalog{
		.box-form{
			.form-add-item{
				.collect-buyer{
					.btn-save-changes {
						float: none;
						margin-right: 0px;
						margin-top: 30px !important;
					}
				}
				.input-small {
					width: 265px;
				}
			}
		}
		.copy-url{
			.input-inline, .dropdown-inline{
				display: block !important;
			}
			.input-small, .group-2 .input-medium {
				width: 285px !important;
			}
			.dropdown-inline{
				margin-bottom: 25px;
			}
			.large-btn-general{
				margin-top: 25px;
			}
		}
	}
	.container-payments{
		.table-payments-transactions{
			.auto-convert {
				top: -5px;
			}
			.pagination, .dataTables_filter{
				top: 100px;
			}
			.dataTables_filter .input-large {
				width: 514px !important;
			}
		}
	}
	.payments-details{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				width: 248px;
				margin: auto;
			}
			h3 a::before {
				left: 38px;
			}
			.btn-general {
				width: 200px;
    			margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
			}
		}
		.input-inline{
			margin-bottom: 35px;
		}
		.product-comments {
			width: 100% !important;
		}
	}
	.payments-refund{
		.left-description{
			width: 100%;
			.btn-general {
				margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
				a{
					font-size: 9px;
				}
			}
		}
		.refund-details{
			input{
				width: 240px;
			}
		}
	}
	.payments-refund-confirmation{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}

			.btn-general {
				margin: auto;
				margin-top: 65px !important;
				margin-bottom: 40px;
				a{
					font-size: 11px;
				}
			}
		}
		.refund-details-confirmation{
			padding-left: 40px;
			h3{
				margin-top: 30px;
			}
			input{
				font-size: 14px;
				width: 270px;
			}
		}
	}
	.tooltip-inner {
		position: relative;
		left: -106px;
		top: -10px;
	}
	.container-login {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 90%;
		border-radius: 10px;
		height: auto;
		.logo-mercury-gate {
			padding-top: 65px;
		}
		.info-login {
			padding: 78px 40px 0px 40px;
			margin-bottom: 40px;
		}
		input{
			width: 100% !important;
		}
		.bg-login{
			height: auto;
			padding-bottom: 50px;
		}
	}
	.email-template.modal-dialog.modal-xl {
		max-width: 882px;
	}
	.container-user-settings{ 
		.btn-user-settings{
			.box-btn {
				width: 275px;
			}
			.box-btn.btn-1 {
				background-size: 53px 51px;
				background-position: 206px 24px;
			}
			.box-btn.btn-2 {
				background-size: 48px 58px;
				background-position: 196px 19px;
			}
			.box-btn.btn-3 {
				background-size: 46px 17px;
				background-position: 220px 44px;
			}
			.box-btn.btn-4 {
				background-position: 190px 14px;
			}
		}
	}
}

@include lgg{
	.container-dashboard .btn-general {
		margin-top: 260px !important;
	}
    .table-payments-transactions, .table-email-billing{
	    .pagination {
		    top: 13px !important;
			right: 46px !important;
			width: 80px !important;
		    .previous {
			    top: -4px;
			    right: 0px;
			}
		}
		.dataTables_filter{
			top: 57px !important;
			display: none !important;
		}
		.pagination-table{
			display: none !important;
		}
		.date-in, .date-out{
			top: 8px !important;
		}
		.date-in{
			border-right: none !important;
			padding-right: 0px !important;
		}
		.auto-convert {
		    position: relative;
		    top: 11px;
		}
		.dropdown-transactions-payments {
    		top: 2px;
		}
		.previous::after{
			content: none;
		}
		.dropdown-transactions-payments button {
			width: 123px !important;
		}
		.dropdown-transactions-payments .dropdown-toggle::after {
			left: 6px;
		}
	}
	.container-payments-tools {
		.btn-general{
			margin-top: 0px !important;
			a{
				width: 230px !important;
				margin: auto !important;
				margin-bottom: 15px !important;
			}
		}
		.btn-payments-tools{
			h3{
				text-align: center;
				margin-top: 0px;
			}
		}
		.box-btn-pt{
			margin: auto;
			margin-bottom: 30px !important;
		}
	}
	.point-sale-app{
		.btn-payments-tools{
			h3{
				text-align: left;
			}
		}
		.btn-general{
			margin-top: 165px !important;
			a{
				width: 196px !important;
				margin: auto !important;
				margin-bottom: 0px !important;
				padding-left: 5px !important;
			}
			a.btn-documentation, a.btn-help{
				padding-left: 5px !important;
			}
			a.btn-documentation::before, a.btn-help::before{
				content: none;
			}
		}
	}
	
	.payments-buttons{
		.left-description {
			width: 100% !important;
		}
		.create-btn-checkout{
			margin-top: 30px;
			input{
				margin-bottom: 20px;
			}
			.btn-general {
				margin-top: 20px !important;
			}
			.generate-code{
				p{
					text-align: center;
					margin-left: 0px;
				}
				h3{
					text-align: center;
				}
				.preview-button{
					img{
						display: block;
						margin: auto;
					}
				}
				.copy-code{
					margin: auto;
					margin-top: 20px;
				}
			}
			.box-generate-code{
				margin: auto;
				margin-bottom: 30px;
			}
		}
	}

	.new-bill{
		.btn-general {
			margin-top: 605px !important;
		}
		.table-email-billing{
			.dataTables_filter{
				display: none !important;
			}
			.dropdown-transactions-payments button {
				width: 120px !important;
			}
			.dropdown-transactions-payments .dropdown-toggle::after {
				left: 6px;
			}
			.dropdown-menu {
				width: 120px !important;
				min-width: 100px !important;
			}
			.filter-general{
				.date-in {
					margin-left: 0px;
				}
			}
			.pagination {
				right: 0px !important;
			}
		}
		
		
	}
	.bill-details{
		.btn-general {
			margin-top: 198px !important;
		}
	}
	.tooltip-inner {
		left: -10px;
		top: -10px;
	}

	.quick-check-out{
		.form-quick-check-out{
			width: 100% !important;
			text-align: center;
			.btn-save-changes {
				float: none;
				margin-right: 0px;
				width: 235px;
				margin: auto;
				margin-top: 20px !important;
			}
			input{
				margin-bottom: 30px !important;
			}
			.input-large {
				width: 215px;
			}
			.input-medium {
				width: 210px;
			}
			.dropdown-toggle::after {
				left: 38px;
			}
		}
		.left-description{
			.view-tip-report {
				margin-top: 105px;
				margin-bottom: 30px;
			}
			.btn-quick-checkout-general, .view-tip-report{
				a{
					width: 100% !important;
					font-size: 10px !important; 
					padding-left: 0px !important;
				}
			}
			.btn-quick-checkout::before, .btn-view-tip a::before{
				content: none !important;
			}
		}
	}
	.sent-email-billing{
		.btn-general{
			margin-top: 40px !important;
		}
		.btn-general a {
			width: 100% !important;
			padding-left: 0px !important;
			margin-bottom: 0px !important;
		}
		.btn-general a::before{
			content: none !important;
		}
	}

	.copy-url{
		.input-medium {
			width: 216px !important;
		}
		.input-small {
			width: 216px !important;
		}
		.dropdown-inline{
			margin-bottom: 25px;
		}
		.large-btn-general{
			margin-top: 25px;
		}
	}
	.hosted-add-item .box-form .form-add-item .collect-buyer .btn-save-changes{
		float: none !important;
		margin-top: 20px !important;
	}
	.container-payments{
		.table-payments-transactions{
			.auto-convert, .table-email-billing .auto-convert {
				position: relative;
				top: -8px;
			}
		}
	}
	.payments-details{
		.left-description{
			width: 100%;
			text-align: center;
			p{
				text-align: center;
			}
			h3{
				width: 248px;
				margin: auto;
			}
			h3 a::before {
				left: 38px;
			}
			.btn-general {
				width: 200px;
    			margin: auto;
				margin-top: 40px !important;
				margin-bottom: 40px;
			}
		}
		.input-inline{
			margin-bottom: 35px;
		}
		.product-comments {
			width: 100% !important;
		}
	}
	.container-login {
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		width: 90%;
		border-radius: 10px;
		height: auto;
		.logo-mercury-gate {
			padding-top: 65px;
		}
		.info-login {
			padding: 78px 40px 0px 40px;
			margin-bottom: 40px;
		}
		input{
			width: 100% !important;
		}
		.bg-login{
			height: auto;
			padding-bottom: 50px;
		}
	}
	.container-user-settings{ 
		.btn-user-settings{
			.box-btn {
				width: 300px;
			}
			.box-btn.btn-1 {
				background-size: 53px 51px;
				background-position: 223px 24px;
			}
			.box-btn.btn-2 {
				background-size: 48px 58px;
				background-position: 231px 19px;
			}
			.box-btn.btn-3 {
				background-size: 66px 25px;
				background-position: 220px 38px;
			}
			.box-btn.btn-4 {
				background-position: 210px 14px;
			}
		}
	}
}

@include xl{
	header{
		.logo-mercury-gate {
    		margin-top: 24px;
    		img{
				width: 112px;
			}
		}
		.nav-item {
    		margin-right: 0px !important;
    		width: 150px !important;
    		border-right: none;
    		padding: 10px 0px 15px 0px;
		}
		.nav-link {
    		margin-left: 0px;
    		font-size: 10px;
		}
		.nav-icons{
			display: none;
		}

	}
	.navbar-setting{
		margin-top: -14px;
		.nav-item{
			width: auto !important;
		}
	}

	.container-dashboard .btn-general {
		margin-top: 260px !important;
	}

    .table-payments-transactions, .table-email-billing{
	    .pagination {
		    top: 12px !important;
		    right: 158px !important;
		    width: 80px !important;
		    .previous {
			    top: -4px !important;
			    right: 0px !important;
			}
			.previous::after{
				content: none;
			}
		}
		.dataTables_filter{
			top: 12px;
		}
		.pagination-table{
			display: none !important;
		}
		.date-in, .date-out{
			top: 8px !important;
		}
		.date-in{
			border-right: none !important;
			padding-right: 0px !important;
			margin-left: 0px !important; 
		}
		.auto-convert {
		    position: relative;
		    top: 11px;
		}
		.dropdown-transactions-payments {
			top: 2px;
		}
		.table-responsive {
    		margin-top: 10px;
		}
		.title-table-payments {
		    margin-right: 10px !important;
		}
		.previous::after{
			content: none;
		}
		.dropdown-transactions-payments button {
			width: 140px !important;
		}
		.dropdown-menu{
			min-width: 140px;
		}
		.dropdown-toggle::after {
			left: 25px !important;
		}

	}
	.container-payments-tools {
		.btn-payments-tools{
			.box-btn-pt{
				width: 240px;
				p{
					width: 163px;
				}
			}
			.box-btn-pt.btn-1 {
				background-size: 40px 40px;
				background-position: 182px 33px;
			}
			.box-btn-pt.btn-2 {
				background-size: 32px 40px;
				background-position: 189px 36px;
			}
			.box-btn-pt.btn-3 {
				background-size: 40px 40px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-4 {
				background-size: 40px 34px;
				background-position: 176px 38px;
			}
			.box-btn-pt.btn-5 {
				background-size: 31px 31px;
				background-position: 187px 38px;
			}
			.box-btn-pt.btn-6 {
				background-size: 40px 40px;
				background-position: 176px 25px;
			}
			.box-btn-pt.btn-7 {
				background-size: 40px 40px;
				background-position: 176px 35px;
			}
		}
		.create-btn-checkout{
			.input-large {
				width: 330px;
			}
			.input-medium {
				width: 240px;
			}
		}
	}
	.payments-buttons{
		.btn-general {
			margin-top: 20px !important;
		}
		.generate-code .box-generate-code {
			width: 100% !important;
		}
		input{
			margin-bottom: 25px;
		}
	}
	.new-bill{
		.table-email-billing{
			.dropdown-transactions-payments{
				button{
					width: 138px !important;
				}
			}
			.dropdown-toggle::after {
				left: 3px !important;
			}
		}
	}

	.quick-check-out{
		.form-quick-check-out{
			width: 100% !important;
			text-align: center;
			.btn-save-changes {
				float: none;
				margin-right: 0px;
				width: 235px;
				margin: auto;
				margin-top: 20px !important;
			}
			input{
				margin-bottom: 30px !important;
			}
			.input-large {
				width: 215px;
			}
			.input-medium {
				width: 210px;
			}
			.dropdown-toggle::after {
				left: 38px;
			}
		}
		.left-description{
			.view-tip-report {
				margin-top: 30px;
				margin-bottom: 30px;
			}
			.btn-quick-checkout-general, .view-tip-report{
				a{
					width: 100% !important;
					font-size: 10px !important; 
					padding-left: 0px !important;
				}
			}
			.btn-quick-checkout::before, .btn-view-tip a::before{
				content: none !important;
			}
		}
	}
	.sent-email-billing{
		.btn-general{
			margin-top: 40px !important;
		}
		.btn-general a {
			width: 100% !important;
			padding-left: 0px !important;
			margin-bottom: 0px !important;
		}
		.btn-general a::before{
			content: none !important;
		}
	}
	.container-hosted-catalog{
		.box-form{
			.form-add-item{
				.collect-buyer{
					.btn-save-changes {
						float: none;
						margin-right: 0px;
						margin-top: 30px !important;
					}
				}
				.input-medium {
					width: 248px;
				}
				.input-small {
					width: 240px;
				}
			}
		}
	}
	.payments-details{
		.input-inline{
			margin-bottom: 35px;
		}
		.left-description{
			.btn-general {
				margin-top: 283px !important;
			}
		}
	}
	.icon-help::before {
		position: relative;
		left: 60px;
		top: 24px;
	}
		
}

@include xl{
	header{
		.logo-mercury-gate {
    		margin-top: 24px;
    		img{
				width: 112px;
			}
		}
		.nav-item {
    		margin-right: 0px !important;
    		width: 150px !important;
    		border-right: none;
    		padding: 10px 0px 15px 0px;
		}
		.nav-link {
    		margin-left: 0px;
    		font-size: 10px;
		}
		.nav-icons{
			display: none;
		}

	}
	.navbar-setting{
		margin-top: -14px;
		.nav-item{
			width: auto !important;
		}
	}

	.container-dashboard{
		.btn-general {
			margin-top: 280px !important;
		}
		.btn-general a {
			width: 100% !important;
		}
		a.btn-documentation, a.btn-help{
			padding-left: 14px !important;
		}
	}
	
    .table-payments-transactions, .table-email-billing{
	    .pagination {
		    top: 12px !important;
		    right: 158px !important;
		    width: 80px !important;
		    .previous {
			    top: -4px !important;
			    right: 0px !important;
			}
			.previous::after{
				content: none;
			}
		}
		.dataTables_filter{
			top: 12px;
		}
		.pagination-table{
			display: none !important;
		}
		.date-in, .date-out{
			top: 8px !important;
		}
		.date-in{
			border-right: none !important;
			padding-right: 0px !important;
			margin-left: 0px !important; 
		}
		.auto-convert {
		    position: relative;
		    top: 11px;
		}
		.dropdown-transactions-payments {
			top: 2px;
		}
		.table-responsive {
    		margin-top: 10px;
		}
		.title-table-payments {
		    margin-right: 10px !important;
		}
		.previous::after{
			content: none;
		}
		

	}
	.container-payments{
		.table-payments-transactions{
			.auto-convert, .table-email-billing .auto-convert {
				position: relative;
				top: -8px;
			}
			.dataTables_filter .input-large {
				width: 620px !important;
			}
		}
	}

	.payments-details{
		.input-inline{
			margin-bottom: 35px;
		}
		.left-description{
			.btn-general {
				margin-top: 283px !important;
			}
		}
	}

	
}

@include xll{
	.container-dashboard{
		.btn-general {
			margin-top: 280px !important;
		}
		.btn-general a {
			width: 100% !important;
		}
		a.btn-documentation, a.btn-help{
			padding-left: 14px !important;
		}
	}
	
    .table-payments-transactions{
	    .pagination {
		    top: 12px;
		    right: 158px;
		    width: 80px;
		    .previous {
			    top: -4px;
			    right: 0px;
			}
		}
		.dataTables_filter{
			top: 12px;
		}
		.pagination-table{
			display: none !important;
		}
		.date-in, .date-out{
			top: 8px !important;
		}
		.date-in{
			border-right: none !important;
			padding-right: 0px !important;
		}
		.auto-convert {
		    position: relative;
		    top: 11px;
		}
		.dropdown-transactions-payments {
    		top: 2px;
		}
		.table-responsive {
    		margin-top: 10px;
		}
		.title-table-payments {
		    margin-right: 10px;
		}
		.dropdown-transactions-payments button, .dropdown-transactions-payments {
    		width: 148px !important;
    		.dropdown-toggle::after {
    				left: 28px;
			}
		}
		.previous::after{
			content: none;
		}
	}
	.payments-buttons{
		.create-btn-checkout{
			.input-large {
				width: 330px;
			}
			.input-medium {
				width: 240px;
			}
			.box-generate-code{
				width: 100% !important;
			}
		}
	}
	.new-bill{
		.btn-general {
			margin-top: 605px !important;
		}
		.table-email-billing{
			.dataTables_filter{
				display: none !important;
			}
		}
		.pagination {
			right: 48px !important; 
		}
	}
	.container-hosted-catalog{
		.box-form{
			.form-add-item{
				.collect-buyer{
					.btn-save-changes {
						float: none;
						margin-right: 0px;
						margin-top: 30px !important;
					}
				}
				.input-medium {
					width: 248px;
				}
				.input-small {
					width: 240px;
				}
			}
		}
	}
	.container-payments{
		.table-payments-transactions{
			.auto-convert, .table-email-billing .auto-convert {
				position: relative;
				top: -8px;
			}
			.dataTables_filter .input-large {
				width: 620px !important;
			}
		}
	}

	.payments-details{
		.input-inline{
			margin-bottom: 35px;
		}
		.left-description{
			.btn-general {
				margin-top: 278px !important;
			}
		}
	}
}

@include xxll{
	.container-general, header .container-fluid, #navbar-mc, .topbar-mg .container-fluid, .container-payments, .container-email-billing{
		width: 1440px;
		margin: auto;
	}
	.hosted-add-item .box-form .form-add-item .input-small {
		width: 189px !important;
	}

	.hosted-add-item .box-form .form-add-item .group-2 .input-medium {
		width: 250px !important;
	}

	.hosted-add-item .box-form .form-add-item .input-medium {
		width: 300px !important;
	}

}