@media (min-width: 320px) and (max-width: 767px) {
  .logo-mercury-gate img {
    display: block;
    margin: auto; }
  .topbar-mg .navbar {
    display: none; }
  .topbar-mg .nav-item {
    width: 100%; }
  header {
    padding: 0px 15px 0px 15px; }
    header .navbar-setting .navbar-toggler {
      display: none; }
  .navbar-toggler {
    margin: auto;
    margin-top: 18px;
    margin-bottom: 18px; }
  .graph-dashboard {
    margin-top: 40px; }
    .graph-dashboard .title-graph-left, .graph-dashboard .title-graph-right {
      display: block !important;
      text-align: center; }
      .graph-dashboard .title-graph-left span, .graph-dashboard .title-graph-right span {
        padding: 0px !important; }
    .graph-dashboard .title-graph-right {
      float: none !important; }
    .graph-dashboard .separator-g {
      padding: 0px 0px 0px 0px !important;
      display: none; }
  .balance-transactions h3 {
    text-align: center;
    margin-bottom: 25px; }
  .balance-transactions .title-table-dashboard {
    display: block !important; }
  .container-dashboard .btn-general {
    margin-top: 10px !important; }
  .container-payments h3 {
    text-align: center; }
  .container-payments .title-table-payments {
    margin-right: 0px; }
    .container-payments .title-table-payments h3 {
      text-align: center;
      margin-bottom: 30px; }
  .container-payments .table-payments-transactions .title-table-payments, .container-payments .table-payments-transactions .auto-convert, .container-payments .table-payments-transactions .dropdown-transactions-payments,
  .container-payments .table-payments-transactions .date-in, .container-payments .table-payments-transactions .date-out, .container-payments .table-payments-transactions .dataTables_filter, .container-payments .table-payments-transactions .pagination {
    display: block !important; }
  .container-payments .box-hide {
    display: block !important; }
  .container-payments .auto-convert {
    width: 90px;
    margin: auto; }
  .container-payments .dropdown-transactions-payments {
    top: -5px;
    margin-left: 0px;
    margin: auto;
    margin-top: 25px; }
  .container-payments .date-in, .container-payments .date-out {
    top: 0px;
    margin-left: 15px;
    padding-right: 0px;
    margin-top: 8px; }
  .container-payments .date-in {
    border-right: none !important; }
  .container-payments .pagination-table {
    top: 0px;
    left: 0px !important;
    margin-top: 8px; }
  .container-payments .pagination {
    position: relative;
    top: 0px !important;
    right: 0px;
    margin: auto !important; }
    .container-payments .pagination .previous {
      right: 0px; }
    .container-payments .pagination .previous::after {
      content: none; }
  .container-payments .dataTables_filter {
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 14px; }
    .container-payments .dataTables_filter .input-large {
      width: 100% !important; }
  .container-payments .dataTables_filter::after {
    right: 76px; }
  .container-payments .payments-transactions .balance-ethereum, .container-payments .payments-transactions .balance-dash, .container-payments .payments-transactions .balance-bitcoin, .container-payments .payments-transactions a.btn-documentation, .container-payments .payments-transactions a.btn-help, .container-payments .btn-general .balance-ethereum, .container-payments .btn-general .balance-dash, .container-payments .btn-general .balance-bitcoin, .container-payments .btn-general a.btn-documentation, .container-payments .btn-general a.btn-help {
    margin: auto;
    margin-bottom: 10px; }
  .new-user-payments .img-new-user-payments {
    width: 100%; }
  .container-payments-tools {
    padding: 48px 18px 0px 18px; }
    .container-payments-tools .btn-general {
      margin-top: 30px !important;
      margin-bottom: 35px; }
      .container-payments-tools .btn-general a {
        margin: auto !important;
        margin-bottom: 10px !important; }
    .container-payments-tools .btn-payments-tools .box-btn-pt {
      width: 235px;
      height: 114px;
      margin: auto;
      margin-bottom: 20px; }
      .container-payments-tools .btn-payments-tools .box-btn-pt p {
        width: 148px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-1 {
      background-size: 40px 40px;
      background-position: 176px 38px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-2 {
      background-size: 32px 40px;
      background-position: 180px 38px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-3 {
      background-size: 40px 40px;
      background-position: 176px 38px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-4 {
      background-size: 40px 40px;
      background-position: 176px 38px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-5 {
      background-size: 40px 40px;
      background-position: 176px 38px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-6 {
      background-size: 40px 40px;
      background-position: 176px 38px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt.btn-7 {
      background-size: 40px 40px;
      background-position: 176px 38px; }
    .container-payments-tools .btn-payments-tools h3 {
      text-align: center; }
    .container-payments-tools .btn-payments-tools .box-btn-pap {
      width: 235px;
      margin: auto;
      margin-bottom: 25px; }
      .container-payments-tools .btn-payments-tools .box-btn-pap p {
        width: 150px; }
    .container-payments-tools .btn-payments-tools .box-btn-pap.btn-1 {
      background-size: 25px 41px;
      background-position: 183px 38px; }
    .container-payments-tools .box-paring-codes {
      display: block !important;
      margin: auto !important;
      margin-bottom: 15px !important; }
    .container-payments-tools .install-app {
      text-align: center; }
    .container-payments-tools .left-description {
      margin: auto; }
    .container-payments-tools .input-inline, .container-payments-tools .dropdown-inline, .container-payments-tools .dropdown-toggle {
      display: block;
      margin: auto;
      margin-bottom: 20px; }
    .container-payments-tools .input-medium, .container-payments-tools .input-large {
      margin: auto;
      display: block; }
    .container-payments-tools .dropdown-menu {
      min-width: 277px; }
    .container-payments-tools .dropdown-toggle::after {
      left: 84px; }
  .payments-buttons .btn-general {
    margin-top: 20px !important; }
  .payments-buttons h3 {
    text-align: center; }
  .payments-buttons .left-description {
    width: 100%;
    margin-bottom: 48px; }
  .payments-buttons .create-btn-checkout {
    margin-top: 20px; }
    .payments-buttons .create-btn-checkout .input-medium, .payments-buttons .create-btn-checkout .input-small, .payments-buttons .create-btn-checkout .input-large {
      width: 280px; }
    .payments-buttons .create-btn-checkout .button-size button {
      display: block;
      margin: auto !important;
      margin-top: 18px !important; }
    .payments-buttons .create-btn-checkout label {
      text-align: center;
      margin-top: 20px; }
    .payments-buttons .create-btn-checkout .box-generate-code {
      width: 100% !important;
      height: auto !important;
      margin-bottom: 20px; }
    .payments-buttons .create-btn-checkout .preview-button img {
      display: block;
      margin: auto; }
    .payments-buttons .create-btn-checkout .preview-button .copy-code {
      margin: auto;
      margin-top: 20px; }
  .new-bill .left-description {
    text-align: center;
    margin: auto; }
    .new-bill .left-description p {
      text-align: center; }
    .new-bill .left-description h3 {
      text-align: center; }
  .new-bill .filter-general {
    margin-top: 30px; }
  .new-bill .btn-general {
    margin-top: 30px !important; }
    .new-bill .btn-general a.btn-draft-bill {
      padding-left: 40px;
      margin-bottom: 15px !important; }
  .new-bill .title-table-payments {
    margin-right: 0px !important;
    text-align: center; }
    .new-bill .title-table-payments h3 {
      text-align: center; }
  .new-bill .title-table-payments, .new-bill .auto-convert, .new-bill .dropdown-transactions-payments,
  .new-bill .date-in, .new-bill .date-out, .new-bill .dataTables_filter, .new-bill .pagination {
    display: block !important; }
  .new-bill .auto-convert {
    width: 90px;
    margin: auto; }
  .new-bill .dropdown-transactions-payments {
    top: -5px;
    margin-left: 0px !important;
    margin: auto !important; }
  .new-bill .date-in, .new-bill .date-out {
    top: 0px;
    margin-left: 15px;
    padding-right: 0px;
    margin-top: 8px; }
  .new-bill .date-in {
    border-right: none !important; }
  .new-bill .pagination-table {
    top: 0px;
    left: 0px !important;
    margin-top: 8px; }
  .new-bill .pagination {
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    margin: auto !important; }
    .new-bill .pagination .previous {
      right: 0px !important; }
    .new-bill .pagination .previous::after {
      content: none !important; }
  .new-bill .dataTables_filter {
    position: relative !important;
    top: 0px !important;
    right: 0px !important;
    margin-top: 14px !important;
    text-align: center !important; }
  .new-bill #dataPaymentsTransactions_wrapper {
    text-align: center; }
  .new-bill .table-email-billing .table-responsive {
    margin-top: 35px !important;
    overflow-y: scroll;
    height: 280px;
    width: 100%; }
  .new-bill .buyer-information {
    text-align: center; }
    .new-bill .buyer-information #addBuyer .dropdown-toggle::after {
      left: 52px; }
    .new-bill .buyer-information .addBuyerInfo .dropdown-toggle::after {
      left: 85px !important; }
    .new-bill .buyer-information input {
      text-align: center;
      padding: 0px 0px 0px 0px; }
    .new-bill .buyer-information .input-large {
      width: 265px; }
    .new-bill .buyer-information .input-medium, .new-bill .buyer-information .input-small {
      width: 265px; }
    .new-bill .buyer-information .dropdown-toggle::after {
      left: 84px; }
    .new-bill .buyer-information input, .new-bill .buyer-information .dropdown-toggle {
      margin-left: 0px !important;
      margin: auto !important; }
    .new-bill .buyer-information .input-inline, .new-bill .buyer-information .dropdown-inline {
      text-align: center; }
    .new-bill .buyer-information .include-buyer {
      margin: auto !important;
      text-align: center;
      display: block;
      margin-top: 35px !important; }
    .new-bill .buyer-information .bill-info {
      text-align: center; }
  .quick-check-out .form-quick-check-out {
    width: 100% !important;
    text-align: center; }
    .quick-check-out .form-quick-check-out .btn-save-changes {
      float: none;
      margin-right: 0px;
      width: 200px;
      margin: auto; }
    .quick-check-out .form-quick-check-out input {
      margin-bottom: 30px !important; }
    .quick-check-out .form-quick-check-out .input-large {
      width: 270px; }
  .quick-check-out .input-inline {
    width: 300px; }
  .quick-check-out .icon-help::before {
    position: relative;
    left: 74px;
    top: 24px; }
  .quick-check-out .left-description .view-tip-report {
    margin-top: 30px;
    margin-bottom: 30px; }
  .quick-check-out .btn-save-changes a {
    width: 100% !important; }
  .container-create-invoice {
    width: 100% !important; }
    .container-create-invoice .order-number input, .container-create-invoice .order-number button {
      display: block;
      margin: auto; }
    .container-create-invoice .order-number button {
      margin: auto;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      margin-bottom: 35px;
      right: 0px;
      position: relative;
      margin-top: 1rem; }
  .tip-report .date-table {
    float: none;
    margin-top: 10px; }
  .tip-report .title-table, .tip-report .date-table {
    display: block;
    text-align: center; }
  .tip-report .title-date {
    padding: 0px; }
  .container-success .box-success {
    width: 90%; }
  .sent-email-billing .input-large, .sent-email-billing .input-medium, .sent-email-billing .input-small {
    width: 280px !important; }
  .container-settings .card-outline {
    height: 100%; }
  .container-settings .form-right .mt-mg-cs {
    margin-top: 1rem; }
  .container-settings .content-left .description-cl {
    width: 100%;
    margin-top: 1.5rem; }
  .container-settings .btn-fixed-bottom {
    margin-top: 30px; }
  .container-settings .custom-list {
    padding-left: 0rem; }
  .container-settings .btn-mg-save.fixed-btn {
    margin-top: 35px; }
  label.container-radio {
    margin-bottom: 0px; }
  .container-hosted-catalog .left-description {
    width: 100% !important; }
  .container-hosted-catalog .btn-general {
    width: 220px;
    margin: auto;
    margin-top: 40px !important;
    margin-bottom: 40px; }
  .container-hosted-catalog .box-form {
    margin-top: 40px; }
    .container-hosted-catalog .box-form .form-add-item .input-medium, .container-hosted-catalog .box-form .form-add-item .input-small {
      width: 245px !important; }
    .container-hosted-catalog .box-form .form-add-item .dropdown-inline {
      margin-bottom: 25px; }
    .container-hosted-catalog .box-form .form-add-item .collect-buyer .btn-save-changes {
      float: none !important;
      margin-right: 30px;
      border: 1px solid #E1E1E1;
      width: 234px;
      margin-top: 20px !important; }
  .container-hosted-catalog .button-code label {
    text-align: center !important; }
  .container-hosted-catalog .button-code .box-url-general, .container-hosted-catalog .button-code .small-btn-general, .container-hosted-catalog .button-code .medium-btn-general, .container-hosted-catalog .button-code .large-btn-general, .container-hosted-catalog .button-code .qr-code {
    margin-left: 0px !important;
    display: block !important;
    margin-bottom: 15px !important; }
  .container-hosted-catalog .button-code .for-web, .container-hosted-catalog .button-code .for-print {
    top: 0px !important; }
    .container-hosted-catalog .button-code .for-web img, .container-hosted-catalog .button-code .for-print img {
      width: 100% !important; }
  .container-settings .btn-general {
    margin-top: 20px !important; }
  .container-settings .card-out-table table {
    position: relative !important; }
    .container-settings .card-out-table table tbody tr td:nth-child(1) a {
      position: relative !important; }
  .payments-details .left-description {
    width: 100%;
    text-align: center; }
    .payments-details .left-description p {
      text-align: center; }
    .payments-details .left-description h3 {
      width: 248px;
      margin: auto; }
    .payments-details .left-description h3 a::before {
      left: 38px; }
    .payments-details .left-description .btn-general {
      margin-top: 40px !important;
      margin-bottom: 40px; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .product-comments {
    width: 100% !important; }
  .payments-refund .left-description {
    width: 100%;
    text-align: center; }
    .payments-refund .left-description p {
      text-align: center; }
    .payments-refund .left-description h3 {
      width: 248px;
      margin: auto; }
    .payments-refund .left-description h3 a::before {
      left: 38px; }
    .payments-refund .left-description .btn-general {
      width: 280px;
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
  .payments-refund .refund-details input {
    width: 240px; }
  .payments-refund-confirmation .left-description {
    width: 100%;
    text-align: center; }
    .payments-refund-confirmation .left-description p {
      text-align: center; }
    .payments-refund-confirmation .left-description h3 {
      width: 248px;
      margin: auto;
      margin-bottom: 35px; }
    .payments-refund-confirmation .left-description h3 a::before {
      left: 38px; }
    .payments-refund-confirmation .left-description .btn-general {
      width: 280px;
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
  .payments-refund-confirmation .refund-details-confirmation input {
    font-size: 14px;
    width: 270px; }
  .payments-refund-confirmation .modal.show .modal-dialog {
    width: 90%;
    max-width: 90%; }
  .choose-currency .box-general {
    width: 288px; }
    .choose-currency .box-general h4 {
      font-size: 21px;
      margin-top: 15px; }
    .choose-currency .box-general ul {
      width: 100%; }
      .choose-currency .box-general ul li {
        padding: 25px 0px 0px 42px; }
      .choose-currency .box-general ul li::before {
        left: 35px !important; }
    .choose-currency .box-general .box-qr {
      width: 100%;
      height: auto; }
      .choose-currency .box-general .box-qr img {
        display: block;
        width: 100%;
        height: auto; }
  .choose-currency .copied-to-clipboard, .choose-currency .information-ad, .choose-currency .awaiting-payment, .choose-currency .trouble_paying {
    width: 288px; }
  .choose-currency .copy-payments a::before {
    content: none !important; }
  .container-payments-tools.container-manage-api .description {
    width: 100%; }
  .container-payments-tools.container-manage-api .btn-mg {
    width: 100%; }
    .container-payments-tools.container-manage-api .btn-mg a.btn-slim {
      width: 198px; }
  .container-payments-tools.container-manage-api .card-add-new .card-line {
    height: 100%;
    margin-top: 1.10rem; }
    .container-payments-tools.container-manage-api .card-add-new .card-line .card-new-head {
      text-align: left; }
    .container-payments-tools.container-manage-api .card-add-new .card-line .card-new-body {
      margin-top: 0.5rem;
      padding-left: 2rem; }
  .container-payments-tools.container-manage-api .mg-tools-pagination {
    margin: 3rem 0 0rem 0px;
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    font-family: "GothamRounded";
    justify-content: center; }
  .choose-currency .box-general {
    width: 288px; }
    .choose-currency .box-general h4 {
      font-size: 21px;
      margin-top: 15px; }
    .choose-currency .box-general ul {
      width: 100%; }
      .choose-currency .box-general ul li {
        padding: 25px 0px 0px 42px; }
      .choose-currency .box-general ul li::before {
        left: 35px !important; }
    .choose-currency .box-general .box-qr {
      width: 100%;
      height: auto; }
      .choose-currency .box-general .box-qr img {
        display: block;
        width: 100%;
        height: auto; }
  .choose-currency .copied-to-clipboard, .choose-currency .information-ad, .choose-currency .awaiting-payment, .choose-currency .trouble_paying {
    width: 288px; }
  .choose-currency .copy-payments a::before {
    content: none !important; }
  .bill-details .modal.show .modal-dialog, .edit-details .modal.show .modal-dialog {
    width: 95%; }
  .tooltip-inner {
    color: #898989 !important;
    text-align: center;
    background-color: #fff !important;
    border-radius: 4px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 11px;
    padding: 10px !important;
    position: relative;
    left: 57px;
    top: -10px; }
  .container-login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    border-radius: 10px;
    height: auto; }
    .container-login .logo-mercury-gate {
      padding-top: 65px; }
    .container-login .info-login {
      padding: 78px 40px 0px 40px;
      margin-bottom: 40px; }
    .container-login input {
      width: 100% !important; }
    .container-login .bg-login {
      height: auto;
      padding-bottom: 50px; }
    .container-login .btn-2fa a, .container-login .btn-forget-pass a {
      display: block !important;
      margin: auto;
      margin-bottom: 30px !important; }
    .container-login .btn-2fa .btn-cancel, .container-login .btn-forget-pass .btn-cancel {
      margin-top: 0px; }
    .container-login .recaptcha-login {
      width: 100% !important; }
  .center-form .form-centered-right {
    padding: 2rem 0.5rem 1rem; }
    .center-form .form-centered-right .top-content {
      margin-top: 0rem; }
  .center-form .form-centered-left {
    border-right: 0px solid #E1E1E1;
    border-bottom: 2px solid #E1E1E1;
    padding: 2rem 0.5rem; }
    .center-form .form-centered-left .mg-table .mg-table-th {
      text-align: left; }
  .email-template .form-centered-right .info-order {
    margin-top: 1rem;
    margin-bottom: 50px; }
  .white-email-template.modal-dialog .center-form .content-email .mg-table .mg-table-td {
    text-align: left; }
  .container-general .email-template .content-email .e-address {
    margin: 2rem 0rem; }
  .container-general .email-template .content-email .e-description {
    padding: 0rem 1rem; }
  .container-user-settings .left-description, .container-user-settings.user-security .left-description {
    margin: auto; }
  .container-user-settings .btn-general, .container-user-settings.user-security .btn-general {
    margin-top: 12px !important; }
  .container-user-settings .btn-user-settings h3, .container-user-settings.user-security .btn-user-settings h3 {
    text-align: center; }
  .container-user-settings .btn-user-settings .box-btn, .container-user-settings.user-security .btn-user-settings .box-btn {
    width: 230px;
    background-image: none;
    margin: auto;
    margin-bottom: 20px; }
  .container-user-settings .btn-user-settings input, .container-user-settings.user-security .btn-user-settings input {
    width: 245px;
    margin: auto;
    display: block;
    margin-bottom: 20px; }
  .container-user-settings .btn-user-settings label, .container-user-settings.user-security .btn-user-settings label {
    margin-left: 0px;
    text-align: center; }
  .container-user-settings .code-qr img, .container-user-settings.user-security .code-qr img {
    display: block;
    margin: auto; }
  .container-user-settings .token-enable h4, .container-user-settings.user-security .token-enable h4 {
    text-align: center; }
  .container-user-settings .modal.show .modal-dialog, .container-user-settings.user-security .modal.show .modal-dialog {
    width: 95%;
    max-width: 399px; }
  .container-user-settings .modal-content .btn-footer, .container-user-settings.user-security .modal-content .btn-footer {
    width: 100%;
    margin: auto; } }

@media (min-width: 768px) and (max-width: 991px) {
  .topbar-mg .navbar {
    display: none; }
  .topbar-mg .nav-item {
    width: 100%; }
  header .navbar-setting .navbar-toggler {
    display: none; }
  header .navbar-toggler {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px; }
  header .nav-item {
    width: 100%; }
  .balances-dashboard .balance-ethereum, .balances-dashboard .balance-dash, .balances-dashboard .balance-bitcoin, .payments-transactions .balance-ethereum, .payments-transactions .balance-dash, .payments-transactions .balance-bitcoin {
    width: 134px !important;
    height: 90px !important; }
  .balances-dashboard .balance-ethereum::after, .balances-dashboard .balance-dash::after, .balances-dashboard .balance-bitcoin::after, .payments-transactions .balance-ethereum::after, .payments-transactions .balance-dash::after, .payments-transactions .balance-bitcoin::after {
    display: none; }
  .balances-dashboard .amount-balance p, .payments-transactions .amount-balance p {
    margin-top: 52px !important; }
  .graph-dashboard .title-graph-left, .graph-dashboard .title-graph-right {
    display: block !important;
    text-align: center; }
    .graph-dashboard .title-graph-left span, .graph-dashboard .title-graph-right span {
      padding: 0px !important; }
  .graph-dashboard .title-graph-right {
    float: none !important; }
  .container-dashboard .btn-general {
    margin-top: 290px !important; }
    .container-dashboard .btn-general a {
      width: 100% !important;
      padding-left: 0px !important; }
    .container-dashboard .btn-general a.btn-documentation::before, .container-dashboard .btn-general a.btn-help::before {
      content: none; }
  .container-payments .btn-general {
    margin-top: 252px !important; }
    .container-payments .btn-general a {
      width: 100% !important;
      padding-left: 0px !important; }
    .container-payments .btn-general a.btn-documentation::before, .container-payments .btn-general a.btn-help::before {
      content: none; }
    .container-payments .btn-general a.btn-help, .container-payments .btn-general a.btn-documentation {
      margin-bottom: 0px !important; }
  .container-payments .table-payments-transactions .box-hide, .container-payments .table-payments-transactions .title-table-payments {
    display: block !important; }
  .container-payments .table-payments-transactions .auto-convert {
    top: -5px; }
  .container-payments .table-payments-transactions .pagination, .container-payments .table-payments-transactions .dataTables_filter {
    top: 100px; }
  .container-payments .table-payments-transactions .dataTables_filter .input-large {
    width: 514px !important; }
  .table-payments-transactions .pagination {
    top: 58px;
    right: 158px;
    width: 80px; }
    .table-payments-transactions .pagination .previous {
      top: -4px;
      right: 0px; }
  .table-payments-transactions .dataTables_filter {
    top: 57px; }
  .table-payments-transactions .pagination-table {
    display: none !important; }
  .table-payments-transactions .previous::after {
    content: none; }
  .table-payments-transactions .date-in, .table-payments-transactions .date-out {
    top: 8px !important; }
  .table-payments-transactions .date-in {
    border-right: none !important;
    padding-right: 0px !important; }
  .table-payments-transactions .auto-convert {
    position: relative;
    top: 11px; }
  .table-payments-transactions .dropdown-transactions-payments {
    top: 2px; }
  .table-payments-transactions .table-responsive {
    margin-top: 52px; }
  .container-payments-tools .btn-general {
    margin-top: 10px !important; }
    .container-payments-tools .btn-general a {
      width: 245px !important;
      margin: auto !important; }
  .container-payments-tools .btn-payments-tools {
    margin-top: 30px; }
    .container-payments-tools .btn-payments-tools h3 {
      text-align: center;
      margin-top: 0px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt {
      margin: auto;
      margin-bottom: 20px; }
  .new-user-payments .table-payments-transactions .table-responsive {
    height: auto !important; }
  .left-description {
    width: 100%; }
    .left-description h3 {
      margin-top: 30px; }
  .point-sale-app .btn-payments-tools h3 {
    text-align: left; }
  .point-sale-app .btn-general {
    margin-top: 307px !important; }
  .paring-codes .box-paring-codes {
    width: 68px;
    height: 68px;
    font-size: 9px;
    padding-top: 28px; }
  .container-payments-tools .install-app {
    margin-top: 55px; }
  .payments-buttons .create-btn-checkout {
    margin-top: 30px; }
    .payments-buttons .create-btn-checkout input {
      margin-bottom: 20px; }
    .payments-buttons .create-btn-checkout .btn-general {
      margin-top: 20px !important; }
    .payments-buttons .create-btn-checkout .generate-code p {
      text-align: center;
      margin-left: 0px; }
    .payments-buttons .create-btn-checkout .generate-code h3 {
      text-align: center; }
    .payments-buttons .create-btn-checkout .generate-code .preview-button img {
      display: block;
      margin: auto; }
    .payments-buttons .create-btn-checkout .generate-code .copy-code {
      margin: auto;
      margin-top: 20px; }
    .payments-buttons .create-btn-checkout .box-generate-code {
      margin: auto;
      margin-bottom: 30px; }
  .new-bill .table-email-billing .dataTables_filter {
    display: none !important; }
  .new-bill .pagination {
    top: 27px !important;
    right: 10px !important;
    width: 80px !important; }
    .new-bill .pagination .previous {
      right: 0px !important; }
    .new-bill .pagination .previous::after {
      content: none !important; }
  .new-bill .table-email-billing .table-responsive {
    margin-top: 35px !important;
    overflow-y: scroll;
    height: 280px;
    width: 100%; }
  .new-bill .btn-general {
    margin-top: 317px !important; }
    .new-bill .btn-general a {
      width: 146px !important;
      padding-left: 0px !important;
      margin-bottom: 10px !important; }
    .new-bill .btn-general a.btn-new-bill::before, .new-bill .btn-general a.btn-draft-bill::before, .new-bill .btn-general a.btn-send-bill::before {
      content: none; }
    .new-bill .btn-general .btn-draft-bill {
      margin-bottom: 15px !important; }
    .new-bill .btn-general a::before {
      content: none !important; }
  .new-bill .title-table-payments {
    display: block !important;
    margin-right: 0px;
    text-align: center; }
  .new-bill .buyer-information {
    margin-top: 20px; }
    .new-bill .buyer-information input {
      margin-bottom: 18px; }
  .quick-check-out .form-quick-check-out {
    width: 100% !important;
    text-align: center; }
    .quick-check-out .form-quick-check-out .btn-save-changes {
      float: none;
      margin-right: 0px;
      width: 235px;
      margin: auto;
      margin-top: 20px !important; }
    .quick-check-out .form-quick-check-out input {
      margin-bottom: 30px !important; }
    .quick-check-out .form-quick-check-out .input-large {
      width: 215px; }
    .quick-check-out .form-quick-check-out .input-medium {
      width: 210px; }
    .quick-check-out .form-quick-check-out .dropdown-toggle::after {
      left: 38px; }
  .quick-check-out .left-description .view-tip-report {
    margin-top: 30px;
    margin-bottom: 30px; }
  .quick-check-out .left-description .btn-quick-checkout-general a, .quick-check-out .left-description .view-tip-report a {
    width: 100% !important;
    font-size: 10px !important;
    padding-left: 0px !important; }
  .quick-check-out .left-description .btn-quick-checkout::before, .quick-check-out .left-description .btn-view-tip a::before {
    content: none !important; }
  .sent-email-billing .btn-general {
    margin-top: 70px !important; }
  .sent-email-billing .btn-general a {
    width: 100% !important;
    padding-left: 0px !important;
    margin-bottom: 10px !important; }
  .sent-email-billing .btn-general a::before {
    content: none !important; }
  .container-settings .card-outline {
    height: 100%; }
  .container-settings .btn-fixed-bottom {
    margin-top: 30px; }
  .container-settings .btn-mg-save.fixed-btn {
    margin-top: 35px; }
  .btn-mg a.btn-settlements {
    margin-top: 100px;
    letter-spacing: 0em; }
  .form-right img.icon-cripto {
    right: 8px; }
  .container-hosted-catalog .btn-general a::before {
    left: 6px;
    content: none !important; }
  .container-hosted-catalog .btn-general a.add-item {
    width: 100%;
    color: #898989;
    font-size: 11px;
    padding-left: 2px !important; }
  .container-hosted-catalog .box-form .form-add-item .collect-buyer .btn-save-changes {
    float: none;
    margin-right: 0px;
    margin-top: 30px !important; }
  .container-hosted-catalog .copy-url .input-inline, .container-hosted-catalog .copy-url .dropdown-inline {
    display: block !important; }
  .container-hosted-catalog .copy-url .input-small, .container-hosted-catalog .copy-url .group-2 .input-medium {
    width: 285px !important; }
  .container-hosted-catalog .copy-url .dropdown-inline {
    margin-bottom: 25px; }
  .container-hosted-catalog .copy-url .large-btn-general {
    margin-top: 25px; }
  .container-settings .btn-general {
    margin-top: 20px !important; }
    .container-settings .btn-general a.btn-documentation::before, .container-settings .btn-general a.btn-help::before {
      content: none; }
    .container-settings .btn-general a {
      width: 100% !important;
      padding-left: 0px !important;
      font-size: 11px; }
  .container-settings .card-out-table table {
    position: relative !important; }
    .container-settings .card-out-table table tbody tr td:nth-child(1) a {
      position: relative !important; }
  .payments-details .left-description {
    width: 100%;
    text-align: center; }
    .payments-details .left-description p {
      text-align: center; }
    .payments-details .left-description h3 {
      width: 248px;
      margin: auto; }
    .payments-details .left-description h3 a::before {
      left: 38px; }
    .payments-details .left-description .btn-general {
      width: 200px;
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .product-comments {
    width: 100% !important; }
  .payments-refund .left-description {
    width: 100%; }
    .payments-refund .left-description .btn-general {
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
      .payments-refund .left-description .btn-general a {
        font-size: 9px; }
  .payments-refund .refund-details input {
    width: 240px; }
  .payments-refund-confirmation .left-description {
    width: 100%;
    text-align: center; }
    .payments-refund-confirmation .left-description p {
      text-align: center; }
    .payments-refund-confirmation .left-description .btn-general {
      margin: auto;
      margin-top: 86px !important;
      margin-bottom: 40px; }
      .payments-refund-confirmation .left-description .btn-general a {
        font-size: 11px; }
  .payments-refund-confirmation .refund-details-confirmation {
    padding-left: 40px; }
    .payments-refund-confirmation .refund-details-confirmation h3 {
      margin-top: 30px; }
    .payments-refund-confirmation .refund-details-confirmation input {
      font-size: 14px;
      width: 270px; }
    .payments-refund-confirmation .refund-details-confirmation .container-payments-tools.container-manage-api .description {
      width: 100%; }
    .payments-refund-confirmation .refund-details-confirmation .container-payments-tools.container-manage-api .btn-mg a.btn-slim {
      width: 198px; }
  .aproved-bill .btn-general {
    margin-top: 225px !important; }
  .container-login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    border-radius: 10px;
    height: auto; }
    .container-login .logo-mercury-gate {
      padding-top: 65px; }
    .container-login .info-login {
      padding: 78px 40px 0px 40px;
      margin-bottom: 40px; }
    .container-login input {
      width: 100% !important; }
    .container-login .bg-login {
      height: auto;
      padding-bottom: 50px; }
  .email-template .form-centered-right .info-order {
    margin-top: 1rem;
    margin-bottom: 50px; }
  .container-user-settings .btn-general {
    margin-top: 462px !important; }
    .container-user-settings .btn-general a.btn-save {
      border: 1px solid #E1E1E1;
      width: 100% !important; }
  .container-user-settings .btn-user-settings h3 {
    text-align: center; }
  .container-user-settings .btn-user-settings .box-btn {
    width: 230px;
    background-image: none;
    margin: auto;
    margin-bottom: 20px; } }

@media (min-width: 992px) and (max-width: 1099px) {
  .topbar-mg .navbar {
    padding-top: 19px; }
  header .logo-mercury-gate {
    margin-top: 24px; }
    header .logo-mercury-gate img {
      width: 112px; }
  header .nav-item {
    margin-right: 0px !important;
    width: 150px !important;
    border-right: none;
    padding: 10px 0px 15px 0px; }
  header .nav-link {
    margin-left: 0px;
    font-size: 10px; }
  header .nav-icons {
    display: none; }
  .navbar-setting {
    margin-top: -14px; }
    .navbar-setting .nav-item {
      width: auto !important; }
  .balances-dashboard .balance-ethereum, .balances-dashboard .balance-dash, .balances-dashboard .balance-bitcoin, .payments-transactions .balance-ethereum, .payments-transactions .balance-dash, .payments-transactions .balance-bitcoin {
    width: 134px !important;
    height: 90px !important; }
  .balances-dashboard .balance-ethereum::after, .balances-dashboard .balance-dash::after, .balances-dashboard .balance-bitcoin::after, .payments-transactions .balance-ethereum::after, .payments-transactions .balance-dash::after, .payments-transactions .balance-bitcoin::after {
    display: none; }
  .balances-dashboard .amount-balance p, .payments-transactions .amount-balance p {
    margin-top: 52px !important; }
  .container-dashboard .btn-general {
    margin-top: 290px !important; }
    .container-dashboard .btn-general a {
      width: 100% !important;
      padding-left: 0px !important; }
    .container-dashboard .btn-general a.btn-documentation::before, .container-dashboard .btn-general a.btn-help::before {
      content: none; }
  .table-payments-transactions .pagination, .table-email-billing .pagination {
    top: 58px !important;
    right: 158px !important;
    width: 80px !important; }
    .table-payments-transactions .pagination .previous, .table-email-billing .pagination .previous {
      top: -4px;
      right: 0px; }
  .table-payments-transactions .dataTables_filter, .table-email-billing .dataTables_filter {
    top: 57px !important; }
  .table-payments-transactions .pagination-table, .table-email-billing .pagination-table {
    display: none !important; }
  .table-payments-transactions .date-in, .table-email-billing .date-in {
    border-right: none !important;
    padding-right: 0px !important; }
  .table-payments-transactions .auto-convert, .table-email-billing .auto-convert {
    position: relative;
    top: 11px; }
  .table-payments-transactions .dropdown-transactions-payments, .table-email-billing .dropdown-transactions-payments {
    top: 2px; }
  .table-payments-transactions .table-responsive, .table-email-billing .table-responsive {
    margin-top: 52px; }
  .table-payments-transactions .previous::after, .table-email-billing .previous::after {
    content: none; }
  .table-payments-transactions .table-responsive, .table-email-billing .table-responsive {
    margin-top: 65px !important;
    overflow-y: scroll;
    height: 300px; }
  .container-payments-tools .btn-general {
    margin-top: 0px !important; }
    .container-payments-tools .btn-general a {
      width: 230px !important;
      margin: auto !important;
      margin-bottom: 15px !important; }
  .container-payments-tools .btn-payments-tools h3 {
    text-align: center;
    margin-top: 0px; }
  .container-payments-tools .box-btn-pt {
    margin: auto;
    margin-bottom: 30px !important; }
  .new-user-payments .table-payments-transactions .table-responsive {
    height: auto !important; }
  .left-description {
    width: 100%; }
  .point-sale-app .btn-payments-tools h3 {
    text-align: left; }
  .point-sale-app .btn-general {
    margin-top: 78px !important; }
    .point-sale-app .btn-general a {
      width: 196px !important;
      margin: auto !important;
      margin-bottom: 15px !important;
      padding-left: 5px !important; }
    .point-sale-app .btn-general a.btn-documentation, .point-sale-app .btn-general a.btn-help {
      padding-left: 5px !important; }
    .point-sale-app .btn-general a.btn-documentation::before, .point-sale-app .btn-general a.btn-help::before {
      content: none; }
  .paring-codes .box-paring-codes {
    width: 68px;
    height: 68px;
    font-size: 9px;
    padding-top: 28px; }
  .container-payments-tools .install-app {
    margin-top: 55px; }
  .payments-buttons .create-btn-checkout {
    margin-top: 30px; }
    .payments-buttons .create-btn-checkout input {
      margin-bottom: 20px; }
    .payments-buttons .create-btn-checkout .btn-general {
      margin-top: 20px !important; }
    .payments-buttons .create-btn-checkout .generate-code p {
      text-align: center;
      margin-left: 0px; }
    .payments-buttons .create-btn-checkout .generate-code h3 {
      text-align: center; }
    .payments-buttons .create-btn-checkout .generate-code .preview-button img {
      display: block;
      margin: auto; }
    .payments-buttons .create-btn-checkout .generate-code .copy-code {
      margin: auto;
      margin-top: 20px; }
    .payments-buttons .create-btn-checkout .box-generate-code {
      margin: auto;
      margin-bottom: 30px; }
    .payments-buttons .create-btn-checkout .input-large {
      width: 385px; }
    .payments-buttons .create-btn-checkout .input-medium {
      width: 268px; }
  .new-bill .table-email-billing .dataTables_filter {
    display: none !important; }
  .new-bill .pagination {
    top: 40px !important;
    right: 10px !important;
    width: 80px !important; }
    .new-bill .pagination .previous {
      right: 0px !important; }
    .new-bill .pagination .previous::after {
      content: none !important; }
  .new-bill .table-email-billing .table-responsive {
    margin-top: 35px !important;
    overflow-y: scroll;
    height: 280px;
    width: 100%; }
  .new-bill .btn-general {
    margin-top: 317px !important; }
    .new-bill .btn-general a {
      width: 146px !important;
      padding-left: 20px !important; }
    .new-bill .btn-general a.btn-new-bill::before {
      top: 6px;
      left: 9px; }
  .new-bill .btn-new-b a {
    width: 192px !important; }
  .new-bill .btn-new-b a.btn-draft-bill::before {
    content: url(../img/icon-new-bill-mercury-gate.png);
    top: 6px;
    left: 8px; }
  .new-bill .title-table-payments {
    display: block !important;
    margin-right: 0px;
    text-align: center; }
    .new-bill .title-table-payments h3 {
      margin-bottom: 20px; }
  .new-bill .buyer-information {
    margin-top: 20px; }
    .new-bill .buyer-information input {
      margin-bottom: 18px; }
  .quick-check-out .form-quick-check-out {
    width: 100% !important;
    text-align: center; }
    .quick-check-out .form-quick-check-out .btn-save-changes {
      float: none;
      margin-right: 0px;
      width: 235px;
      margin: auto;
      margin-top: 20px !important; }
    .quick-check-out .form-quick-check-out input {
      margin-bottom: 30px !important; }
    .quick-check-out .form-quick-check-out .input-large {
      width: 215px; }
    .quick-check-out .form-quick-check-out .input-medium {
      width: 210px; }
    .quick-check-out .form-quick-check-out .dropdown-toggle::after {
      left: 38px; }
  .quick-check-out .left-description .view-tip-report {
    margin-top: 30px;
    margin-bottom: 30px; }
  .quick-check-out .left-description .btn-quick-checkout-general a, .quick-check-out .left-description .view-tip-report a {
    width: 100% !important;
    font-size: 10px !important;
    padding-left: 0px !important; }
  .quick-check-out .left-description .btn-quick-checkout::before, .quick-check-out .left-description .btn-view-tip a::before {
    content: none !important; }
  .sent-email-billing .btn-general {
    margin-top: 40px !important; }
  .sent-email-billing .btn-general a {
    width: 100% !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important; }
  .sent-email-billing .btn-general a::before {
    content: none !important; }
  .container-hosted-catalog .box-form .form-add-item .collect-buyer .btn-save-changes {
    float: none;
    margin-right: 0px;
    margin-top: 30px !important; }
  .container-hosted-catalog .box-form .form-add-item .input-small {
    width: 265px; }
  .container-hosted-catalog .copy-url .input-inline, .container-hosted-catalog .copy-url .dropdown-inline {
    display: block !important; }
  .container-hosted-catalog .copy-url .input-small, .container-hosted-catalog .copy-url .group-2 .input-medium {
    width: 285px !important; }
  .container-hosted-catalog .copy-url .dropdown-inline {
    margin-bottom: 25px; }
  .container-hosted-catalog .copy-url .large-btn-general {
    margin-top: 25px; }
  .container-payments .table-payments-transactions .auto-convert {
    top: -5px; }
  .container-payments .table-payments-transactions .pagination, .container-payments .table-payments-transactions .dataTables_filter {
    top: 100px; }
  .container-payments .table-payments-transactions .dataTables_filter .input-large {
    width: 514px !important; }
  .payments-details .left-description {
    width: 100%;
    text-align: center; }
    .payments-details .left-description p {
      text-align: center; }
    .payments-details .left-description h3 {
      width: 248px;
      margin: auto; }
    .payments-details .left-description h3 a::before {
      left: 38px; }
    .payments-details .left-description .btn-general {
      width: 200px;
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .product-comments {
    width: 100% !important; }
  .payments-refund .left-description {
    width: 100%; }
    .payments-refund .left-description .btn-general {
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
      .payments-refund .left-description .btn-general a {
        font-size: 9px; }
  .payments-refund .refund-details input {
    width: 240px; }
  .payments-refund-confirmation .left-description {
    width: 100%;
    text-align: center; }
    .payments-refund-confirmation .left-description p {
      text-align: center; }
    .payments-refund-confirmation .left-description .btn-general {
      margin: auto;
      margin-top: 65px !important;
      margin-bottom: 40px; }
      .payments-refund-confirmation .left-description .btn-general a {
        font-size: 11px; }
  .payments-refund-confirmation .refund-details-confirmation {
    padding-left: 40px; }
    .payments-refund-confirmation .refund-details-confirmation h3 {
      margin-top: 30px; }
    .payments-refund-confirmation .refund-details-confirmation input {
      font-size: 14px;
      width: 270px; }
  .tooltip-inner {
    position: relative;
    left: -106px;
    top: -10px; }
  .container-login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    border-radius: 10px;
    height: auto; }
    .container-login .logo-mercury-gate {
      padding-top: 65px; }
    .container-login .info-login {
      padding: 78px 40px 0px 40px;
      margin-bottom: 40px; }
    .container-login input {
      width: 100% !important; }
    .container-login .bg-login {
      height: auto;
      padding-bottom: 50px; }
  .email-template.modal-dialog.modal-xl {
    max-width: 882px; }
  .container-user-settings .btn-user-settings .box-btn {
    width: 275px; }
  .container-user-settings .btn-user-settings .box-btn.btn-1 {
    background-size: 53px 51px;
    background-position: 206px 24px; }
  .container-user-settings .btn-user-settings .box-btn.btn-2 {
    background-size: 48px 58px;
    background-position: 196px 19px; }
  .container-user-settings .btn-user-settings .box-btn.btn-3 {
    background-size: 46px 17px;
    background-position: 220px 44px; }
  .container-user-settings .btn-user-settings .box-btn.btn-4 {
    background-position: 190px 14px; } }

@media (min-width: 1100px) and (max-width: 1199px) {
  .container-dashboard .btn-general {
    margin-top: 260px !important; }
  .table-payments-transactions .pagination, .table-email-billing .pagination {
    top: 13px !important;
    right: 46px !important;
    width: 80px !important; }
    .table-payments-transactions .pagination .previous, .table-email-billing .pagination .previous {
      top: -4px;
      right: 0px; }
  .table-payments-transactions .dataTables_filter, .table-email-billing .dataTables_filter {
    top: 57px !important;
    display: none !important; }
  .table-payments-transactions .pagination-table, .table-email-billing .pagination-table {
    display: none !important; }
  .table-payments-transactions .date-in, .table-payments-transactions .date-out, .table-email-billing .date-in, .table-email-billing .date-out {
    top: 8px !important; }
  .table-payments-transactions .date-in, .table-email-billing .date-in {
    border-right: none !important;
    padding-right: 0px !important; }
  .table-payments-transactions .auto-convert, .table-email-billing .auto-convert {
    position: relative;
    top: 11px; }
  .table-payments-transactions .dropdown-transactions-payments, .table-email-billing .dropdown-transactions-payments {
    top: 2px; }
  .table-payments-transactions .previous::after, .table-email-billing .previous::after {
    content: none; }
  .table-payments-transactions .dropdown-transactions-payments button, .table-email-billing .dropdown-transactions-payments button {
    width: 123px !important; }
  .table-payments-transactions .dropdown-transactions-payments .dropdown-toggle::after, .table-email-billing .dropdown-transactions-payments .dropdown-toggle::after {
    left: 6px; }
  .container-payments-tools .btn-general {
    margin-top: 0px !important; }
    .container-payments-tools .btn-general a {
      width: 230px !important;
      margin: auto !important;
      margin-bottom: 15px !important; }
  .container-payments-tools .btn-payments-tools h3 {
    text-align: center;
    margin-top: 0px; }
  .container-payments-tools .box-btn-pt {
    margin: auto;
    margin-bottom: 30px !important; }
  .point-sale-app .btn-payments-tools h3 {
    text-align: left; }
  .point-sale-app .btn-general {
    margin-top: 165px !important; }
    .point-sale-app .btn-general a {
      width: 196px !important;
      margin: auto !important;
      margin-bottom: 0px !important;
      padding-left: 5px !important; }
    .point-sale-app .btn-general a.btn-documentation, .point-sale-app .btn-general a.btn-help {
      padding-left: 5px !important; }
    .point-sale-app .btn-general a.btn-documentation::before, .point-sale-app .btn-general a.btn-help::before {
      content: none; }
  .payments-buttons .left-description {
    width: 100% !important; }
  .payments-buttons .create-btn-checkout {
    margin-top: 30px; }
    .payments-buttons .create-btn-checkout input {
      margin-bottom: 20px; }
    .payments-buttons .create-btn-checkout .btn-general {
      margin-top: 20px !important; }
    .payments-buttons .create-btn-checkout .generate-code p {
      text-align: center;
      margin-left: 0px; }
    .payments-buttons .create-btn-checkout .generate-code h3 {
      text-align: center; }
    .payments-buttons .create-btn-checkout .generate-code .preview-button img {
      display: block;
      margin: auto; }
    .payments-buttons .create-btn-checkout .generate-code .copy-code {
      margin: auto;
      margin-top: 20px; }
    .payments-buttons .create-btn-checkout .box-generate-code {
      margin: auto;
      margin-bottom: 30px; }
  .new-bill .btn-general {
    margin-top: 605px !important; }
  .new-bill .table-email-billing .dataTables_filter {
    display: none !important; }
  .new-bill .table-email-billing .dropdown-transactions-payments button {
    width: 120px !important; }
  .new-bill .table-email-billing .dropdown-transactions-payments .dropdown-toggle::after {
    left: 6px; }
  .new-bill .table-email-billing .dropdown-menu {
    width: 120px !important;
    min-width: 100px !important; }
  .new-bill .table-email-billing .filter-general .date-in {
    margin-left: 0px; }
  .new-bill .table-email-billing .pagination {
    right: 0px !important; }
  .bill-details .btn-general {
    margin-top: 198px !important; }
  .tooltip-inner {
    left: -10px;
    top: -10px; }
  .quick-check-out .form-quick-check-out {
    width: 100% !important;
    text-align: center; }
    .quick-check-out .form-quick-check-out .btn-save-changes {
      float: none;
      margin-right: 0px;
      width: 235px;
      margin: auto;
      margin-top: 20px !important; }
    .quick-check-out .form-quick-check-out input {
      margin-bottom: 30px !important; }
    .quick-check-out .form-quick-check-out .input-large {
      width: 215px; }
    .quick-check-out .form-quick-check-out .input-medium {
      width: 210px; }
    .quick-check-out .form-quick-check-out .dropdown-toggle::after {
      left: 38px; }
  .quick-check-out .left-description .view-tip-report {
    margin-top: 105px;
    margin-bottom: 30px; }
  .quick-check-out .left-description .btn-quick-checkout-general a, .quick-check-out .left-description .view-tip-report a {
    width: 100% !important;
    font-size: 10px !important;
    padding-left: 0px !important; }
  .quick-check-out .left-description .btn-quick-checkout::before, .quick-check-out .left-description .btn-view-tip a::before {
    content: none !important; }
  .sent-email-billing .btn-general {
    margin-top: 40px !important; }
  .sent-email-billing .btn-general a {
    width: 100% !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important; }
  .sent-email-billing .btn-general a::before {
    content: none !important; }
  .copy-url .input-medium {
    width: 216px !important; }
  .copy-url .input-small {
    width: 216px !important; }
  .copy-url .dropdown-inline {
    margin-bottom: 25px; }
  .copy-url .large-btn-general {
    margin-top: 25px; }
  .hosted-add-item .box-form .form-add-item .collect-buyer .btn-save-changes {
    float: none !important;
    margin-top: 20px !important; }
  .container-payments .table-payments-transactions .auto-convert, .container-payments .table-payments-transactions .table-email-billing .auto-convert {
    position: relative;
    top: -8px; }
  .payments-details .left-description {
    width: 100%;
    text-align: center; }
    .payments-details .left-description p {
      text-align: center; }
    .payments-details .left-description h3 {
      width: 248px;
      margin: auto; }
    .payments-details .left-description h3 a::before {
      left: 38px; }
    .payments-details .left-description .btn-general {
      width: 200px;
      margin: auto;
      margin-top: 40px !important;
      margin-bottom: 40px; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .product-comments {
    width: 100% !important; }
  .container-login {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 90%;
    border-radius: 10px;
    height: auto; }
    .container-login .logo-mercury-gate {
      padding-top: 65px; }
    .container-login .info-login {
      padding: 78px 40px 0px 40px;
      margin-bottom: 40px; }
    .container-login input {
      width: 100% !important; }
    .container-login .bg-login {
      height: auto;
      padding-bottom: 50px; }
  .container-user-settings .btn-user-settings .box-btn {
    width: 300px; }
  .container-user-settings .btn-user-settings .box-btn.btn-1 {
    background-size: 53px 51px;
    background-position: 223px 24px; }
  .container-user-settings .btn-user-settings .box-btn.btn-2 {
    background-size: 48px 58px;
    background-position: 231px 19px; }
  .container-user-settings .btn-user-settings .box-btn.btn-3 {
    background-size: 66px 25px;
    background-position: 220px 38px; }
  .container-user-settings .btn-user-settings .box-btn.btn-4 {
    background-position: 210px 14px; } }

@media (min-width: 1200px) and (max-width: 1280px) {
  header .logo-mercury-gate {
    margin-top: 24px; }
    header .logo-mercury-gate img {
      width: 112px; }
  header .nav-item {
    margin-right: 0px !important;
    width: 150px !important;
    border-right: none;
    padding: 10px 0px 15px 0px; }
  header .nav-link {
    margin-left: 0px;
    font-size: 10px; }
  header .nav-icons {
    display: none; }
  .navbar-setting {
    margin-top: -14px; }
    .navbar-setting .nav-item {
      width: auto !important; }
  .container-dashboard .btn-general {
    margin-top: 260px !important; }
  .table-payments-transactions .pagination, .table-email-billing .pagination {
    top: 12px !important;
    right: 158px !important;
    width: 80px !important; }
    .table-payments-transactions .pagination .previous, .table-email-billing .pagination .previous {
      top: -4px !important;
      right: 0px !important; }
    .table-payments-transactions .pagination .previous::after, .table-email-billing .pagination .previous::after {
      content: none; }
  .table-payments-transactions .dataTables_filter, .table-email-billing .dataTables_filter {
    top: 12px; }
  .table-payments-transactions .pagination-table, .table-email-billing .pagination-table {
    display: none !important; }
  .table-payments-transactions .date-in, .table-payments-transactions .date-out, .table-email-billing .date-in, .table-email-billing .date-out {
    top: 8px !important; }
  .table-payments-transactions .date-in, .table-email-billing .date-in {
    border-right: none !important;
    padding-right: 0px !important;
    margin-left: 0px !important; }
  .table-payments-transactions .auto-convert, .table-email-billing .auto-convert {
    position: relative;
    top: 11px; }
  .table-payments-transactions .dropdown-transactions-payments, .table-email-billing .dropdown-transactions-payments {
    top: 2px; }
  .table-payments-transactions .table-responsive, .table-email-billing .table-responsive {
    margin-top: 10px; }
  .table-payments-transactions .title-table-payments, .table-email-billing .title-table-payments {
    margin-right: 10px !important; }
  .table-payments-transactions .previous::after, .table-email-billing .previous::after {
    content: none; }
  .table-payments-transactions .dropdown-transactions-payments button, .table-email-billing .dropdown-transactions-payments button {
    width: 140px !important; }
  .table-payments-transactions .dropdown-menu, .table-email-billing .dropdown-menu {
    min-width: 140px; }
  .table-payments-transactions .dropdown-toggle::after, .table-email-billing .dropdown-toggle::after {
    left: 25px !important; }
  .container-payments-tools .btn-payments-tools .box-btn-pt {
    width: 240px; }
    .container-payments-tools .btn-payments-tools .box-btn-pt p {
      width: 163px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-1 {
    background-size: 40px 40px;
    background-position: 182px 33px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-2 {
    background-size: 32px 40px;
    background-position: 189px 36px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-3 {
    background-size: 40px 40px;
    background-position: 176px 38px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-4 {
    background-size: 40px 34px;
    background-position: 176px 38px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-5 {
    background-size: 31px 31px;
    background-position: 187px 38px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-6 {
    background-size: 40px 40px;
    background-position: 176px 25px; }
  .container-payments-tools .btn-payments-tools .box-btn-pt.btn-7 {
    background-size: 40px 40px;
    background-position: 176px 35px; }
  .container-payments-tools .create-btn-checkout .input-large {
    width: 330px; }
  .container-payments-tools .create-btn-checkout .input-medium {
    width: 240px; }
  .payments-buttons .btn-general {
    margin-top: 20px !important; }
  .payments-buttons .generate-code .box-generate-code {
    width: 100% !important; }
  .payments-buttons input {
    margin-bottom: 25px; }
  .new-bill .table-email-billing .dropdown-transactions-payments button {
    width: 138px !important; }
  .new-bill .table-email-billing .dropdown-toggle::after {
    left: 3px !important; }
  .quick-check-out .form-quick-check-out {
    width: 100% !important;
    text-align: center; }
    .quick-check-out .form-quick-check-out .btn-save-changes {
      float: none;
      margin-right: 0px;
      width: 235px;
      margin: auto;
      margin-top: 20px !important; }
    .quick-check-out .form-quick-check-out input {
      margin-bottom: 30px !important; }
    .quick-check-out .form-quick-check-out .input-large {
      width: 215px; }
    .quick-check-out .form-quick-check-out .input-medium {
      width: 210px; }
    .quick-check-out .form-quick-check-out .dropdown-toggle::after {
      left: 38px; }
  .quick-check-out .left-description .view-tip-report {
    margin-top: 30px;
    margin-bottom: 30px; }
  .quick-check-out .left-description .btn-quick-checkout-general a, .quick-check-out .left-description .view-tip-report a {
    width: 100% !important;
    font-size: 10px !important;
    padding-left: 0px !important; }
  .quick-check-out .left-description .btn-quick-checkout::before, .quick-check-out .left-description .btn-view-tip a::before {
    content: none !important; }
  .sent-email-billing .btn-general {
    margin-top: 40px !important; }
  .sent-email-billing .btn-general a {
    width: 100% !important;
    padding-left: 0px !important;
    margin-bottom: 0px !important; }
  .sent-email-billing .btn-general a::before {
    content: none !important; }
  .container-hosted-catalog .box-form .form-add-item .collect-buyer .btn-save-changes {
    float: none;
    margin-right: 0px;
    margin-top: 30px !important; }
  .container-hosted-catalog .box-form .form-add-item .input-medium {
    width: 248px; }
  .container-hosted-catalog .box-form .form-add-item .input-small {
    width: 240px; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .left-description .btn-general {
    margin-top: 283px !important; }
  .icon-help::before {
    position: relative;
    left: 60px;
    top: 24px; } }

@media (min-width: 1200px) and (max-width: 1280px) {
  header .logo-mercury-gate {
    margin-top: 24px; }
    header .logo-mercury-gate img {
      width: 112px; }
  header .nav-item {
    margin-right: 0px !important;
    width: 150px !important;
    border-right: none;
    padding: 10px 0px 15px 0px; }
  header .nav-link {
    margin-left: 0px;
    font-size: 10px; }
  header .nav-icons {
    display: none; }
  .navbar-setting {
    margin-top: -14px; }
    .navbar-setting .nav-item {
      width: auto !important; }
  .container-dashboard .btn-general {
    margin-top: 280px !important; }
  .container-dashboard .btn-general a {
    width: 100% !important; }
  .container-dashboard a.btn-documentation, .container-dashboard a.btn-help {
    padding-left: 14px !important; }
  .table-payments-transactions .pagination, .table-email-billing .pagination {
    top: 12px !important;
    right: 158px !important;
    width: 80px !important; }
    .table-payments-transactions .pagination .previous, .table-email-billing .pagination .previous {
      top: -4px !important;
      right: 0px !important; }
    .table-payments-transactions .pagination .previous::after, .table-email-billing .pagination .previous::after {
      content: none; }
  .table-payments-transactions .dataTables_filter, .table-email-billing .dataTables_filter {
    top: 12px; }
  .table-payments-transactions .pagination-table, .table-email-billing .pagination-table {
    display: none !important; }
  .table-payments-transactions .date-in, .table-payments-transactions .date-out, .table-email-billing .date-in, .table-email-billing .date-out {
    top: 8px !important; }
  .table-payments-transactions .date-in, .table-email-billing .date-in {
    border-right: none !important;
    padding-right: 0px !important;
    margin-left: 0px !important; }
  .table-payments-transactions .auto-convert, .table-email-billing .auto-convert {
    position: relative;
    top: 11px; }
  .table-payments-transactions .dropdown-transactions-payments, .table-email-billing .dropdown-transactions-payments {
    top: 2px; }
  .table-payments-transactions .table-responsive, .table-email-billing .table-responsive {
    margin-top: 10px; }
  .table-payments-transactions .title-table-payments, .table-email-billing .title-table-payments {
    margin-right: 10px !important; }
  .table-payments-transactions .previous::after, .table-email-billing .previous::after {
    content: none; }
  .container-payments .table-payments-transactions .auto-convert, .container-payments .table-payments-transactions .table-email-billing .auto-convert {
    position: relative;
    top: -8px; }
  .container-payments .table-payments-transactions .dataTables_filter .input-large {
    width: 620px !important; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .left-description .btn-general {
    margin-top: 283px !important; } }

@media (min-width: 1281px) and (max-width: 1365px) {
  .container-dashboard .btn-general {
    margin-top: 280px !important; }
  .container-dashboard .btn-general a {
    width: 100% !important; }
  .container-dashboard a.btn-documentation, .container-dashboard a.btn-help {
    padding-left: 14px !important; }
  .table-payments-transactions .pagination {
    top: 12px;
    right: 158px;
    width: 80px; }
    .table-payments-transactions .pagination .previous {
      top: -4px;
      right: 0px; }
  .table-payments-transactions .dataTables_filter {
    top: 12px; }
  .table-payments-transactions .pagination-table {
    display: none !important; }
  .table-payments-transactions .date-in, .table-payments-transactions .date-out {
    top: 8px !important; }
  .table-payments-transactions .date-in {
    border-right: none !important;
    padding-right: 0px !important; }
  .table-payments-transactions .auto-convert {
    position: relative;
    top: 11px; }
  .table-payments-transactions .dropdown-transactions-payments {
    top: 2px; }
  .table-payments-transactions .table-responsive {
    margin-top: 10px; }
  .table-payments-transactions .title-table-payments {
    margin-right: 10px; }
  .table-payments-transactions .dropdown-transactions-payments button, .table-payments-transactions .dropdown-transactions-payments {
    width: 148px !important; }
    .table-payments-transactions .dropdown-transactions-payments button .dropdown-toggle::after, .table-payments-transactions .dropdown-transactions-payments .dropdown-toggle::after {
      left: 28px; }
  .table-payments-transactions .previous::after {
    content: none; }
  .payments-buttons .create-btn-checkout .input-large {
    width: 330px; }
  .payments-buttons .create-btn-checkout .input-medium {
    width: 240px; }
  .payments-buttons .create-btn-checkout .box-generate-code {
    width: 100% !important; }
  .new-bill .btn-general {
    margin-top: 605px !important; }
  .new-bill .table-email-billing .dataTables_filter {
    display: none !important; }
  .new-bill .pagination {
    right: 48px !important; }
  .container-hosted-catalog .box-form .form-add-item .collect-buyer .btn-save-changes {
    float: none;
    margin-right: 0px;
    margin-top: 30px !important; }
  .container-hosted-catalog .box-form .form-add-item .input-medium {
    width: 248px; }
  .container-hosted-catalog .box-form .form-add-item .input-small {
    width: 240px; }
  .container-payments .table-payments-transactions .auto-convert, .container-payments .table-payments-transactions .table-email-billing .auto-convert {
    position: relative;
    top: -8px; }
  .container-payments .table-payments-transactions .dataTables_filter .input-large {
    width: 620px !important; }
  .payments-details .input-inline {
    margin-bottom: 35px; }
  .payments-details .left-description .btn-general {
    margin-top: 278px !important; } }

@media (min-width: 1440px) and (max-width: 3000px) {
  .container-general, header .container-fluid, #navbar-mc, .topbar-mg .container-fluid, .container-payments, .container-email-billing {
    width: 1440px;
    margin: auto; }
  .hosted-add-item .box-form .form-add-item .input-small {
    width: 189px !important; }
  .hosted-add-item .box-form .form-add-item .group-2 .input-medium {
    width: 250px !important; }
  .hosted-add-item .box-form .form-add-item .input-medium {
    width: 300px !important; } }
